<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HY_YQYL_FX1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{118,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>HY_YQYL_FX2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,387},{126,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{126,116}}</string>
                <key>sourceSize</key>
                <string>{126,120}</string>
            </dict>
            <key>HY_YQYL_FX3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>HY_YQYL_TB_ylq.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,230},{137,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,96}}</string>
                <key>sourceSize</key>
                <string>{137,96}</string>
            </dict>
            <key>HY_YQYL_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>HY_YQYL_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,369},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>HY_YQYL_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,505},{26,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,5}}</string>
                <key>sourceSize</key>
                <string>{26,5}</string>
            </dict>
            <key>HY_YQYL_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,369},{45,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,10}}</string>
                <key>sourceSize</key>
                <string>{45,10}</string>
            </dict>
            <key>HY_YQYL_txk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{225,226}}</string>
                <key>sourceSize</key>
                <string>{227,226}</string>
            </dict>
            <key>headMoban_mo.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>headMoban_ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yaoqing.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46690bbc9e0461ac0b706cb967c3eb02$</string>
            <key>textureFileName</key>
            <string>yaoqing.png</string>
        </dict>
    </dict>
</plist>
