<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mall/GYZY_TC_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{374,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{374,168}}</string>
                <key>sourceSize</key>
                <string>{376,168}</string>
            </dict>
            <key>mall/SC_TB_buqianka.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,88},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>mall/SC_TB_jinbi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,212},{122,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{122,94}}</string>
                <key>sourceSize</key>
                <string>{126,98}</string>
            </dict>
            <key>mall/SC_TB_jinbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,308},{104,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,112}</string>
            </dict>
            <key>mall/SC_TB_jipaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,308},{104,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,114}</string>
            </dict>
            <key>mall/SC_TB_laba1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,202},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>mall/SC_TB_remai.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,308},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>mall/SC_biaoti_cfdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{946,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{946,84}}</string>
                <key>sourceSize</key>
                <string>{946,88}</string>
            </dict>
            <key>mall/SC_biaoti_cfdi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{198,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,40}}</string>
                <key>sourceSize</key>
                <string>{198,40}</string>
            </dict>
            <key>mall/SC_biaoti_cfdi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,88},{132,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,122}}</string>
                <key>sourceSize</key>
                <string>{132,122}</string>
            </dict>
            <key>mall/SC_biaoti_cfdi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,276},{360,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{360,154}}</string>
                <key>sourceSize</key>
                <string>{362,154}</string>
            </dict>
            <key>mall/SC_biaoti_cfdi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,410},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>mall/SC_biaoti_cfdi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,432},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>mall/SC_biaoti_cfdi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,424},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,36}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>mall/SC_yuekasm.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,420},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>mall/vip_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{758,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{758,186}}</string>
                <key>sourceSize</key>
                <string>{760,186}</string>
            </dict>
            <key>mall/vip_hongse.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,378},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>mall/vip_lanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,432},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mall.png</string>
            <key>size</key>
            <string>{1023,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f16185bc392fe22bb7a3d4749c9d1672:a71325397ce0ed6141ca40e818a9241f:034985271018ecfdd2147641cfe56066$</string>
            <key>textureFileName</key>
            <string>mall.png</string>
        </dict>
    </dict>
</plist>
