<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DPJM_touxiangdikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,57},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>YXC_TB_tg.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{128,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,107}}</string>
                <key>sourceSize</key>
                <string>{128,107}</string>
            </dict>
            <key>bg9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{72,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,109}}</string>
                <key>sourceSize</key>
                <string>{72,109}</string>
            </dict>
            <key>bg_bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{485,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,53}}</string>
                <key>sourceSize</key>
                <string>{485,53}</string>
            </dict>
            <key>bg_bottom_bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,57},{140,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,53}}</string>
                <key>sourceSize</key>
                <string>{140,53}</string>
            </dict>
            <key>bg_bottom_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,57},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>btn_tui_chu.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{168,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,71}}</string>
                <key>sourceSize</key>
                <string>{168,71}</string>
            </dict>
            <key>icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{50,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>icon_zuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,57},{54,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,47}}</string>
                <key>sourceSize</key>
                <string>{54,47}</string>
            </dict>
            <key>line_ben_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{2,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,60}}</string>
                <key>sourceSize</key>
                <string>{2,60}</string>
            </dict>
            <key>red_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,57},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>task_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{118,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,73}}</string>
                <key>sourceSize</key>
                <string>{118,73}</string>
            </dict>
            <key>text_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,111},{13,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,6}}</string>
                <key>sourceSize</key>
                <string>{13,6}</string>
            </dict>
            <key>tips_match.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{71,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,78}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gd.png</string>
            <key>size</key>
            <string>{1011,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d6afb20b1b3ab80e1ca7ece6cfc0cde:8fd146a58e1f1e149d839d89c272cf69:d13dc9f68db467569aced6e1e67bfcb2$</string>
            <key>textureFileName</key>
            <string>gd.png</string>
        </dict>
    </dict>
</plist>
