<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xcdcj_fenlanx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,570},{2,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,50}}</string>
                <key>sourceSize</key>
                <string>{2,50}</string>
            </dict>
            <key>xcdcj_jinbidb.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,728},{180,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,40}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>xcdcj_renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{228,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,408}}</string>
                <key>sourceSize</key>
                <string>{228,408}</string>
            </dict>
            <key>xydcj_XYDCJ_JP_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,728},{170,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,236}}</string>
                <key>sourceSize</key>
                <string>{170,236}</string>
            </dict>
            <key>xydcj_XYDCJ_JP_dk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,816},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>xydcj_XYDCJ_JP_dkgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,728},{126,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xydcj_XYDCJ_JP_dkgx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,860},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>xydcj_XYDCJ_btn_xk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,888},{166,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,76}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>xydcj_XYDCJ_btn_xk1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,808},{166,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{168,78}</string>
            </dict>
            <key>xydcj_XYDCJ_btn_xk2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,728},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>xydcj_XYDCJ_deng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,570},{171,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,244}}</string>
                <key>sourceSize</key>
                <string>{171,244}</string>
            </dict>
            <key>xydcj_XYDCJ_wk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1150,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1150,566}}</string>
                <key>sourceSize</key>
                <string>{1150,566}</string>
            </dict>
            <key>xydcj_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{936,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{936,156}}</string>
                <key>sourceSize</key>
                <string>{936,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xydcj.png</string>
            <key>size</key>
            <string>{1154,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e84a517bf33444108fef3343c561ed70$</string>
            <key>textureFileName</key>
            <string>xydcj.png</string>
        </dict>
    </dict>
</plist>
