<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xydzp/xydzp_TB_jiangpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,161},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,41},{74,80}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>xydzp/xydzp_TB_jinb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{102,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,40},{102,84}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>xydzp/xydzp_TB_zisezuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,2},{98,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,44},{98,74}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>xydzp/xydzp_icon_choujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,78},{81,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,91}}</string>
                <key>sourceSize</key>
                <string>{81,91}</string>
            </dict>
            <key>xydzp/xydzp_jindutiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,208},{276,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{276,25}}</string>
                <key>sourceSize</key>
                <string>{278,27}</string>
            </dict>
            <key>xydzp/xydzp_jindutiao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,179},{278,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,27}}</string>
                <key>sourceSize</key>
                <string>{278,27}</string>
            </dict>
            <key>xydzp/xydzp_pukepai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{159,228}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{159,228}}</string>
                <key>sourceSize</key>
                <string>{175,244}</string>
            </dict>
            <key>xydzp/xydzp_pukepai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{159,228}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{159,228}}</string>
                <key>sourceSize</key>
                <string>{175,244}</string>
            </dict>
            <key>xydzp/xydzp_pukepai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{169,238}}</string>
                <key>sourceSize</key>
                <string>{175,244}</string>
            </dict>
            <key>xydzp/xydzp_pukepai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{175,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,244}}</string>
                <key>sourceSize</key>
                <string>{175,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xydzp3.png</string>
            <key>size</key>
            <string>{952,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d533fafb49609a3c9cf358bb01b80009:2328c3bd2ca3b430f2785a2dc4168579:d8448e8196ee380bc7672227809d3497$</string>
            <key>textureFileName</key>
            <string>xydzp3.png</string>
        </dict>
    </dict>
</plist>
