<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xydzp/XYDCJ_CJ_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1068,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1068,320}}</string>
                <key>sourceSize</key>
                <string>{1068,320}</string>
            </dict>
            <key>xydzp/XYDCJ_JP_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1251},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>xydzp/XYDCJ_JP_dk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1553},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>xydzp/XYDCJ_JP_dkgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1665},{96,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{96,98}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>xydzp/XYDCJ_JP_dkgx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1763},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{96,98}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>xydzp/XYDCJ_btn_choujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{304,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,146}}</string>
                <key>sourceSize</key>
                <string>{304,146}</string>
            </dict>
            <key>xydzp/XYDCJ_btn_xk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1665},{177,63}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,63}}</string>
                <key>sourceSize</key>
                <string>{177,69}</string>
            </dict>
            <key>xydzp/XYDCJ_btn_xk1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1072},{177,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,69}}</string>
                <key>sourceSize</key>
                <string>{177,69}</string>
            </dict>
            <key>xydzp/XYDCJ_btn_xk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1861},{177,63}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,63}}</string>
                <key>sourceSize</key>
                <string>{177,69}</string>
            </dict>
            <key>xydzp/XYDCJ_btn_xk2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1861},{177,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,69}}</string>
                <key>sourceSize</key>
                <string>{177,69}</string>
            </dict>
            <key>xydzp/XYDCJ_deng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,340},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>xydzp/XYDCJ_deng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,340},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>xydzp/XYDCJ_deng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{171,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,244}}</string>
                <key>sourceSize</key>
                <string>{171,244}</string>
            </dict>
            <key>xydzp/XYDCJ_wk.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1393},{162,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,158}}</string>
                <key>sourceSize</key>
                <string>{162,158}</string>
            </dict>
            <key>xydzp/XYDCJ_wz_choujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{132,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,60}}</string>
                <key>sourceSize</key>
                <string>{132,60}</string>
            </dict>
            <key>xydzp/biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1393},{638,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,216}}</string>
                <key>sourceSize</key>
                <string>{638,216}</string>
            </dict>
            <key>xydzp/jinbidb.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,136},{202,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,42}}</string>
                <key>sourceSize</key>
                <string>{202,42}</string>
            </dict>
            <key>xydzp/xydzp_XYDCJ2_CJ_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1068,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1068,320}}</string>
                <key>sourceSize</key>
                <string>{1068,320}</string>
            </dict>
            <key>xydzp/xydzp_XYDCJ2_JP_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1251},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>xydzp/xydzp_XYDCJ2_JP_dk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1553},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>xydzp/xydzp_XYDCJ2_JP_dkgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1665},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>xydzp/xydzp_XYDCJ2_JP_dkgx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1763},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>xydzp/xydzp_XYDCJ2_btn_choujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{304,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,146}}</string>
                <key>sourceSize</key>
                <string>{304,146}</string>
            </dict>
            <key>xydzp/xydzp_XYDCJ2_deng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,340},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>xydzp/xydzp_XYDCJ2_deng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,340},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>xydzp/xydzp_XYDCJ2_deng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{171,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,244}}</string>
                <key>sourceSize</key>
                <string>{171,244}</string>
            </dict>
            <key>xydzp/xydzp_XYDCJ2_wk.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1393},{162,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,158}}</string>
                <key>sourceSize</key>
                <string>{162,158}</string>
            </dict>
            <key>xydzp/xydzp_XYDCJ2_wz_choujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{132,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,60}}</string>
                <key>sourceSize</key>
                <string>{132,60}</string>
            </dict>
            <key>xydzp/xydzp_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1393},{638,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,216}}</string>
                <key>sourceSize</key>
                <string>{638,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xydzp2.png</string>
            <key>size</key>
            <string>{386,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dad61766655eb076547ebed743b912be:5705ae589d8e893488ba7a75daa50585:f5a3fede835a51cad657e6cb297a8a47$</string>
            <key>textureFileName</key>
            <string>xydzp2.png</string>
        </dict>
    </dict>
</plist>
