<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BCBM_DK_TX.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,556},{180,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,215}}</string>
                <key>sourceSize</key>
                <string>{180,215}</string>
            </dict>
            <key>BCBM_DK_TX2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,374},{106,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,108}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>BCBM_IMG_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,578},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>BCBM_IMG_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,654},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>BCBM_IMG_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,183},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BCBM_IMG_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,650},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{46,52}</string>
            </dict>
            <key>BCBM_IMG_TX.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,453},{100,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,82}}</string>
                <key>sourceSize</key>
                <string>{100,82}</string>
            </dict>
            <key>BCBM_IMG_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,712},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>BCBM_JSXZ_DK.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{314,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,27}}</string>
                <key>sourceSize</key>
                <string>{314,27}</string>
            </dict>
            <key>BCBM_XZ_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,780}}</string>
                <key>sourceSize</key>
                <string>{720,780}</string>
            </dict>
            <key>BCBM_XZ_DK.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,773},{171,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,33}}</string>
                <key>sourceSize</key>
                <string>{171,33}</string>
            </dict>
            <key>BCBM_YZ_TX.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,91},{457,463}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,463}}</string>
                <key>sourceSize</key>
                <string>{457,463}</string>
            </dict>
            <key>BCBM_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{1062,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1062,87}}</string>
                <key>sourceSize</key>
                <string>{1062,87}</string>
            </dict>
            <key>BCBM_bottom_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,205},{630,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,29}}</string>
                <key>sourceSize</key>
                <string>{630,29}</string>
            </dict>
            <key>BCBM_ludan_DK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,91},{112,617}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,617}}</string>
                <key>sourceSize</key>
                <string>{112,617}</string>
            </dict>
            <key>ZZL_TX_heheda.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,452},{72,104}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,104}}</string>
                <key>sourceSize</key>
                <string>{76,108}</string>
            </dict>
            <key>hongzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,523},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>hongzhong_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,628},{102,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>huode_1w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,236},{106,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,136}}</string>
                <key>sourceSize</key>
                <string>{106,136}</string>
            </dict>
            <key>huode_2w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,236},{106,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,144}}</string>
                <key>sourceSize</key>
                <string>{106,144}</string>
            </dict>
            <key>huode_3w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,75},{106,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,144}}</string>
                <key>sourceSize</key>
                <string>{106,144}</string>
            </dict>
            <key>huode_4w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,344},{106,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,144}}</string>
                <key>sourceSize</key>
                <string>{106,144}</string>
            </dict>
            <key>huode_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,705},{92,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,102}}</string>
                <key>sourceSize</key>
                <string>{92,102}</string>
            </dict>
            <key>huode_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,183},{104,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,118}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>huode_majiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,236},{136,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,192}}</string>
                <key>sourceSize</key>
                <string>{136,192}</string>
            </dict>
            <key>huode_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,453},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,116}}</string>
                <key>sourceSize</key>
                <string>{98,116}</string>
            </dict>
            <key>huode_xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,526},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>huoqu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,630},{75,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,72}}</string>
                <key>sourceSize</key>
                <string>{75,72}</string>
            </dict>
            <key>img_standup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,2},{168,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,71}}</string>
                <key>sourceSize</key>
                <string>{168,71}</string>
            </dict>
            <key>lvzhong_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,712},{102,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>majiang_bg_lishiijlu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,484},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>majiangzi_1w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,540},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>majiangzi_2w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,256},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>majiangzi_3w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,302},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>majiangzi_4w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,348},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>tip_1w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,394},{58,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,71}}</string>
                <key>sourceSize</key>
                <string>{58,71}</string>
            </dict>
            <key>tip_2w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,467},{54,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,71}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>tip_3w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,702},{54,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,71}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>tip_4w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,580},{54,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,71}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>tip_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,723},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>tip_beishu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,784},{86,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,24}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>tip_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,707},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>tip_feng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,630},{85,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,75}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>tip_guang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,685},{213,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,127}}</string>
                <key>sourceSize</key>
                <string>{213,127}</string>
            </dict>
            <key>tip_guang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,556},{214,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,127}}</string>
                <key>sourceSize</key>
                <string>{214,127}</string>
            </dict>
            <key>tip_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,580},{63,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,72}}</string>
                <key>sourceSize</key>
                <string>{63,72}</string>
            </dict>
            <key>tip_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,2},{85,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,80}</string>
            </dict>
            <key>tip_xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,653},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>tip_zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,236},{111,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,143}}</string>
                <key>sourceSize</key>
                <string>{111,143}</string>
            </dict>
            <key>tongpei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,183},{71,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,62}}</string>
                <key>sourceSize</key>
                <string>{71,62}</string>
            </dict>
            <key>tongpei_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,526},{102,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>tongsha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,89},{89,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>tongsha_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,707},{102,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>wanjia_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,555},{123,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,44}}</string>
                <key>sourceSize</key>
                <string>{123,44}</string>
            </dict>
            <key>xiazhu-1w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,303},{106,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,108}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>xiazhu-2w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,413},{106,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,108}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>xiazhu-3w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,430},{106,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,108}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>xiazhu-4w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,381},{106,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,108}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>xiazhu-bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,680},{106,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,108}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>xiazhu-dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,489},{106,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,108}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>xiazhu-feng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,556},{212,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,127}}</string>
                <key>sourceSize</key>
                <string>{212,127}</string>
            </dict>
            <key>xiazhu-nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,540},{106,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,108}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>xiazhu-w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,685},{213,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,127}}</string>
                <key>sourceSize</key>
                <string>{213,127}</string>
            </dict>
            <key>xiazhu-xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,597},{106,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,108}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>xiazhu-zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,236},{180,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,215}}</string>
                <key>sourceSize</key>
                <string>{180,215}</string>
            </dict>
            <key>xiazhu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,784},{103,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,27}}</string>
                <key>sourceSize</key>
                <string>{103,27}</string>
            </dict>
            <key>zzl_kaipaishijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,790},{71,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,19}}</string>
                <key>sourceSize</key>
                <string>{71,19}</string>
            </dict>
            <key>zzl_xiazhushijian-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,452},{71,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,18}}</string>
                <key>sourceSize</key>
                <string>{71,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BenzBMW.png</string>
            <key>size</key>
            <string>{2040,814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:996dcc501307e661ea061c999ef15af8:ab11d11a03c9c4dc9e7d1e96c36ed2ab:8c1060e94fd33dd0ab705ef1bd85e741$</string>
            <key>textureFileName</key>
            <string>BenzBMW.png</string>
        </dict>
    </dict>
</plist>
