<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{31,53}}</string>
                <key>offset</key>
                <string>{-42,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{31,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,92},{37,53}}</string>
                <key>offset</key>
                <string>{-40,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{37,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,57},{33,53}}</string>
                <key>offset</key>
                <string>{-42,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{33,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,57},{33,53}}</string>
                <key>offset</key>
                <string>{-43,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{33,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{33,53}}</string>
                <key>offset</key>
                <string>{-41,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{33,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,57},{33,53}}</string>
                <key>offset</key>
                <string>{-41,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{33,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,92},{37,53}}</string>
                <key>offset</key>
                <string>{-42,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{37,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,86},{35,53}}</string>
                <key>offset</key>
                <string>{-43,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{35,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,84},{35,53}}</string>
                <key>offset</key>
                <string>{-42,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{35,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{33,53}}</string>
                <key>offset</key>
                <string>{-42,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{33,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{31,53}}</string>
                <key>offset</key>
                <string>{-40,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{31,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,84},{35,53}}</string>
                <key>offset</key>
                <string>{-42,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{35,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,90},{31,51}}</string>
                <key>offset</key>
                <string>{-42,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{31,51}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,182}}</string>
                <key>sourceSize</key>
                <string>{138,182}</string>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{138,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,182}}</string>
                <key>sourceSize</key>
                <string>{138,182}</string>
            </dict>
            <key>fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{76,88}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,81},{76,88}}</string>
                <key>sourceSize</key>
                <string>{138,182}</string>
            </dict>
            <key>fang_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,112},{30,36}}</string>
                <key>offset</key>
                <string>{-40,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,66},{30,36}}</string>
                <key>sourceSize</key>
                <string>{138,182}</string>
            </dict>
            <key>hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{74,88}}</string>
                <key>offset</key>
                <string>{20,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,81},{74,88}}</string>
                <key>sourceSize</key>
                <string>{138,182}</string>
            </dict>
            <key>hei_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,112},{30,36}}</string>
                <key>offset</key>
                <string>{-40,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,66},{30,36}}</string>
                <key>sourceSize</key>
                <string>{138,182}</string>
            </dict>
            <key>hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{76,80}}</string>
                <key>offset</key>
                <string>{20,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,89},{76,80}}</string>
                <key>sourceSize</key>
                <string>{138,182}</string>
            </dict>
            <key>hong_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,112},{30,32}}</string>
                <key>offset</key>
                <string>{-40,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,72},{30,32}}</string>
                <key>sourceSize</key>
                <string>{138,182}</string>
            </dict>
            <key>mei.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{82,80}}</string>
                <key>offset</key>
                <string>{19,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,89},{82,80}}</string>
                <key>sourceSize</key>
                <string>{138,182}</string>
            </dict>
            <key>mei_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,112},{32,30}}</string>
                <key>offset</key>
                <string>{-38,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,71},{32,30}}</string>
                <key>sourceSize</key>
                <string>{138,182}</string>
            </dict>
            <key>r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{31,53}}</string>
                <key>offset</key>
                <string>{-42,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{31,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,92},{37,53}}</string>
                <key>offset</key>
                <string>{-40,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{37,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,57},{33,53}}</string>
                <key>offset</key>
                <string>{-42,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{33,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{33,53}}</string>
                <key>offset</key>
                <string>{-43,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{33,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>r13.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,57},{33,53}}</string>
                <key>offset</key>
                <string>{-41,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{33,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{33,53}}</string>
                <key>offset</key>
                <string>{-41,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{33,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,86},{37,53}}</string>
                <key>offset</key>
                <string>{-42,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{37,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{35,53}}</string>
                <key>offset</key>
                <string>{-43,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{35,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,57},{35,53}}</string>
                <key>offset</key>
                <string>{-42,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{35,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,57},{33,53}}</string>
                <key>offset</key>
                <string>{-42,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{33,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,57},{31,53}}</string>
                <key>offset</key>
                <string>{-40,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,16},{31,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,2},{35,53}}</string>
                <key>offset</key>
                <string>{-42,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{35,53}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
            <key>r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,90},{31,51}}</string>
                <key>offset</key>
                <string>{-42,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{31,51}}</string>
                <key>sourceSize</key>
                <string>{153,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dn_poker.png</string>
            <key>size</key>
            <string>{998,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e65c526e775cba887f9c46fcd1fd355e:a286430545d3e6f477cbedeb5b9a34c9:284378df685cce1b33cfda32be60786a$</string>
            <key>textureFileName</key>
            <string>dn_poker.png</string>
        </dict>
    </dict>
</plist>
