<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DPJM_touxiangdikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,853},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>DPJM_touxiangdikuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,924},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>YXC_BSXZ1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,207},{195,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,94}}</string>
                <key>sourceSize</key>
                <string>{195,94}</string>
            </dict>
            <key>YXC_BSXZ1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,303},{195,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,94}}</string>
                <key>sourceSize</key>
                <string>{195,94}</string>
            </dict>
            <key>YXC_BSXZ2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,399},{194,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,94}}</string>
                <key>sourceSize</key>
                <string>{194,94}</string>
            </dict>
            <key>YXC_BSXZ2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,495},{194,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,94}}</string>
                <key>sourceSize</key>
                <string>{194,94}</string>
            </dict>
            <key>YXC_DSQ_DK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,873},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,108}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>YXC_DSQ_JD1.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,765},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{95,94}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>YXC_DSQ_JD2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,555},{49,94}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{49,94}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>YXC_DSQ_JD3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,207},{49,48}}</string>
                <key>offset</key>
                <string>{-24,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{49,48}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>YXC_PP_TB.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,873},{130,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,98}}</string>
                <key>sourceSize</key>
                <string>{130,98}</string>
            </dict>
            <key>YXC_PP_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,653},{374,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,55}}</string>
                <key>sourceSize</key>
                <string>{374,55}</string>
            </dict>
            <key>YXC_PP_fh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,974},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>YXC_PP_fh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,971},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>YXC_PP_neikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,873},{55,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>YXC_SZ1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,975},{284,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{284,32}}</string>
                <key>sourceSize</key>
                <string>{286,32}</string>
            </dict>
            <key>YXC_TB_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,651},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>YXC_TB_zhuang_wk.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,710},{290,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,133}}</string>
                <key>sourceSize</key>
                <string>{290,133}</string>
            </dict>
            <key>YXC_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1126,649}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1126,649}}</string>
                <key>sourceSize</key>
                <string>{1126,649}</string>
            </dict>
            <key>YXC_dx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,971},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>YXC_dx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,971},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>YXC_sz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,710},{427,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{427,53}}</string>
                <key>sourceSize</key>
                <string>{429,53}</string>
            </dict>
            <key>YXC_tips_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,653},{319,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,47}}</string>
                <key>sourceSize</key>
                <string>{319,47}</string>
            </dict>
            <key>YXC_wz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,258},{295,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{295,46}}</string>
                <key>sourceSize</key>
                <string>{305,46}</string>
            </dict>
            <key>anniu_beishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,765},{142,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,86}}</string>
                <key>sourceSize</key>
                <string>{142,86}</string>
            </dict>
            <key>anniu_buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,853},{142,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,86}}</string>
                <key>sourceSize</key>
                <string>{142,86}</string>
            </dict>
            <key>anniu_meiniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,591},{180,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,86}}</string>
                <key>sourceSize</key>
                <string>{180,86}</string>
            </dict>
            <key>anniu_youniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,765},{180,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,86}}</string>
                <key>sourceSize</key>
                <string>{180,86}</string>
            </dict>
            <key>left_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{232,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,348}}</string>
                <key>sourceSize</key>
                <string>{232,348}</string>
            </dict>
            <key>left_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,653},{196,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,316}}</string>
                <key>sourceSize</key>
                <string>{196,316}</string>
            </dict>
            <key>play_DPJM_tubiao_liaotiananniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,722},{149,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,64}}</string>
                <key>sourceSize</key>
                <string>{149,64}</string>
            </dict>
            <key>right_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,653},{320,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,249}}</string>
                <key>sourceSize</key>
                <string>{320,249}</string>
            </dict>
            <key>rt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{203,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,233}}</string>
                <key>sourceSize</key>
                <string>{203,233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dn_table.png</string>
            <key>size</key>
            <string>{1377,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd27f5cb5ed506a6b6c7f51b5993f4d9:cdaac4041d22e9f4ae6f7ff547455aab:0be144376e115b01e84c3f21516caee3$</string>
            <key>textureFileName</key>
            <string>dn_table.png</string>
        </dict>
    </dict>
</plist>
