<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>text_tb_bet_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1313},{84,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,31}}</string>
                <key>sourceSize</key>
                <string>{84,31}</string>
            </dict>
            <key>text_tb_result_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1258},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>text_tb_result_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1204},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>text_tb_result_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1258},{99,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>text_tb_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1312},{84,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,31}}</string>
                <key>sourceSize</key>
                <string>{84,31}</string>
            </dict>
            <key>ui_tb_chat_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1257},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ui_tb_desk_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1200,720}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{1200,720}}</string>
                <key>sourceSize</key>
                <string>{1216,720}</string>
            </dict>
            <key>ui_tb_dianshu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1204},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>ui_tb_dianshu_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1204},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>ui_tb_dianshu_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1257},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>ui_tb_dianshu_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1204},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>ui_tb_dianshu_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1257},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>ui_tb_dianshu_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1204},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>ui_tb_nzbg_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1204},{171,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,52}}</string>
                <key>sourceSize</key>
                <string>{171,52}</string>
            </dict>
            <key>ui_tb_shanguang_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1204},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>ui_tb_zjbg_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1258},{136,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,63}}</string>
                <key>sourceSize</key>
                <string>{136,63}</string>
            </dict>
            <key>ui_tb_zjtx_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{142,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,117}}</string>
                <key>sourceSize</key>
                <string>{142,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dn_toubao.png</string>
            <key>size</key>
            <string>{724,1348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:795ed31f8df7537bc43d5241fa61d3a3:51b4b018a39524f69e51a3dbb12463cf:0277b182bc8f2633f1d2e8bcd88d088b$</string>
            <key>textureFileName</key>
            <string>dn_toubao.png</string>
        </dict>
    </dict>
</plist>
