<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>YXC_JS_gy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{532,531}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,531}}</string>
                <key>sourceSize</key>
                <string>{532,531}</string>
            </dict>
            <key>YXC_JS_gy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>YXC_JS_hj.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,656},{270,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,188}}</string>
                <key>sourceSize</key>
                <string>{270,188}</string>
            </dict>
            <key>YXC_JS_hj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,500},{413,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,154}}</string>
                <key>sourceSize</key>
                <string>{413,154}</string>
            </dict>
            <key>YXC_JS_tb_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,500},{64,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,43}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>YXC_JS_tb_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,846},{126,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,88}}</string>
                <key>sourceSize</key>
                <string>{126,88}</string>
            </dict>
            <key>YXC_JS_tb_lb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,943},{77,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,54}}</string>
                <key>sourceSize</key>
                <string>{77,54}</string>
            </dict>
            <key>YXC_JS_tb_lb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,943},{52,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,75}}</string>
                <key>sourceSize</key>
                <string>{52,75}</string>
            </dict>
            <key>YXC_JS_tb_lb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,943},{77,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,54}}</string>
                <key>sourceSize</key>
                <string>{77,54}</string>
            </dict>
            <key>YXC_JS_tb_lb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,943},{52,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,75}}</string>
                <key>sourceSize</key>
                <string>{52,75}</string>
            </dict>
            <key>YXC_JS_tb_xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,846},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>YXC_JS_tb_yl.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,566},{124,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,40}}</string>
                <key>sourceSize</key>
                <string>{124,40}</string>
            </dict>
            <key>YXC_JS_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{318,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,163}}</string>
                <key>sourceSize</key>
                <string>{318,163}</string>
            </dict>
            <key>YXC_JS_tf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,364},{460,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,66}}</string>
                <key>sourceSize</key>
                <string>{460,66}</string>
            </dict>
            <key>YXC_JS_tf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,656},{285,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,129}}</string>
                <key>sourceSize</key>
                <string>{285,129}</string>
            </dict>
            <key>YXC_JS_tf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,432},{460,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,66}}</string>
                <key>sourceSize</key>
                <string>{460,66}</string>
            </dict>
            <key>YXC_JSwz_sb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{635,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,325}}</string>
                <key>sourceSize</key>
                <string>{635,325}</string>
            </dict>
            <key>YXC_JSwz_sl.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,862},{284,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,159}}</string>
                <key>sourceSize</key>
                <string>{284,159}</string>
            </dict>
            <key>YXC_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,329},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiesuan.png</string>
            <key>size</key>
            <string>{1001,1027}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3001ca3a965e5613062b59c9fe6c6da3:920ad289a97ae335a207009ba9f7bae2:656815dd6ca417357113fad23ed2a364$</string>
            <key>textureFileName</key>
            <string>jiesuan.png</string>
        </dict>
    </dict>
</plist>
