<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guidance_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,2},{144,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,130}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
            <key>guidance_muzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,283},{124,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,90}}</string>
                <key>sourceSize</key>
                <string>{124,90}</string>
            </dict>
            <key>guidance_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{514,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,130}}</string>
                <key>sourceSize</key>
                <string>{514,130}</string>
            </dict>
            <key>guidance_renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{288,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,512}}</string>
                <key>sourceSize</key>
                <string>{288,512}</string>
            </dict>
            <key>xinshouyindao_1w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,400},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>xinshouyindao_2w.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,547},{104,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,146}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>xinshouyindao_3w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,400},{104,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,146}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>xinshouyindao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{882,543}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{882,543}}</string>
                <key>sourceSize</key>
                <string>{882,543}</string>
            </dict>
            <key>xinshouyindao_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,148},{133,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,115}}</string>
                <key>sourceSize</key>
                <string>{133,115}</string>
            </dict>
            <key>xinshouyindao_chipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,366},{463,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,32}}</string>
                <key>sourceSize</key>
                <string>{463,32}</string>
            </dict>
            <key>xinshouyindao_chipaiwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,516},{194,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,25}}</string>
                <key>sourceSize</key>
                <string>{194,25}</string>
            </dict>
            <key>xinshouyindao_dachuyiwanwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,357},{146,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,26}}</string>
                <key>sourceSize</key>
                <string>{146,26}</string>
            </dict>
            <key>xinshouyindao_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,428},{133,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,112}}</string>
                <key>sourceSize</key>
                <string>{133,112}</string>
            </dict>
            <key>xinshouyindao_gangpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{752,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{752,32}}</string>
                <key>sourceSize</key>
                <string>{752,32}</string>
            </dict>
            <key>xinshouyindao_gangpaiwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,134},{194,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,25}}</string>
                <key>sourceSize</key>
                <string>{194,25}</string>
            </dict>
            <key>xinshouyindao_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,148},{143,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,117}}</string>
                <key>sourceSize</key>
                <string>{143,117}</string>
            </dict>
            <key>xinshouyindao_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,134},{222,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,126}}</string>
                <key>sourceSize</key>
                <string>{222,126}</string>
            </dict>
            <key>xinshouyindao_huapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,643},{633,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,32}}</string>
                <key>sourceSize</key>
                <string>{633,32}</string>
            </dict>
            <key>xinshouyindao_huapaimajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,134},{321,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,230}}</string>
                <key>sourceSize</key>
                <string>{321,230}</string>
            </dict>
            <key>xinshouyindao_huapaimajiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,400},{155,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,73}}</string>
                <key>sourceSize</key>
                <string>{155,73}</string>
            </dict>
            <key>xinshouyindao_hupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,2},{689,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{689,63}}</string>
                <key>sourceSize</key>
                <string>{689,63}</string>
            </dict>
            <key>xinshouyindao_hupaimajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,516},{767,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{767,92}}</string>
                <key>sourceSize</key>
                <string>{767,92}</string>
            </dict>
            <key>xinshouyindao_jiantouyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,643},{37,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,55}}</string>
                <key>sourceSize</key>
                <string>{37,55}</string>
            </dict>
            <key>xinshouyindao_jiantouzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,475},{37,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,55}}</string>
                <key>sourceSize</key>
                <string>{37,55}</string>
            </dict>
            <key>xinshouyindao_jixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,557},{86,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,38}}</string>
                <key>sourceSize</key>
                <string>{86,38}</string>
            </dict>
            <key>xinshouyindao_kezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,682},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>xinshouyindao_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,428},{127,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,102}}</string>
                <key>sourceSize</key>
                <string>{127,102}</string>
            </dict>
            <key>xinshouyindao_pengpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,677},{511,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,32}}</string>
                <key>sourceSize</key>
                <string>{511,32}</string>
            </dict>
            <key>xinshouyindao_pengpaiwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,134},{194,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,25}}</string>
                <key>sourceSize</key>
                <string>{194,25}</string>
            </dict>
            <key>xinshouyindao_shunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,330},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>xinshouyindao_tiaoguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,610},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>xinshouyindao_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,293},{118,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,133}}</string>
                <key>sourceSize</key>
                <string>{118,133}</string>
            </dict>
            <key>xinshouyindao_tingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,610},{704,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,31}}</string>
                <key>sourceSize</key>
                <string>{704,31}</string>
            </dict>
            <key>xinshouyindao_tingpaiwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,677},{98,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,25}}</string>
                <key>sourceSize</key>
                <string>{98,25}</string>
            </dict>
            <key>xinshouyindao_tingpaiwenzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,475},{98,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,25}}</string>
                <key>sourceSize</key>
                <string>{98,25}</string>
            </dict>
            <key>xinshouyindao_tingpaiwenzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,283},{96,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,25}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>xinshouyindao_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,563},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>xinshouyindao_tip_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{758,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,49}}</string>
                <key>sourceSize</key>
                <string>{758,49}</string>
            </dict>
            <key>xinshouyindao_tip_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{758,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,75}}</string>
                <key>sourceSize</key>
                <string>{758,75}</string>
            </dict>
            <key>xinshouyindao_tip_tingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,2},{108,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,132}}</string>
                <key>sourceSize</key>
                <string>{108,132}</string>
            </dict>
            <key>xinshouyindao_yidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,645},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_guidance.png</string>
            <key>size</key>
            <string>{1999,713}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07e638ba277d038781167e64ffdf3eef:72c7a3172319c13ab46926f3ea176783:430fac8a9ec17a8defd821e210711c23$</string>
            <key>textureFileName</key>
            <string>new_guidance.png</string>
        </dict>
    </dict>
</plist>
