<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SGKH_CC_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{189,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,106}}</string>
                <key>sourceSize</key>
                <string>{189,106}</string>
            </dict>
            <key>SGKH_JLB_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>SGKH_SG_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,241},{123,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,141}}</string>
                <key>sourceSize</key>
                <string>{123,141}</string>
            </dict>
            <key>SGKH_SG_caomei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,110},{173,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,117}}</string>
                <key>sourceSize</key>
                <string>{173,117}</string>
            </dict>
            <key>SGKH_SG_juzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,110},{155,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,129}}</string>
                <key>sourceSize</key>
                <string>{155,129}</string>
            </dict>
            <key>SGKH_SG_ningmeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,110},{137,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,113}}</string>
                <key>sourceSize</key>
                <string>{137,113}</string>
            </dict>
            <key>SGKH_SG_putao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,241},{121,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,151}}</string>
                <key>sourceSize</key>
                <string>{121,151}</string>
            </dict>
            <key>SGKH_SG_scatter.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,241},{149,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,137}}</string>
                <key>sourceSize</key>
                <string>{149,137}</string>
            </dict>
            <key>SGKH_SG_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,241},{133,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,135}}</string>
                <key>sourceSize</key>
                <string>{133,135}</string>
            </dict>
            <key>SGKH_SG_wild.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{163,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,155}}</string>
                <key>sourceSize</key>
                <string>{163,155}</string>
            </dict>
            <key>SGKH_SG_xiangjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,110},{133,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,125}}</string>
                <key>sourceSize</key>
                <string>{133,125}</string>
            </dict>
            <key>SGKH_SG_xigua.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,241},{133,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,139}}</string>
                <key>sourceSize</key>
                <string>{133,139}</string>
            </dict>
            <key>SGKH_SG_yingtao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,241},{133,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,149}}</string>
                <key>sourceSize</key>
                <string>{133,149}</string>
            </dict>
            <key>SGKH_WZ_jiangchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,44}}</string>
                <key>sourceSize</key>
                <string>{79,44}</string>
            </dict>
            <key>SGKH_btn_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{104,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,89}}</string>
                <key>sourceSize</key>
                <string>{104,89}</string>
            </dict>
            <key>SGKH_btn_-.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2},{104,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,89}}</string>
                <key>sourceSize</key>
                <string>{104,89}</string>
            </dict>
            <key>SGKH_btn_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,395},{172,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,164}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>SGKH_btn_jlb.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{80,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,63}}</string>
                <key>sourceSize</key>
                <string>{80,63}</string>
            </dict>
            <key>SGKH_btn_mianfei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,241},{145,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,152}}</string>
                <key>sourceSize</key>
                <string>{145,152}</string>
            </dict>
            <key>SGKH_btn_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,395},{172,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,164}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>SGKH_btn_touzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,241},{145,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,152}}</string>
                <key>sourceSize</key>
                <string>{145,152}</string>
            </dict>
            <key>SGKH_btn_zidongtou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,241},{145,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,152}}</string>
                <key>sourceSize</key>
                <string>{145,152}</string>
            </dict>
            <key>SGKH_buttom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{1058,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1058,109}}</string>
                <key>sourceSize</key>
                <string>{1058,109}</string>
            </dict>
            <key>SGKH_ddrz.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{183,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,77}}</string>
                <key>sourceSize</key>
                <string>{183,77}</string>
            </dict>
            <key>SGKH_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,395},{1061,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1061,511}}</string>
                <key>sourceSize</key>
                <string>{1061,511}</string>
            </dict>
            <key>SGKH_gan.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,241},{27,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,132}}</string>
                <key>sourceSize</key>
                <string>{27,132}</string>
            </dict>
            <key>SGKH_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{183,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,77}}</string>
                <key>sourceSize</key>
                <string>{183,77}</string>
            </dict>
            <key>SGKH_jcdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{552,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,132}}</string>
                <key>sourceSize</key>
                <string>{552,132}</string>
            </dict>
            <key>SGKH_xzk.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{66,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,81}}</string>
                <key>sourceSize</key>
                <string>{66,81}</string>
            </dict>
            <key>SGKH_yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,395},{132,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,165}}</string>
                <key>sourceSize</key>
                <string>{132,165}</string>
            </dict>
            <key>SGKH_zjq.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{294,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,61}}</string>
                <key>sourceSize</key>
                <string>{294,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FruitMachine.png</string>
            <key>size</key>
            <string>{1830,908}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b02ea3ab36997d8373ff471d078676ed$</string>
            <key>textureFileName</key>
            <string>FruitMachine.png</string>
        </dict>
    </dict>
</plist>
