<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SGKH_CCTB_777.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,169},{119,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,74}}</string>
                <key>sourceSize</key>
                <string>{119,74}</string>
            </dict>
            <key>SGKH_CCTB_7777.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,93},{161,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,74}}</string>
                <key>sourceSize</key>
                <string>{161,74}</string>
            </dict>
            <key>SGKH_CCTB_77777.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,89}}</string>
                <key>sourceSize</key>
                <string>{185,89}</string>
            </dict>
            <key>SGKH_CCTB_slhj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{67,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,135}}</string>
                <key>sourceSize</key>
                <string>{67,135}</string>
            </dict>
            <key>SGKH_JC_ZJDK.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{42,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,74}}</string>
                <key>sourceSize</key>
                <string>{42,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FruitGoldPoolInfo.png</string>
            <key>size</key>
            <string>{234,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f711803edc08f979d2fb26f9f6da1c9:4d26b5905cad64133f4fce25445202c3:47fae22f77b298aef4651cdec840fabb$</string>
            <key>textureFileName</key>
            <string>FruitGoldPoolInfo.png</string>
        </dict>
    </dict>
</plist>
