<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SGKH_JLB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{963,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{963,478}}</string>
                <key>sourceSize</key>
                <string>{963,478}</string>
            </dict>
            <key>SGKH_JLB_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,580},{389,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,184}}</string>
                <key>sourceSize</key>
                <string>{389,184}</string>
            </dict>
            <key>SGKH_JLB_line123.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,676},{356,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,169}}</string>
                <key>sourceSize</key>
                <string>{356,169}</string>
            </dict>
            <key>SGKH_JLB_line45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{356,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,170}}</string>
                <key>sourceSize</key>
                <string>{356,170}</string>
            </dict>
            <key>SGKH_JLB_line67.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,676},{356,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,166}}</string>
                <key>sourceSize</key>
                <string>{356,166}</string>
            </dict>
            <key>SGKH_JLB_line89.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,580},{357,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,141}}</string>
                <key>sourceSize</key>
                <string>{357,141}</string>
            </dict>
            <key>SGKH_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,971},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>SGKH_line11.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1024},{26,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,8}}</string>
                <key>sourceSize</key>
                <string>{26,8}</string>
            </dict>
            <key>SGKH_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,482},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>SGKH_line22.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,580},{18,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,8}}</string>
                <key>sourceSize</key>
                <string>{18,8}</string>
            </dict>
            <key>SGKH_line3.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,971},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>SGKH_line33.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1024},{21,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,8}}</string>
                <key>sourceSize</key>
                <string>{21,8}</string>
            </dict>
            <key>SGKH_line4.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,971},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>SGKH_line44.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1024},{22,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,8}}</string>
                <key>sourceSize</key>
                <string>{22,8}</string>
            </dict>
            <key>SGKH_line5.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,939},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>SGKH_line55.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1024},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,8}</string>
            </dict>
            <key>SGKH_line6.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,944},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>SGKH_line66.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1024},{23,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,8}}</string>
                <key>sourceSize</key>
                <string>{23,8}</string>
            </dict>
            <key>SGKH_line7.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,944},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>SGKH_line77.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1024},{21,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,8}}</string>
                <key>sourceSize</key>
                <string>{21,8}</string>
            </dict>
            <key>SGKH_line8.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,535},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>SGKH_line88.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1024},{25,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,8}}</string>
                <key>sourceSize</key>
                <string>{25,8}</string>
            </dict>
            <key>SGKH_line9.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,599},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>SGKH_line99.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1024},{26,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,8}}</string>
                <key>sourceSize</key>
                <string>{26,8}</string>
            </dict>
            <key>SGKH_tips_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,836},{108,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,106}}</string>
                <key>sourceSize</key>
                <string>{108,106}</string>
            </dict>
            <key>SGKH_tips_txdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,939},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>SGKH_yaxinafenbu_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{895,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{895,96}}</string>
                <key>sourceSize</key>
                <string>{895,96}</string>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,580},{254,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,62}}</string>
                <key>sourceSize</key>
                <string>{254,62}</string>
            </dict>
            <key>btn_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{496,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,94}}</string>
                <key>sourceSize</key>
                <string>{496,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FruitMachine1.png</string>
            <key>size</key>
            <string>{967,1034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7038b5a7e35b5c2cd1c06a669a043dd9:2a15ebee0872a3f8f88e31978d24c5f1:e6088372fe46d7414f70e11a5e5acd48$</string>
            <key>textureFileName</key>
            <string>FruitMachine1.png</string>
        </dict>
    </dict>
</plist>
