<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NN_TB_zx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,786},{77,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,94}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>SJNZ_TB_dz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,786},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>SJNZ_TB_dz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,628},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>SJNZ_Tips1_zj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,494},{128,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>SJNZ_Tips1_zj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,605},{348,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,139}}</string>
                <key>sourceSize</key>
                <string>{348,139}</string>
            </dict>
            <key>SJNZ_Tips1_zj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,626},{158,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,132}}</string>
                <key>sourceSize</key>
                <string>{158,132}</string>
            </dict>
            <key>SJNZ_Tips1_zj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,626},{185,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,146}}</string>
                <key>sourceSize</key>
                <string>{185,146}</string>
            </dict>
            <key>SJNZ_Tips1_zj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,739},{142,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,132}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>SJNZ_Tips1_zj6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,492},{279,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,132}}</string>
                <key>sourceSize</key>
                <string>{279,132}</string>
            </dict>
            <key>SJNZ_Tips1_zj7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,605},{149,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,132}}</string>
                <key>sourceSize</key>
                <string>{149,132}</string>
            </dict>
            <key>SJNZ_ZZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,89},{355,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,133}}</string>
                <key>sourceSize</key>
                <string>{355,133}</string>
            </dict>
            <key>SJNZ_btn_dx.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,834},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>SJNZ_btn_dx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,834},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>SJNZ_btn_yellow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,89},{187,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,80}}</string>
                <key>sourceSize</key>
                <string>{187,80}</string>
            </dict>
            <key>SJNZ_chaozuo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{1062,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1062,85}}</string>
                <key>sourceSize</key>
                <string>{1062,85}</string>
            </dict>
            <key>SJNZ_chaozuo_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,349},{234,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,71}}</string>
                <key>sourceSize</key>
                <string>{234,71}</string>
            </dict>
            <key>SJNZ_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{399,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,40}}</string>
                <key>sourceSize</key>
                <string>{399,40}</string>
            </dict>
            <key>SJNZ_di_mengban.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,460},{713,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{713,30}}</string>
                <key>sourceSize</key>
                <string>{715,30}</string>
            </dict>
            <key>SJNZ_fazai_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,422},{169,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,136}}</string>
                <key>sourceSize</key>
                <string>{169,136}</string>
            </dict>
            <key>SJNZ_fazai_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,593},{167,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{167,138}}</string>
                <key>sourceSize</key>
                <string>{167,140}</string>
            </dict>
            <key>SJNZ_info_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,762},{92,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,112}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>SJNZ_info_dk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,774},{100,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,121}}</string>
                <key>sourceSize</key>
                <string>{100,121}</string>
            </dict>
            <key>SJNZ_info_dk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,762},{101,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,98}}</string>
                <key>sourceSize</key>
                <string>{101,98}</string>
            </dict>
            <key>SJNZ_info_dk_tbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,492},{111,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,505}}</string>
                <key>sourceSize</key>
                <string>{111,505}</string>
            </dict>
            <key>SJNZ_title_qi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,224},{355,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,123}}</string>
                <key>sourceSize</key>
                <string>{355,123}</string>
            </dict>
            <key>SJNZ_title_qi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,746},{355,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,123}}</string>
                <key>sourceSize</key>
                <string>{355,123}</string>
            </dict>
            <key>SJNZ_tq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,628},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>SJNZ_tx_rq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,278},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>SJNZ_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,359},{130,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>SJNZ_xiazhu_hl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,774},{90,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,35}}</string>
                <key>sourceSize</key>
                <string>{90,35}</string>
            </dict>
            <key>SJNZ_xiazhu_ys.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,349},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>SJNZ_xiazhu_yx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,422},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>SJNZ_xiazhu_zj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,494},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>SJNZ_xiazhu_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,422},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>SJNZ_xiazhu_zx.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,834},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>anniu_chongfutou_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,834},{97,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,37}}</string>
                <key>sourceSize</key>
                <string>{97,37}</string>
            </dict>
            <key>shangjing_fangpai_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,89},{645,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,369}}</string>
                <key>sourceSize</key>
                <string>{645,369}</string>
            </dict>
            <key>shangjing_xiazhutishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{938,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{938,416}}</string>
                <key>sourceSize</key>
                <string>{938,416}</string>
            </dict>
            <key>shangjing_xiazhutishi_wang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{934,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{934,412}}</string>
                <key>sourceSize</key>
                <string>{934,412}</string>
            </dict>
            <key>vipdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,682},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nineIndiana.png</string>
            <key>size</key>
            <string>{2031,876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7345beeea5ab165f9976cf6e5bd7e5b4:7c33d59f61d49e78c9dd5c558e2b8a9c:9d8e4338624de01fcd4ebc42fbde452d$</string>
            <key>textureFileName</key>
            <string>nineIndiana.png</string>
        </dict>
    </dict>
</plist>
