<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_casion_18_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,326},{91,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,13}}</string>
                <key>sourceSize</key>
                <string>{91,13}</string>
            </dict>
            <key>eff_casion_18_t10.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1232},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>eff_casion_18_t11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{127,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,100}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>eff_casion_18_t12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{70,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,59}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>eff_casion_18_t13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{125,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,93}}</string>
                <key>sourceSize</key>
                <string>{125,93}</string>
            </dict>
            <key>eff_casion_18_t14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{103,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,33}}</string>
                <key>sourceSize</key>
                <string>{103,33}</string>
            </dict>
            <key>eff_casion_18_t15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{60,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,12}}</string>
                <key>sourceSize</key>
                <string>{60,12}</string>
            </dict>
            <key>eff_casion_18_t16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{87,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,76}}</string>
                <key>sourceSize</key>
                <string>{87,76}</string>
            </dict>
            <key>eff_casion_18_t17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>eff_casion_18_t18.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,220},{56,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,8}}</string>
                <key>sourceSize</key>
                <string>{56,8}</string>
            </dict>
            <key>eff_casion_18_t19.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1084},{34,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,57}}</string>
                <key>sourceSize</key>
                <string>{34,57}</string>
            </dict>
            <key>eff_casion_18_t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{72,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,42}}</string>
                <key>sourceSize</key>
                <string>{72,42}</string>
            </dict>
            <key>eff_casion_18_t20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{110,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,73}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>eff_casion_18_t20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,996},{47,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>eff_casion_18_t21.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,896},{65,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,21}}</string>
                <key>sourceSize</key>
                <string>{65,21}</string>
            </dict>
            <key>eff_casion_18_t23.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1143},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>eff_casion_18_t24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,777},{97,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,48}}</string>
                <key>sourceSize</key>
                <string>{97,48}</string>
            </dict>
            <key>eff_casion_18_t25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{103,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,37}}</string>
                <key>sourceSize</key>
                <string>{103,37}</string>
            </dict>
            <key>eff_casion_18_t26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{87,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,35}}</string>
                <key>sourceSize</key>
                <string>{87,35}</string>
            </dict>
            <key>eff_casion_18_t27.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,482},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>eff_casion_18_t28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{105,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,63}}</string>
                <key>sourceSize</key>
                <string>{105,63}</string>
            </dict>
            <key>eff_casion_18_t29.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1286},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>eff_casion_18_t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{103,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,64}}</string>
                <key>sourceSize</key>
                <string>{103,64}</string>
            </dict>
            <key>eff_casion_18_t30.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,739},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>eff_casion_18_t31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,107}}</string>
                <key>sourceSize</key>
                <string>{122,107}</string>
            </dict>
            <key>eff_casion_18_t32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{102,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,40}}</string>
                <key>sourceSize</key>
                <string>{102,40}</string>
            </dict>
            <key>eff_casion_18_t33.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,963},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>eff_casion_18_t34.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1358},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>eff_casion_18_t4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,771},{72,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,12}}</string>
                <key>sourceSize</key>
                <string>{72,12}</string>
            </dict>
            <key>eff_casion_18_t5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1069},{86,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,67}}</string>
                <key>sourceSize</key>
                <string>{86,67}</string>
            </dict>
            <key>eff_casion_18_t6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1358},{52,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>eff_casion_18_t7.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1179},{51,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,38}}</string>
                <key>sourceSize</key>
                <string>{51,38}</string>
            </dict>
            <key>eff_casion_18_t8.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,640},{97,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,18}}</string>
                <key>sourceSize</key>
                <string>{97,18}</string>
            </dict>
            <key>eff_casion_18_t9.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1411},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
            <key>eff_cn_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1045},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>eff_cn_b_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{107,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,36}}</string>
                <key>sourceSize</key>
                <string>{107,36}</string>
            </dict>
            <key>eff_cn_b_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{112,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,29}}</string>
                <key>sourceSize</key>
                <string>{112,29}</string>
            </dict>
            <key>eff_cn_b_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1411},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>eff_cn_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1315},{41,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,70}}</string>
                <key>sourceSize</key>
                <string>{41,70}</string>
            </dict>
            <key>eff_cn_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,512},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,26}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>eff_cn_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,845},{49,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,26}}</string>
                <key>sourceSize</key>
                <string>{49,26}</string>
            </dict>
            <key>eff_cn_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{105,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,35}}</string>
                <key>sourceSize</key>
                <string>{105,35}</string>
            </dict>
            <key>eff_cn_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,419},{61,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,15}}</string>
                <key>sourceSize</key>
                <string>{61,15}</string>
            </dict>
            <key>eff_cn_b_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,540},{98,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,14}}</string>
                <key>sourceSize</key>
                <string>{98,14}</string>
            </dict>
            <key>eff_cn_b_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{122,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,107}}</string>
                <key>sourceSize</key>
                <string>{122,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face.png</string>
            <key>size</key>
            <string>{126,1436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e73ef83c77a830f84e6ae58e68279f4:0b288e91f8d592a2cc3cf0289fc413ac:38ea4ccfacc6408119f96620da278c88$</string>
            <key>textureFileName</key>
            <string>face.png</string>
        </dict>
    </dict>
</plist>
