<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1137},{91,82}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{91,82}}</string>
                <key>sourceSize</key>
                <string>{187,152}</string>
            </dict>
            <key>boom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,965},{83,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,42},{83,74}}</string>
                <key>sourceSize</key>
                <string>{187,152}</string>
            </dict>
            <key>boom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1221},{115,100}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,30},{115,100}}</string>
                <key>sourceSize</key>
                <string>{187,152}</string>
            </dict>
            <key>boom4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{151,112}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{151,112}}</string>
                <key>sourceSize</key>
                <string>{187,152}</string>
            </dict>
            <key>boom5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{175,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{175,124}}</string>
                <key>sourceSize</key>
                <string>{187,152}</string>
            </dict>
            <key>boom6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{125,120}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,13},{125,120}}</string>
                <key>sourceSize</key>
                <string>{187,152}</string>
            </dict>
            <key>boom7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{139,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{139,118}}</string>
                <key>sourceSize</key>
                <string>{187,152}</string>
            </dict>
            <key>boom8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{179,144}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{179,144}}</string>
                <key>sourceSize</key>
                <string>{187,152}</string>
            </dict>
            <key>boom9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{187,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,152}}</string>
                <key>sourceSize</key>
                <string>{187,152}</string>
            </dict>
            <key>kaihuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1089},{92,46}}</string>
                <key>offset</key>
                <string>{-32,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{92,46}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>kaihuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,392},{144,58}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{144,58}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>kaihuo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,246},{144,60}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,60}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>kaihuo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,784},{150,54}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,54}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>kaihuo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,586},{152,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{152,56}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>kaihuo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,90},{154,60}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{154,60}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>nvfei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{134,176}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,176}}</string>
                <key>sourceSize</key>
                <string>{134,188}</string>
            </dict>
            <key>nvfei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1338},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,77}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>nvfei3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1415},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>nvfei4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1338},{118,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,45}}</string>
                <key>sourceSize</key>
                <string>{118,45}</string>
            </dict>
            <key>nvfei5.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,1300},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>nvfei6.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1300},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>nvfeishibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{134,176}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,176}}</string>
                <key>sourceSize</key>
                <string>{134,188}</string>
            </dict>
            <key>nvjing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{137,176}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,176}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>nvjing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,86}}</string>
                <key>sourceSize</key>
                <string>{234,86}</string>
            </dict>
            <key>nvjing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,740},{55,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,42}}</string>
                <key>sourceSize</key>
                <string>{55,42}</string>
            </dict>
            <key>nvjing4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,538},{57,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,46}}</string>
                <key>sourceSize</key>
                <string>{57,46}</string>
            </dict>
            <key>nvjing5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,936},{50,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>nvjingshibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{137,176}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,176}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>nvjingshibai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1415},{45,31}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,31}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>nvjingshibai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{47,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,35}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>nvjingshibai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1050},{47,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,37}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bairen_girl.png</string>
            <key>size</key>
            <string>{255,1462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f484b83443b5d0d3e3258e390c51367a:e744c029bd6e000a8eec5a0c9ccba12f:867216a0541fd911c681478282d6c8db$</string>
            <key>textureFileName</key>
            <string>bairen_girl.png</string>
        </dict>
    </dict>
</plist>
