<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SJNZ_TB_dz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,650},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>SJNZ_TB_dz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1315},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>SJNZ_TB_yj.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1103},{130,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,109}}</string>
                <key>sourceSize</key>
                <string>{130,109}</string>
            </dict>
            <key>SJNZ_TB_yjxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1626},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>SJNZ_TX_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1103},{289,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,150}}</string>
                <key>sourceSize</key>
                <string>{289,150}</string>
            </dict>
            <key>SJNZ_TX_wz10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1183},{538,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,375}}</string>
                <key>sourceSize</key>
                <string>{538,375}</string>
            </dict>
            <key>SJNZ_TX_wz11.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1183},{538,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,375}}</string>
                <key>sourceSize</key>
                <string>{538,375}</string>
            </dict>
            <key>SJNZ_TX_wz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,916},{444,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,146}}</string>
                <key>sourceSize</key>
                <string>{444,146}</string>
            </dict>
            <key>SJNZ_TX_wz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1394},{230,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,116}}</string>
                <key>sourceSize</key>
                <string>{230,116}</string>
            </dict>
            <key>SJNZ_TX_wz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1394},{284,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,116}}</string>
                <key>sourceSize</key>
                <string>{284,116}</string>
            </dict>
            <key>SJNZ_TX_wz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{908,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{908,419}}</string>
                <key>sourceSize</key>
                <string>{908,419}</string>
            </dict>
            <key>SJNZ_TX_wz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1723},{277,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,120}}</string>
                <key>sourceSize</key>
                <string>{277,120}</string>
            </dict>
            <key>SJNZ_TX_wz7.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,423},{225,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,119}}</string>
                <key>sourceSize</key>
                <string>{225,119}</string>
            </dict>
            <key>SJNZ_TX_wz8.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1680},{180,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,124}}</string>
                <key>sourceSize</key>
                <string>{180,124}</string>
            </dict>
            <key>SJNZ_TX_wz9.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1862},{180,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,124}}</string>
                <key>sourceSize</key>
                <string>{180,124}</string>
            </dict>
            <key>SJNZ_gx.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1103},{177,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,65}}</string>
                <key>sourceSize</key>
                <string>{177,65}</string>
            </dict>
            <key>SJNZ_gx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{484,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,437}}</string>
                <key>sourceSize</key>
                <string>{484,437}</string>
            </dict>
            <key>SJNZ_rw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1723},{382,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,311}}</string>
                <key>sourceSize</key>
                <string>{382,311}</string>
            </dict>
            <key>SJNZ_rw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1723},{323,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,320}}</string>
                <key>sourceSize</key>
                <string>{323,320}</string>
            </dict>
            <key>SJNZ_tx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1064},{490,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,37}}</string>
                <key>sourceSize</key>
                <string>{490,37}</string>
            </dict>
            <key>SJNZ_wz_dz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1235},{114,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,38}}</string>
                <key>sourceSize</key>
                <string>{114,38}</string>
            </dict>
            <key>SJNZ_wz_dz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1275},{114,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,38}}</string>
                <key>sourceSize</key>
                <string>{114,38}</string>
            </dict>
            <key>YXC_SC_dikuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,745},{476,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,169}}</string>
                <key>sourceSize</key>
                <string>{476,169}</string>
            </dict>
            <key>YXC_SC_tb.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,423},{269,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,320}}</string>
                <key>sourceSize</key>
                <string>{269,320}</string>
            </dict>
            <key>YXC_SC_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{619,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,319}}</string>
                <key>sourceSize</key>
                <string>{619,319}</string>
            </dict>
            <key>YXC_TB_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1103},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>YXC_TSQC_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{398,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,110}}</string>
                <key>sourceSize</key>
                <string>{398,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>indiana_ani_res.png</string>
            <key>size</key>
            <string>{1024,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4843d339424b97f766d0a9df960bf42f:2334affe1e708a0fe36b2439d497d9c4:b4a3c1c5e710130f1b30e8da6173552b$</string>
            <key>textureFileName</key>
            <string>indiana_ani_res.png</string>
        </dict>
    </dict>
</plist>
