<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KSDH_diguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1195,693}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1195,693}}</string>
                <key>sourceSize</key>
                <string>{1195,693}</string>
            </dict>
            <key>KSDH_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1199},{266,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,266}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>KSDH_guang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1467},{165,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,98}}</string>
                <key>sourceSize</key>
                <string>{165,98}</string>
            </dict>
            <key>KSDH_kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1494},{292,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,163}}</string>
                <key>sourceSize</key>
                <string>{292,163}</string>
            </dict>
            <key>KSDH_kaishi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1199},{284,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,293}}</string>
                <key>sourceSize</key>
                <string>{284,293}</string>
            </dict>
            <key>KSDH_niu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1199},{441,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,131}}</string>
                <key>sourceSize</key>
                <string>{441,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>KSDH.png</string>
            <key>size</key>
            <string>{697,1659}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2da8bd84b0f24b94540ad93a7dfa6db4:46599d29013c431adcd70afcdd695233:26d2dd28e7f36fac8b04dec12142c8be$</string>
            <key>textureFileName</key>
            <string>KSDH.png</string>
        </dict>
    </dict>
</plist>
