<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QZ_baioshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,885},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>QZ_baioshi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,885},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>QZ_guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,851},{150,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,196}}</string>
                <key>sourceSize</key>
                <string>{150,196}</string>
            </dict>
            <key>QZ_guangquan2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,511},{270,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,322}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>QZ_guangquan2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,806},{188,220}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,52},{188,220}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>QZ_guangquan2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,490},{266,314}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{266,314}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>QZ_guangquan2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,478},{264,306}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{264,306}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>QZ_guangquan2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,248},{260,304}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{260,304}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>QZ_guangquan2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,510},{256,298}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{256,298}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>QZ_guangquan2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,223},{244,286}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{244,286}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>QZ_guangquan2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,256},{232,276}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{232,276}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>QZ_guangquan2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,250},{226,266}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,27},{226,266}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>QZ_guangquan2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,786},{202,250}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,35},{202,250}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>QZ_guangquan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{666,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,219}}</string>
                <key>sourceSize</key>
                <string>{666,219}</string>
            </dict>
            <key>QZ_guangquan3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{399,256}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{399,256}}</string>
                <key>sourceSize</key>
                <string>{413,260}</string>
            </dict>
            <key>QZ_guangquan3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{397,252}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{397,252}}</string>
                <key>sourceSize</key>
                <string>{413,260}</string>
            </dict>
            <key>QZ_guangquan3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,2},{393,246}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{393,246}}</string>
                <key>sourceSize</key>
                <string>{413,260}</string>
            </dict>
            <key>QZ_guangquan3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,2},{385,244}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{385,244}}</string>
                <key>sourceSize</key>
                <string>{413,260}</string>
            </dict>
            <key>QZ_guangquan3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,256},{373,232}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{373,232}}</string>
                <key>sourceSize</key>
                <string>{413,260}</string>
            </dict>
            <key>QZ_guangquan3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,490},{359,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{359,208}}</string>
                <key>sourceSize</key>
                <string>{413,260}</string>
            </dict>
            <key>QZ_guangquan3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,490},{339,190}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,37},{339,190}}</string>
                <key>sourceSize</key>
                <string>{413,260}</string>
            </dict>
            <key>QZ_guangquan3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,835},{321,170}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,42},{321,170}}</string>
                <key>sourceSize</key>
                <string>{413,260}</string>
            </dict>
            <key>QZ_guangquan3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{405,258}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{405,258}}</string>
                <key>sourceSize</key>
                <string>{413,260}</string>
            </dict>
            <key>QZ_guangquan3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{413,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,260}}</string>
                <key>sourceSize</key>
                <string>{413,260}</string>
            </dict>
            <key>QZ_hzdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,768},{299,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,115}}</string>
                <key>sourceSize</key>
                <string>{299,115}</string>
            </dict>
            <key>QZ_hzdb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,2},{83,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>QZ.png</string>
            <key>size</key>
            <string>{1923,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b19bdb48c6a1921219968a5628cf7a2a:7e297fa7e3d8818846303b3dc18ec6b2:60f154b7176ebca28e94cdd4f107f83d$</string>
            <key>textureFileName</key>
            <string>QZ.png</string>
        </dict>
    </dict>
</plist>
