<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hongsediban.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{202,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,118}}</string>
                <key>sourceSize</key>
                <string>{202,118}</string>
            </dict>
            <key>meiniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,72}}</string>
                <key>sourceSize</key>
                <string>{127,76}</string>
            </dict>
            <key>meiniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,2},{127,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,76}}</string>
                <key>sourceSize</key>
                <string>{127,76}</string>
            </dict>
            <key>nansediban.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{202,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,118}}</string>
                <key>sourceSize</key>
                <string>{202,118}</string>
            </dict>
            <key>niu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,2},{60,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>niujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,87},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>shuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,2},{748,82}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{748,82}}</string>
                <key>sourceSize</key>
                <string>{756,84}</string>
            </dict>
            <key>shuzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{415,83}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{415,83}}</string>
                <key>sourceSize</key>
                <string>{435,87}</string>
            </dict>
            <key>zisediban.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{202,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,118}}</string>
                <key>sourceSize</key>
                <string>{202,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WJLP.png</string>
            <key>size</key>
            <string>{2046,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17c1edd9b1e19b413e3c94b39738a290:8e1647a8f38a8b99a5a1cc3806718fd0:c750ca4d8cc1618ee37f1244e409f4f8$</string>
            <key>textureFileName</key>
            <string>WJLP.png</string>
        </dict>
    </dict>
</plist>
