<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KJCZ_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1674},{689,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{689,370}}</string>
                <key>sourceSize</key>
                <string>{689,370}</string>
            </dict>
            <key>KJCZ_ewzs_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{409,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,68}}</string>
                <key>sourceSize</key>
                <string>{409,68}</string>
            </dict>
            <key>KJZF_TB_cd.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1294},{153,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,84}}</string>
                <key>sourceSize</key>
                <string>{153,84}</string>
            </dict>
            <key>KJZF_TB_cd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1140},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>KJZF_TB_cd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1208},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>KJZF_biaoti_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,413},{353,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,74}}</string>
                <key>sourceSize</key>
                <string>{353,74}</string>
            </dict>
            <key>KJZF_btn_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1785},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>KJZF_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1449},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>KJZF_jgbq.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1261},{61,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,30}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>KJZF_neikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1562},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>KJZF_qp.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1674},{109,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,53}}</string>
                <key>sourceSize</key>
                <string>{109,53}</string>
            </dict>
            <key>ZFFS_TB1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ZFFS_TB2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1530},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ZFFS_TB3.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1538},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZFFS_TB4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1530},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZFFS_TB5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,886},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZFFS_TB6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1022},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZFFS_TB7.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1158},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ZFFS_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1160},{376,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,86}}</string>
                <key>sourceSize</key>
                <string>{376,86}</string>
            </dict>
            <key>ZFFS_top_dk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{818,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{818,138}}</string>
                <key>sourceSize</key>
                <string>{818,138}</string>
            </dict>
            <key>ZFFS_top_dk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,822},{818,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{818,88}}</string>
                <key>sourceSize</key>
                <string>{818,88}</string>
            </dict>
            <key>btn_xiala.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1859},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>dadb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{882,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{882,544}}</string>
                <key>sourceSize</key>
                <string>{882,544}</string>
            </dict>
            <key>shuruk.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,768},{390,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,60}}</string>
                <key>sourceSize</key>
                <string>{390,60}</string>
            </dict>
            <key>touxiangdikuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,822},{316,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,47}}</string>
                <key>sourceSize</key>
                <string>{316,47}</string>
            </dict>
            <key>xiaodb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{642,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,406}}</string>
                <key>sourceSize</key>
                <string>{642,406}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fastPay.png</string>
            <key>size</key>
            <string>{774,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61a8b9508ffde4daa43b61ab05b1c72f:0e4dec5d9e5c133d230c5b957ccb4773:99d148ace9b81450ebf23bfb8d97a927$</string>
            <key>textureFileName</key>
            <string>fastPay.png</string>
        </dict>
    </dict>
</plist>
