<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>task/RW_TB_yiwancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,42},{142,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,66}}</string>
                <key>sourceSize</key>
                <string>{142,66}</string>
            </dict>
            <key>task/RW_jdt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{186,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{186,18}}</string>
                <key>sourceSize</key>
                <string>{186,20}</string>
            </dict>
            <key>task/RW_jdt_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,22},{184,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{184,18}}</string>
                <key>sourceSize</key>
                <string>{186,20}</string>
            </dict>
            <key>task/RW_list_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{754,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{754,140}}</string>
                <key>sourceSize</key>
                <string>{754,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task.png</string>
            <key>size</key>
            <string>{946,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d4a323497fa665c1834c10a33fbb387:6d0480a642eec8d9d60575b5701f1b42:0fe40ccc5647575d2f7ff520a7cb8a4b$</string>
            <key>textureFileName</key>
            <string>task.png</string>
        </dict>
    </dict>
</plist>
