<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_kaiju_lizi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1005},{197,221}}</string>
                <key>offset</key>
                <string>{24,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,128},{197,221}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,1204},{221,245}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,122},{221,245}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,1005},{211,261}}</string>
                <key>offset</key>
                <string>{32,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,118},{211,261}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,1256},{251,279}}</string>
                <key>offset</key>
                <string>{17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,112},{251,279}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,989},{265,301}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,101},{265,301}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1275},{253,331}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,86},{253,331}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1264},{295,353}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,76},{295,353}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,367},{305,369}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,68},{305,369}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,323},{315,389}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,60},{315,389}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{299,413}}</string>
                <key>offset</key>
                <string>{22,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,52},{299,413}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{339,429}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{339,429}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{349,445}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,40},{349,445}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{319,449}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,36},{319,449}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,303},{371,303}}</string>
                <key>offset</key>
                <string>{4,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,27},{371,303}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,955},{377,307}}</string>
                <key>offset</key>
                <string>{3,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{377,307}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,640},{381,313}}</string>
                <key>offset</key>
                <string>{3,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{381,313}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{363,317}}</string>
                <key>offset</key>
                <string>{14,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{363,317}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,2},{391,317}}</string>
                <key>offset</key>
                <string>{1,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{391,317}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{393,321}}</string>
                <key>offset</key>
                <string>{1,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{393,321}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,1218},{365,327}}</string>
                <key>offset</key>
                <string>{-14,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{365,327}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,674},{367,329}}</string>
                <key>offset</key>
                <string>{-14,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{367,329}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,656},{369,331}}</string>
                <key>offset</key>
                <string>{-13,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{369,331}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,321},{371,333}}</string>
                <key>offset</key>
                <string>{-12,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,333}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,640},{295,313}}</string>
                <key>offset</key>
                <string>{26,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{295,313}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1264},{297,313}}</string>
                <key>offset</key>
                <string>{26,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,0},{297,313}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,955},{231,307}}</string>
                <key>offset</key>
                <string>{-8,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,2},{231,307}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
            <key>tx_kaiju_lizi_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,674},{137,307}}</string>
                <key>offset</key>
                <string>{39,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,1},{137,307}}</string>
                <key>sourceSize</key>
                <string>{395,485}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_kaiju_lizi.png</string>
            <key>size</key>
            <string>{1931,1563}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eb7f251cdeee6e7832f67eae98327d5:0e9a339404fa1ee8ce6b4946ae244ee5:4e751aa4c9fe2a7be9d6cbbfb6bf0173$</string>
            <key>textureFileName</key>
            <string>tx_kaiju_lizi.png</string>
        </dict>
    </dict>
</plist>
