<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kaiju_benchangmenpiao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1937},{231,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,33}}</string>
                <key>sourceSize</key>
                <string>{231,33}</string>
            </dict>
            <key>tx_kaiju_gaungxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{1280,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,348}}</string>
                <key>sourceSize</key>
                <string>{1280,348}</string>
            </dict>
            <key>tx_kaiju_guangxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,365}}</string>
                <key>sourceSize</key>
                <string>{1280,365}</string>
            </dict>
            <key>tx_kaiju_guangxiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1284},{651,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,512}}</string>
                <key>sourceSize</key>
                <string>{651,512}</string>
            </dict>
            <key>tx_kaiju_guangxiao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{677,710}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,710}}</string>
                <key>sourceSize</key>
                <string>{677,710}</string>
            </dict>
            <key>tx_kaiju_honkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{626,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,209}}</string>
                <key>sourceSize</key>
                <string>{626,209}</string>
            </dict>
            <key>tx_kaiju_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,835},{168,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,199}}</string>
                <key>sourceSize</key>
                <string>{168,199}</string>
            </dict>
            <key>tx_kaiju_kai.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,630},{171,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,203}}</string>
                <key>sourceSize</key>
                <string>{171,203}</string>
            </dict>
            <key>tx_kaiju_lankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{584,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,211}}</string>
                <key>sourceSize</key>
                <string>{584,211}</string>
            </dict>
            <key>tx_kaiju_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,588},{101,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,104}}</string>
                <key>sourceSize</key>
                <string>{101,104}</string>
            </dict>
            <key>tx_kaiju_touxiangdi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1036},{113,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,176}}</string>
                <key>sourceSize</key>
                <string>{113,176}</string>
            </dict>
            <key>tx_kaiju_touxiangdi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1036},{113,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,176}}</string>
                <key>sourceSize</key>
                <string>{113,176}</string>
            </dict>
            <key>wifi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,2},{93,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,38}}</string>
                <key>sourceSize</key>
                <string>{93,38}</string>
            </dict>
            <key>wifi_qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1214},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>wifi_ruo.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1972},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>wifi_zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1937},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_kaiju_xiaoguo.png</string>
            <key>size</key>
            <string>{1195,1996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7034f99a0dbe1501256162eb2d4f1273:182c9ee26b57ead0fb20986936b0a89f:177c626e994bea98f64b7524c4bd43b7$</string>
            <key>textureFileName</key>
            <string>tx_kaiju_xiaoguo.png</string>
        </dict>
    </dict>
</plist>
