<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>active/active_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,47},{162,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{162,48}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>active/active_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,205},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>active/active_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,141},{252,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,62}}</string>
                <key>sourceSize</key>
                <string>{252,62}</string>
            </dict>
            <key>active/hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,141},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>active/new.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,141},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>active/notice_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>active/notice_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,43}}</string>
                <key>sourceSize</key>
                <string>{600,43}</string>
            </dict>
            <key>active/notice_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,205},{156,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{156,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>active/tab_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,47},{494,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{494,92}}</string>
                <key>sourceSize</key>
                <string>{496,94}</string>
            </dict>
            <key>active/time.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,141},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>active.png</string>
            <key>size</key>
            <string>{604,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86c994ba160c7c8e799d92ecbdf5ce20:db2f6cd71e088961499942b6cef59670:4e24ec27de6d45fe15daf6ed6d626029$</string>
            <key>textureFileName</key>
            <string>active.png</string>
        </dict>
    </dict>
</plist>
