<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>speakFace/LT_BQ1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,681},{98,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>speakFace/LT_BQ10.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,309},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>speakFace/LT_BQ11.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,497},{98,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>speakFace/LT_BQ12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{98,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>speakFace/LT_BQ13.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{102,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,88}}</string>
                <key>sourceSize</key>
                <string>{102,88}</string>
            </dict>
            <key>speakFace/LT_BQ14.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,589},{98,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>speakFace/LT_BQ2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,706},{98,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>speakFace/LT_BQ3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,106},{98,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,88}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>speakFace/LT_BQ4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,405},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>speakFace/LT_BQ5.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,770},{98,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>speakFace/LT_BQ6.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,206},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>speakFace/LT_BQ7.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,806},{98,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>speakFace/LT_BQ8.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,906},{98,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>speakFace/LT_BQ9.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,906},{98,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>speakFace/LT_TB_biaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,859},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>speakFace/LT_TB_biaoqing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,919},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>speakFace/LT_TB_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{56,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>speakFace/LT_TB_history2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,770},{56,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>speakFace/LT_TB_liaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>speakFace/LT_TB_liaotian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,706},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>speakFace/LT_btn_xk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,234}}</string>
                <key>sourceSize</key>
                <string>{68,234}</string>
            </dict>
            <key>speakFace/LT_btn_xk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{68,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,234}}</string>
                <key>sourceSize</key>
                <string>{68,234}</string>
            </dict>
            <key>speakFace/LT_btn_xk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{68,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,234}}</string>
                <key>sourceSize</key>
                <string>{68,234}</string>
            </dict>
            <key>speakFace/LT_btn_xk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{68,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,234}}</string>
                <key>sourceSize</key>
                <string>{68,234}</string>
            </dict>
            <key>speakFace/LT_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{210,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,210}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>speakFace/LT_dk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{210,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,210}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>speakFace/LT_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,309},{518,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,2}}</string>
                <key>sourceSize</key>
                <string>{518,2}</string>
            </dict>
            <key>speakFace/LT_srk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>speakFace/LT_srk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,859},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>speakFace.png</string>
            <key>size</key>
            <string>{328,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3524e48ba053c3faf270454e626f752:0de05d4d19018639c1b0d44b7ba932bf:b609e273158030de5892a2f5f4745323$</string>
            <key>textureFileName</key>
            <string>speakFace.png</string>
        </dict>
    </dict>
</plist>
