<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,393},{110,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,166}}</string>
                <key>sourceSize</key>
                <string>{110,166}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,455},{108,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,164}}</string>
                <key>sourceSize</key>
                <string>{110,166}</string>
            </dict>
            <key>c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,393},{110,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,166}}</string>
                <key>sourceSize</key>
                <string>{110,166}</string>
            </dict>
            <key>c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{108,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{108,162}}</string>
                <key>sourceSize</key>
                <string>{110,166}</string>
            </dict>
            <key>chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{543,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,453}}</string>
                <key>sourceSize</key>
                <string>{543,453}</string>
            </dict>
            <key>chat_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,785},{144,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,66}}</string>
                <key>sourceSize</key>
                <string>{144,66}</string>
            </dict>
            <key>chat_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,328},{367,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,63}}</string>
                <key>sourceSize</key>
                <string>{367,63}</string>
            </dict>
            <key>chat_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{580,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,43}}</string>
                <key>sourceSize</key>
                <string>{580,43}</string>
            </dict>
            <key>chat_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{144,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,66}}</string>
                <key>sourceSize</key>
                <string>{144,66}</string>
            </dict>
            <key>chat_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{423,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,4}}</string>
                <key>sourceSize</key>
                <string>{423,4}</string>
            </dict>
            <key>chat_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,328},{125,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{125,91}}</string>
                <key>sourceSize</key>
                <string>{127,93}</string>
            </dict>
            <key>gezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{425,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,324}}</string>
                <key>sourceSize</key>
                <string>{425,324}</string>
            </dict>
            <key>ltqp0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,931},{68,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{70,64}</string>
            </dict>
            <key>ltqp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{71,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,52}}</string>
                <key>sourceSize</key>
                <string>{71,52}</string>
            </dict>
            <key>ltqp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,931},{69,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>ltqp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,931},{64,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{66,52}</string>
            </dict>
            <key>ltqp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,505},{69,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edd39224d7a1dadd7e0c3f932ee7e780$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
