<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friend/HYJM_biaoqian_yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1877},{109,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,77}}</string>
                <key>sourceSize</key>
                <string>{109,77}</string>
            </dict>
            <key>friend/HYJM_biaoqian_yitianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1798},{109,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,77}}</string>
                <key>sourceSize</key>
                <string>{109,77}</string>
            </dict>
            <key>friend/HYJM_guanggaobiaoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1558},{378,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,28}}</string>
                <key>sourceSize</key>
                <string>{378,28}</string>
            </dict>
            <key>friend/HYJM_haoyouxingbeitubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1323},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>friend/HYJM_haoyouxingbeitubiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1786},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>friend/HYJM_sousuohaoyuo-anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1196},{205,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,125}}</string>
                <key>sourceSize</key>
                <string>{205,125}</string>
            </dict>
            <key>friend/HYJM_sousuohaoyuo_fanhuianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1956},{70,68}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>friend/HYJM_tongzhijiemian_youjiantubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1408},{97,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,76}}</string>
                <key>sourceSize</key>
                <string>{97,76}</string>
            </dict>
            <key>friend/HYJM_touxiangwaikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1323},{188,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,187}}</string>
                <key>sourceSize</key>
                <string>{188,187}</string>
            </dict>
            <key>friend/HY_DQ_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1786},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>friend/HY_LT_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,666},{88,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>friend/HY_LT_dk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1408},{96,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,70}}</string>
                <key>sourceSize</key>
                <string>{96,70}</string>
            </dict>
            <key>friend/HY_LY1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2002},{166,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{166,38}}</string>
                <key>sourceSize</key>
                <string>{168,40}</string>
            </dict>
            <key>friend/HY_LY2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2002},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,38}}</string>
                <key>sourceSize</key>
                <string>{168,40}</string>
            </dict>
            <key>friend/HY_LY3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2002},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,38}}</string>
                <key>sourceSize</key>
                <string>{168,40}</string>
            </dict>
            <key>friend/HY_YQYL_FX1.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1678},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>friend/HY_YQYL_FX2.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1558},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>friend/HY_jia2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1824},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>friend/HY_liaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,820},{198,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,38}}</string>
                <key>sourceSize</key>
                <string>{198,38}</string>
            </dict>
            <key>friend/HY_liaotian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1824},{172,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,36}}</string>
                <key>sourceSize</key>
                <string>{172,36}</string>
            </dict>
            <key>friend/HY_liaotian_riqidb.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1512},{213,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,44}}</string>
                <key>sourceSize</key>
                <string>{213,44}</string>
            </dict>
            <key>friend/HY_liaotiandb.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1820},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>friend/HY_sousuo_liebiaodb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1408},{356,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,98}}</string>
                <key>sourceSize</key>
                <string>{356,98}</string>
            </dict>
            <key>friend/HY_tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,758},{194,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,60}}</string>
                <key>sourceSize</key>
                <string>{194,60}</string>
            </dict>
            <key>friend/HY_tab_flx.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,746},{2,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,53}}</string>
                <key>sourceSize</key>
                <string>{2,53}</string>
            </dict>
            <key>friend/HY_tabdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1134},{190,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{190,60}}</string>
                <key>sourceSize</key>
                <string>{194,60}</string>
            </dict>
            <key>friend/HY_xinxidb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{648,242}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{648,242}}</string>
                <key>sourceSize</key>
                <string>{650,244}</string>
            </dict>
            <key>friend/HY_xinxidb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{756,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{756,296}}</string>
                <key>sourceSize</key>
                <string>{756,296}</string>
            </dict>
            <key>friend/fenxiang_pengyouq.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1558},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>friend/fenxiang_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1678},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>friend/fenxiangdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{656,266}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{656,266}}</string>
                <key>sourceSize</key>
                <string>{676,316}</string>
            </dict>
            <key>friend/haoyou_shijiandb.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,860},{198,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,34}}</string>
                <key>sourceSize</key>
                <string>{200,36}</string>
            </dict>
            <key>friend/hy_wuhaoy.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1512},{488,224}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,224}}</string>
                <key>sourceSize</key>
                <string>{488,228}</string>
            </dict>
            <key>friend/hy_wuhaoy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1512},{488,224}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,224}}</string>
                <key>sourceSize</key>
                <string>{488,228}</string>
            </dict>
            <key>friend/jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1956},{64,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>friend/mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1996},{65,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,46}}</string>
                <key>sourceSize</key>
                <string>{65,46}</string>
            </dict>
            <key>friend/sousuo_liebiaodb.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1408},{376,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{376,138}}</string>
                <key>sourceSize</key>
                <string>{376,140}</string>
            </dict>
            <key>friend/tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,976},{192,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,78}}</string>
                <key>sourceSize</key>
                <string>{192,78}</string>
            </dict>
            <key>friend/tab1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,896},{192,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,78}}</string>
                <key>sourceSize</key>
                <string>{192,78}</string>
            </dict>
            <key>friend/tab_flx.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,474},{2,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,50}}</string>
                <key>sourceSize</key>
                <string>{2,50}</string>
            </dict>
            <key>friend/tabdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1056},{192,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,76}}</string>
                <key>sourceSize</key>
                <string>{192,78}</string>
            </dict>
            <key>friend/xinxi_dengjidb.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,666},{82,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,32}}</string>
                <key>sourceSize</key>
                <string>{82,32}</string>
            </dict>
            <key>friend/xinxi_haoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1558},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>friend/xinxi_jinbidb.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1506},{316,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,48}}</string>
                <key>sourceSize</key>
                <string>{316,48}</string>
            </dict>
            <key>friend/yaoqing_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{658,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,228}}</string>
                <key>sourceSize</key>
                <string>{658,228}</string>
            </dict>
            <key>friend/yaoqing_fenlanx.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{742,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{742,2}}</string>
                <key>sourceSize</key>
                <string>{742,2}</string>
            </dict>
            <key>friend/yaoqing_haibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{754,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{754,90}}</string>
                <key>sourceSize</key>
                <string>{754,90}</string>
            </dict>
            <key>friend/yaoqing_jindut.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,368},{104,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,6}}</string>
                <key>sourceSize</key>
                <string>{104,6}</string>
            </dict>
            <key>friend/yaoqing_neirongdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{764,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{764,364}}</string>
                <key>sourceSize</key>
                <string>{764,364}</string>
            </dict>
            <key>friend/yaoqing_shuruk.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1959},{86,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,60}}</string>
                <key>sourceSize</key>
                <string>{86,60}</string>
            </dict>
            <key>friend/yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1959},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friend.png</string>
            <key>size</key>
            <string>{865,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69d92f067c5be8d99c2c4d894766e9ac$</string>
            <key>textureFileName</key>
            <string>friend.png</string>
        </dict>
    </dict>
</plist>
