<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DHJL_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,818},{128,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,92}}</string>
                <key>sourceSize</key>
                <string>{128,92}</string>
            </dict>
            <key>DHJL_diban_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,273},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>DHJM-shiwuduihuan_ziyuandiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,991},{57,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,31}}</string>
                <key>sourceSize</key>
                <string>{57,31}</string>
            </dict>
            <key>DLZC_TB_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,890},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>DLZC_TB_yk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,966},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>DLZC_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,546},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>DLZC_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,428},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>DPJM_TB_KC.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,911},{77,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,89}}</string>
                <key>sourceSize</key>
                <string>{77,89}</string>
            </dict>
            <key>DPJM_TB_KCWZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,989},{79,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,26}}</string>
                <key>sourceSize</key>
                <string>{79,26}</string>
            </dict>
            <key>DPJM_TX2_yan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,913},{100,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{100,96}}</string>
                <key>sourceSize</key>
                <string>{162,156}</string>
            </dict>
            <key>DPJM_TX2_yan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,638},{130,124}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{130,124}}</string>
                <key>sourceSize</key>
                <string>{162,156}</string>
            </dict>
            <key>DPJM_TX2_yan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,396},{148,144}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{148,144}}</string>
                <key>sourceSize</key>
                <string>{162,156}</string>
            </dict>
            <key>DPJM_TX2_yan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,522},{162,146}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{162,146}}</string>
                <key>sourceSize</key>
                <string>{162,156}</string>
            </dict>
            <key>DT_LB_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,670},{111,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,51}}</string>
                <key>sourceSize</key>
                <string>{111,51}</string>
            </dict>
            <key>DT_TB_laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,988},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>GYZY_EDIT_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,542},{132,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,59}}</string>
                <key>sourceSize</key>
                <string>{132,59}</string>
            </dict>
            <key>GYZY_TB_biaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1007},{93,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,15}}</string>
                <key>sourceSize</key>
                <string>{93,15}</string>
            </dict>
            <key>GYZY_TB_buqianka.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,723},{100,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{100,64}}</string>
                <key>sourceSize</key>
                <string>{114,94}</string>
            </dict>
            <key>GYZY_TB_csq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,877},{94,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{94,88}}</string>
                <key>sourceSize</key>
                <string>{114,94}</string>
            </dict>
            <key>GYZY_TB_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,966},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,56}}</string>
                <key>sourceSize</key>
                <string>{47,56}</string>
            </dict>
            <key>GYZY_TB_jipaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,179},{82,92}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{82,92}}</string>
                <key>sourceSize</key>
                <string>{114,94}</string>
            </dict>
            <key>GYZY_TB_laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,914},{70,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{70,72}}</string>
                <key>sourceSize</key>
                <string>{114,94}</string>
            </dict>
            <key>GYZY_TB_rmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,843},{44,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>GYZY_TB_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,464},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>GYZY_TB_yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,913},{132,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,96}}</string>
                <key>sourceSize</key>
                <string>{132,96}</string>
            </dict>
            <key>GYZY_TB_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,966},{56,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,49}}</string>
                <key>sourceSize</key>
                <string>{56,49}</string>
            </dict>
            <key>GYZY_TC_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,464},{340,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,168}}</string>
                <key>sourceSize</key>
                <string>{340,168}</string>
            </dict>
            <key>GYZY_TK_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,396},{170,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,142}}</string>
                <key>sourceSize</key>
                <string>{170,142}</string>
            </dict>
            <key>GYZY_TK_dikuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,669},{141,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,139}}</string>
                <key>sourceSize</key>
                <string>{141,139}</string>
            </dict>
            <key>GYZY_TK_dikuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,540},{138,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,114}}</string>
                <key>sourceSize</key>
                <string>{138,114}</string>
            </dict>
            <key>GYZY_TK_dikuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{1006,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1006,60}}</string>
                <key>sourceSize</key>
                <string>{1006,60}</string>
            </dict>
            <key>GYZY_TK_dikuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,64},{1006,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1006,36}}</string>
                <key>sourceSize</key>
                <string>{1006,36}</string>
            </dict>
            <key>GYZY_TK_neikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,670},{146,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,135}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
            <key>GYZY_biaoti_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{309,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,76}}</string>
                <key>sourceSize</key>
                <string>{309,76}</string>
            </dict>
            <key>GYZY_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,546},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>GYZY_btn_blue_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,546},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>GYZY_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,428},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>GYZY_btn_green2.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,428},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>GYZY_btn_green_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,428},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>GYZY_btn_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,890},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>GYZY_btn_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,278},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>GYZY_btn_org2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,278},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>GYZY_loading3.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,912},{110,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,106}}</string>
                <key>sourceSize</key>
                <string>{110,106}</string>
            </dict>
            <key>GYZY_tips_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{600,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,127}}</string>
                <key>sourceSize</key>
                <string>{600,127}</string>
            </dict>
            <key>GYZY_tips_dikuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,764},{222,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,147}}</string>
                <key>sourceSize</key>
                <string>{222,147}</string>
            </dict>
            <key>GYZY_tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,102},{324,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,324}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>GYZY_xuanka1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,442},{196,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,78}}</string>
                <key>sourceSize</key>
                <string>{196,78}</string>
            </dict>
            <key>GYZY_xuanka2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,374},{196,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,78}}</string>
                <key>sourceSize</key>
                <string>{196,78}</string>
            </dict>
            <key>JJDD_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,102},{270,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,216}}</string>
                <key>sourceSize</key>
                <string>{270,216}</string>
            </dict>
            <key>JPDH_BT_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,837},{52,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,148}}</string>
                <key>sourceSize</key>
                <string>{52,148}</string>
            </dict>
            <key>JPDH_DHM_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,638},{184,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,183}}</string>
                <key>sourceSize</key>
                <string>{184,183}</string>
            </dict>
            <key>JPDH_btn_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,359},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>JPDH_dk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,717},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>JPDH_list_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,913},{133,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,109}}</string>
                <key>sourceSize</key>
                <string>{133,109}</string>
            </dict>
            <key>JPDH_srk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,912},{52,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>JPDH_tips_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,454},{179,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,91}}</string>
                <key>sourceSize</key>
                <string>{179,91}</string>
            </dict>
            <key>KJCZ_wk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,542},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>SC_btn_wz_qita.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,102},{338,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,168}}</string>
                <key>sourceSize</key>
                <string>{338,168}</string>
            </dict>
            <key>SZ_fankuishurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,892},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>WJXX_btn_jhvip.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,844},{152,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,46}}</string>
                <key>sourceSize</key>
                <string>{152,46}</string>
            </dict>
            <key>WJXX_btn_jhvipgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,985},{61,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,36}}</string>
                <key>sourceSize</key>
                <string>{61,36}</string>
            </dict>
            <key>YXC_BX_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,664},{159,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,171}}</string>
                <key>sourceSize</key>
                <string>{159,171}</string>
            </dict>
            <key>YXC_BX_waikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,664},{178,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,178}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>YXC_LT_neikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,913},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>ZFFS_top_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,816},{140,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,72}}</string>
                <key>sourceSize</key>
                <string>{140,72}</string>
            </dict>
            <key>ZHDL_shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,656},{122,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,59}}</string>
                <key>sourceSize</key>
                <string>{122,59}</string>
            </dict>
            <key>ZHDL_xialaanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,853},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>ZJM_CF_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,912},{110,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,71}}</string>
                <key>sourceSize</key>
                <string>{110,71}</string>
            </dict>
            <key>ZJM_PHB_listdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,547},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>ZJM_PHB_neikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,914},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ZJM_PMD_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,862},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>ZJM_YBZY_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{426,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,144}}</string>
                <key>sourceSize</key>
                <string>{426,144}</string>
            </dict>
            <key>ZJM_info_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,812},{63,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,104}}</string>
                <key>sourceSize</key>
                <string>{63,104}</string>
            </dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,635},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>btn_guanbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,942},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>default_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,891},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>fanlanx.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,634},{2,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,317}}</string>
                <key>sourceSize</key>
                <string>{2,317}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,98},{248,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,178}}</string>
                <key>sourceSize</key>
                <string>{248,178}</string>
            </dict>
            <key>guangxiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{631,631}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,631}}</string>
                <key>sourceSize</key>
                <string>{631,631}</string>
            </dict>
            <key>guangxiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,102},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>guangxiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,967},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>guangyun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,670},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>paihang_liebiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,2},{388,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,94}}</string>
                <key>sourceSize</key>
                <string>{388,94}</string>
            </dict>
            <key>playreward_BSBM_anniu_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,988},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>plazaRedbagInputbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,862},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{125,125}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,967},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>redbagkuangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,994},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>time_bk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,819},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>time_bk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,825},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>time_bk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,825},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>time_bk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,755},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>vip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,843},{69,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,79}}</string>
                <key>sourceSize</key>
                <string>{69,79}</string>
            </dict>
            <key>vip_node.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,891},{116,92}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{116,92}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>vip_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{164,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{164,17}}</string>
                <key>sourceSize</key>
                <string>{170,17}</string>
            </dict>
            <key>weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,912},{66,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,50}}</string>
                <key>sourceSize</key>
                <string>{66,50}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,723},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wz_de.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,676},{77,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,87}}</string>
                <key>sourceSize</key>
                <string>{77,87}</string>
            </dict>
            <key>wz_gong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,98},{79,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,85}}</string>
                <key>sourceSize</key>
                <string>{79,85}</string>
            </dict>
            <key>wz_huo.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,764},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>wz_xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,913},{76,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,84}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>xiaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,547},{120,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,156}}</string>
                <key>sourceSize</key>
                <string>{120,156}</string>
            </dict>
            <key>xinshouqibuzijin.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,823},{184,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,37}}</string>
                <key>sourceSize</key>
                <string>{184,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bfbeada008e4665d7c2f1dc678c1a6d$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
