<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huohualizi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,398},{96,113}}</string>
                <key>offset</key>
                <string>{0,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,9},{96,113}}</string>
                <key>sourceSize</key>
                <string>{294,251}</string>
            </dict>
            <key>huohualizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,387},{116,135}}</string>
                <key>offset</key>
                <string>{-1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,3},{116,135}}</string>
                <key>sourceSize</key>
                <string>{294,251}</string>
            </dict>
            <key>huohualizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,251},{134,155}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,0},{134,155}}</string>
                <key>sourceSize</key>
                <string>{294,251}</string>
            </dict>
            <key>huohualizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,242},{154,173}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{154,173}}</string>
                <key>sourceSize</key>
                <string>{294,251}</string>
            </dict>
            <key>huohualizi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,292},{180,205}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{180,205}}</string>
                <key>sourceSize</key>
                <string>{294,251}</string>
            </dict>
            <key>huohualizi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,272},{200,227}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,1},{200,227}}</string>
                <key>sourceSize</key>
                <string>{294,251}</string>
            </dict>
            <key>huohualizi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{218,247}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{218,247}}</string>
                <key>sourceSize</key>
                <string>{294,251}</string>
            </dict>
            <key>huohualizi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{238,241}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{238,241}}</string>
                <key>sourceSize</key>
                <string>{294,251}</string>
            </dict>
            <key>huohualizi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{268,229}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{268,229}}</string>
                <key>sourceSize</key>
                <string>{294,251}</string>
            </dict>
            <key>huohualizi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{288,217}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{288,217}}</string>
                <key>sourceSize</key>
                <string>{294,251}</string>
            </dict>
            <key>huohualizi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{282,205}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{282,205}}</string>
                <key>sourceSize</key>
                <string>{294,251}</string>
            </dict>
            <key>huohualizi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,167}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,60},{290,167}}</string>
                <key>sourceSize</key>
                <string>{294,251}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huohualizi.png</string>
            <key>size</key>
            <string>{1084,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5b7c7267be838dca8ab783d1fb7f960:cabfba23c58f7489392bc3140559f60b:8d46d04a58dddda519f55d3a5b0bbb34$</string>
            <key>textureFileName</key>
            <string>huohualizi.png</string>
        </dict>
    </dict>
</plist>
