<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gongonlizi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1966},{44,88}}</string>
                <key>offset</key>
                <string>{-41,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{577,302},{44,88}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1036},{68,120}}</string>
                <key>offset</key>
                <string>{-36,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,282},{68,120}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1912},{102,146}}</string>
                <key>offset</key>
                <string>{-41,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{548,267},{102,146}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1814},{96,178}}</string>
                <key>offset</key>
                <string>{-27,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{565,244},{96,178}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1870},{150,208}}</string>
                <key>offset</key>
                <string>{-42,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{523,225},{150,208}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1574},{152,238}}</string>
                <key>offset</key>
                <string>{-26,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{538,203},{152,238}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1000},{198,262}}</string>
                <key>offset</key>
                <string>{-38,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{503,183},{198,262}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1574},{220,294}}</string>
                <key>offset</key>
                <string>{-38,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,160},{220,294}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1334},{238,324}}</string>
                <key>offset</key>
                <string>{-39,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{482,138},{238,324}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,402},{264,358}}</string>
                <key>offset</key>
                <string>{-37,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{471,115},{264,358}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1214},{278,386}}</string>
                <key>offset</key>
                <string>{-36,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,96},{278,386}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1036},{296,350}}</string>
                <key>offset</key>
                <string>{-33,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{459,145},{296,350}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{308,380}}</string>
                <key>offset</key>
                <string>{-31,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,125},{308,380}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{318,422}}</string>
                <key>offset</key>
                <string>{-29,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,95},{318,422}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,740},{294,304}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{484,191},{294,304}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,402},{316,336}}</string>
                <key>offset</key>
                <string>{-11,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,170},{316,336}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,668},{330,358}}</string>
                <key>offset</key>
                <string>{-12,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{463,155},{330,358}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1638},{344,376}}</string>
                <key>offset</key>
                <string>{-15,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,142},{344,376}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{356,386}}</string>
                <key>offset</key>
                <string>{-15,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,133},{356,386}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{364,398}}</string>
                <key>offset</key>
                <string>{-17,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,122},{364,398}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{372,404}}</string>
                <key>offset</key>
                <string>{-21,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,116},{372,404}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{378,416}}</string>
                <key>offset</key>
                <string>{-24,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,110},{378,416}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>gongonlizi_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1602},{308,362}}</string>
                <key>offset</key>
                <string>{-64,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,167},{308,362}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lizixiaoguo.png</string>
            <key>size</key>
            <string>{1060,2022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1affc357bdeec5c04ace35028e7173b5:4bac3ee63fda715c1e4146bc70ea304f:5b603ea781215089aa5e5c7b4d24073a$</string>
            <key>textureFileName</key>
            <string>lizixiaoguo.png</string>
        </dict>
    </dict>
</plist>
