<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GYZY_TC_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1740},{376,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,168}}</string>
                <key>sourceSize</key>
                <string>{376,168}</string>
            </dict>
            <key>GYZY_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1813},{236,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,92}}</string>
                <key>sourceSize</key>
                <string>{236,92}</string>
            </dict>
            <key>GYZY_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,1810},{236,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,92}}</string>
                <key>sourceSize</key>
                <string>{236,92}</string>
            </dict>
            <key>GYZY_btn_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,584},{236,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,100}}</string>
                <key>sourceSize</key>
                <string>{236,100}</string>
            </dict>
            <key>GYZY_erjibtdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1740},{472,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,84}}</string>
                <key>sourceSize</key>
                <string>{472,84}</string>
            </dict>
            <key>GYZY_shuruk.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1826},{108,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,60}}</string>
                <key>sourceSize</key>
                <string>{108,60}</string>
            </dict>
            <key>GYZY_tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1487},{206,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,84}}</string>
                <key>sourceSize</key>
                <string>{206,84}</string>
            </dict>
            <key>GYZY_tab2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1826},{174,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,82}}</string>
                <key>sourceSize</key>
                <string>{174,82}</string>
            </dict>
            <key>GYZY_tishidb.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1551},{602,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,124}}</string>
                <key>sourceSize</key>
                <string>{602,124}</string>
            </dict>
            <key>GYZY_tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,1286},{324,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,324}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>SC_yuekasm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,1612},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,822},{190,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,56}}</string>
                <key>sourceSize</key>
                <string>{190,56}</string>
            </dict>
            <key>btn_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1826},{190,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,56}}</string>
                <key>sourceSize</key>
                <string>{190,56}</string>
            </dict>
            <key>erjidb_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1032,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1032,580}}</string>
                <key>sourceSize</key>
                <string>{1032,580}</string>
            </dict>
            <key>erjidb_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1042},{142,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,138}}</string>
                <key>sourceSize</key>
                <string>{142,138}</string>
            </dict>
            <key>gold_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2},{316,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,47}}</string>
                <key>sourceSize</key>
                <string>{316,47}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,1810},{54,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,92}}</string>
                <key>sourceSize</key>
                <string>{54,92}</string>
            </dict>
            <key>guanbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1196},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>huawendb.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1677},{600,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,44}}</string>
                <key>sourceSize</key>
                <string>{600,44}</string>
            </dict>
            <key>level_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,320},{82,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,32}}</string>
                <key>sourceSize</key>
                <string>{82,32}</string>
            </dict>
            <key>little_tip_frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1230},{553,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,319}}</string>
                <key>sourceSize</key>
                <string>{553,319}</string>
            </dict>
            <key>roleinfo_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,568},{716,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,175}}</string>
                <key>sourceSize</key>
                <string>{716,175}</string>
            </dict>
            <key>roleinfo_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,568},{816,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{816,472}}</string>
                <key>sourceSize</key>
                <string>{816,472}</string>
            </dict>
            <key>sanjidb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{908,610}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{908,610}}</string>
                <key>sourceSize</key>
                <string>{908,610}</string>
            </dict>
            <key>sanjidb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,2},{908,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{908,564}}</string>
                <key>sourceSize</key>
                <string>{908,564}</string>
            </dict>
            <key>sanjidb_touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1723},{174,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,260}}</string>
                <key>sourceSize</key>
                <string>{174,260}</string>
            </dict>
            <key>task_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1723},{247,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,88}}</string>
                <key>sourceSize</key>
                <string>{247,88}</string>
            </dict>
            <key>teshudb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1196},{872,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{872,542}}</string>
                <key>sourceSize</key>
                <string>{872,542}</string>
            </dict>
            <key>touxiangk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,1230},{255,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,255}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>tuichuqp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1612},{482,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,196}}</string>
                <key>sourceSize</key>
                <string>{482,196}</string>
            </dict>
            <key>vip_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1042},{760,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,186}}</string>
                <key>sourceSize</key>
                <string>{760,186}</string>
            </dict>
            <key>xinxi_haoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,1487},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newcommon.png</string>
            <key>size</key>
            <string>{2031,1910}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70d529e6c1934642f76b91cbcc1d8dc7:3f656e29a825997ed3f33f08e3cb3d56:3e4699b81a3b2bdcbed2972b557c8a44$</string>
            <key>textureFileName</key>
            <string>newcommon.png</string>
        </dict>
    </dict>
</plist>
