<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang/touxiangguangdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{150,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,196}}</string>
                <key>sourceSize</key>
                <string>{150,196}</string>
            </dict>
            <key>kuang/touxxiangxg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,322}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>kuang/touxxiangxg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{266,314}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{266,314}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>kuang/touxxiangxg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{264,306}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{264,306}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>kuang/touxxiangxg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{260,304}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{260,304}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>kuang/touxxiangxg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,326},{256,298}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{256,298}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>kuang/touxxiangxg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,310},{244,286}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{244,286}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>kuang/touxxiangxg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,308},{232,276}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{232,276}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>kuang/touxxiangxg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,598},{226,266}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,27},{226,266}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>kuang/touxxiangxg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{202,250}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,35},{202,250}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
            <key>kuang/touxxiangxg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,586},{188,220}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,52},{188,220}}</string>
                <key>sourceSize</key>
                <string>{270,322}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>touxiangxg.png</string>
            <key>size</key>
            <string>{1008,826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1f13acdfb99c897e85ea471e49eee10:05de4b908bb30a745e2a2b0341547a7e:ad86fae44028432a52d5e0ecbfc1b279$</string>
            <key>textureFileName</key>
            <string>touxiangxg.png</string>
        </dict>
    </dict>
</plist>
