<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wupinguangxiao_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{160,161}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{160,161}}</string>
                <key>sourceSize</key>
                <string>{160,167}</string>
            </dict>
            <key>wupinguangxiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,2},{160,165}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,165}}</string>
                <key>sourceSize</key>
                <string>{160,167}</string>
            </dict>
            <key>wupinguangxiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,167}}</string>
                <key>sourceSize</key>
                <string>{160,167}</string>
            </dict>
            <key>wupinguangxiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,167}}</string>
                <key>sourceSize</key>
                <string>{160,167}</string>
            </dict>
            <key>wupinguangxiao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,167}}</string>
                <key>sourceSize</key>
                <string>{160,167}</string>
            </dict>
            <key>wupinguangxiao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,167}}</string>
                <key>sourceSize</key>
                <string>{160,167}</string>
            </dict>
            <key>wupinguangxiao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{160,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,167}}</string>
                <key>sourceSize</key>
                <string>{160,167}</string>
            </dict>
            <key>wupinguangxiao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{160,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,167}}</string>
                <key>sourceSize</key>
                <string>{160,167}</string>
            </dict>
            <key>wupinguangxiao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{160,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,167}}</string>
                <key>sourceSize</key>
                <string>{160,167}</string>
            </dict>
            <key>wupinguangxiao_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,2},{160,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,167}}</string>
                <key>sourceSize</key>
                <string>{160,167}</string>
            </dict>
            <key>wupinguangxiao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{160,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,167}}</string>
                <key>sourceSize</key>
                <string>{160,167}</string>
            </dict>
            <key>wupinguangxiao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{160,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,167}}</string>
                <key>sourceSize</key>
                <string>{160,167}</string>
            </dict>
            <key>wupinguangxiao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2},{160,35}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,35}}</string>
                <key>sourceSize</key>
                <string>{160,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wupinguangxiao.png</string>
            <key>size</key>
            <string>{1983,171}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29a88772f7f237d5d15629cb060111c3:ff857672bf7a96a37c68072f3c68e5ae:3bb2df1874756da51e6279642060b83a$</string>
            <key>textureFileName</key>
            <string>wupinguangxiao.png</string>
        </dict>
    </dict>
</plist>
