<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_fangjian_anniu_light_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,614},{71,72}}</string>
                <key>offset</key>
                <string>{-102,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,320},{97,124}}</string>
                <key>offset</key>
                <string>{-89,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,124}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,482},{121,168}}</string>
                <key>offset</key>
                <string>{-77,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,168}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,482},{145,200}}</string>
                <key>offset</key>
                <string>{-65,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,200}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,242},{169,238}}</string>
                <key>offset</key>
                <string>{-53,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,238}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2},{191,268}}</string>
                <key>offset</key>
                <string>{-42,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,268}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,312},{211,300}}</string>
                <key>offset</key>
                <string>{-31,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{211,300}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2},{227,332}}</string>
                <key>offset</key>
                <string>{-21,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{227,332}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,348},{255,344}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{255,344}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{263,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{263,344}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{263,344}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{263,344}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{261,344}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{261,344}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{263,344}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{263,344}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,348},{263,344}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{263,344}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,348},{261,344}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{261,344}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{257,344}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{257,344}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,348},{245,344}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{245,344}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,2},{221,308}}</string>
                <key>offset</key>
                <string>{25,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,36},{221,308}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,272},{193,260}}</string>
                <key>offset</key>
                <string>{38,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,84},{193,260}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,2},{171,238}}</string>
                <key>offset</key>
                <string>{48,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,106},{171,238}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,534},{145,208}}</string>
                <key>offset</key>
                <string>{59,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,136},{145,208}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,2},{117,174}}</string>
                <key>offset</key>
                <string>{72,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,170},{117,174}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,178},{93,140}}</string>
                <key>offset</key>
                <string>{82,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,204},{93,140}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,614},{67,100}}</string>
                <key>offset</key>
                <string>{93,-122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,244},{67,100}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
            <key>tx_fangjian_anniu_light_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,614},{39,62}}</string>
                <key>offset</key>
                <string>{105,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,282},{39,62}}</string>
                <key>sourceSize</key>
                <string>{275,344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_fangjian_liuguang.png</string>
            <key>size</key>
            <string>{1999,694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f6832841cdd668aedba380ddf2637aa:3c1ce7826f398ae788402fa892c6324b:9b931b478e4b66abd987f8c8da188747$</string>
            <key>textureFileName</key>
            <string>tx_fangjian_liuguang.png</string>
        </dict>
    </dict>
</plist>
