<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_xinggui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,420},{330,392}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{330,392}}</string>
                <key>sourceSize</key>
                <string>{360,396}</string>
            </dict>
            <key>diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,752},{300,364}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,13},{300,364}}</string>
                <key>sourceSize</key>
                <string>{360,396}</string>
            </dict>
            <key>fangjian_kuaishu_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1481},{343,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,101}}</string>
                <key>sourceSize</key>
                <string>{343,101}</string>
            </dict>
            <key>fangjian_kuaishukaishi_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1487},{280,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,89}}</string>
                <key>sourceSize</key>
                <string>{280,89}</string>
            </dict>
            <key>fangjian_renshu_tubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,946},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>fangjian_renshu_tubiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,946},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>fangjian_renshu_tubiao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,946},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>tx_fangjian_huabang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1527},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>tx_fangjian_hudie_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1465},{42,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,112}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1465},{42,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,114}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1465},{42,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,114}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1487},{42,82}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,82}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1487},{42,82}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,82}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1443},{42,82}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,82}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,541},{40,82}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,82}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1487},{40,84}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,84}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1487},{40,88}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,88}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1487},{38,90}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{38,90}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1487},{38,92}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{38,92}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1487},{40,94}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,94}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1487},{40,88}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,88}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1487},{40,90}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{40,90}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,443},{40,96}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,96}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,1443},{42,98}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,98}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,1443},{42,102}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,102}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1443},{42,106}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,106}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1465},{42,110}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,110}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_hudie_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1465},{42,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,114}}</string>
                <key>sourceSize</key>
                <string>{42,114}</string>
            </dict>
            <key>tx_fangjian_huoyan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,369},{24,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>tx_fangjian_huoyan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,369},{24,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>tx_fangjian_huoyan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,213},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>tx_fangjian_huoyan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,252},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>tx_fangjian_huoyan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,291},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>tx_fangjian_huoyan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,291},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>tx_fangjian_huoyan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,406},{24,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>tx_fangjian_huoyan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,625},{24,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>tx_fangjian_huoyan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,651},{24,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>tx_fangjian_huoyan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,651},{24,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>tx_fangjian_huoyan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,677},{24,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>tx_fangjian_huoyan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,330},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>tx_fangjian_huoyan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,703},{24,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>tx_fangjian_huoyan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,703},{24,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,1473},{107,111}}</string>
                <key>offset</key>
                <string>{-104,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,73},{107,111}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,213},{407,205}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,12},{407,205}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,1054},{453,213}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{453,213}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,481},{463,211}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{463,211}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,980},{483,217}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{483,217}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,986},{485,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{485,217}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,990},{489,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{489,217}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,497},{491,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{491,217}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{493,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,217}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{493,215}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{493,215}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,992},{493,215}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{493,215}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{493,215}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{493,215}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{493,213}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{493,213}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,497},{493,215}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{493,215}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,992},{493,215}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{493,215}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{493,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,217}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{491,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{491,217}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,495},{489,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{489,217}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{489,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{489,217}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,493},{485,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{485,217}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{485,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{485,217}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,489},{479,217}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{479,217}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,2},{477,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{477,217}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,970},{471,217}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{471,217}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,1054},{451,213}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{451,213}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_kuaishukaishi_light_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,2},{419,209}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,8},{419,209}}</string>
                <key>sourceSize</key>
                <string>{493,217}</string>
            </dict>
            <key>tx_fangjian_zhuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,946},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_fangjian_xiaoguo.png</string>
            <key>size</key>
            <string>{1965,1584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e86236940bf4df0e02e618231d77a3d:b8ec34823cf3344443c715f1d3ee9744:1f8ebc69bd053a7994bafe07649b441d$</string>
            <key>textureFileName</key>
            <string>tx_fangjian_xiaoguo.png</string>
        </dict>
    </dict>
</plist>
