<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>news/XXJM_diban_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{938,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{938,140}}</string>
                <key>sourceSize</key>
                <string>{938,142}</string>
            </dict>
            <key>news/XXJM_meiyouxiaoxi_wenbenxinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{478,224}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{478,224}}</string>
                <key>sourceSize</key>
                <string>{488,226}</string>
            </dict>
            <key>news/XX_FJ_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,144},{100,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,88}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>news/gongxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,144},{336,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{336,102}}</string>
                <key>sourceSize</key>
                <string>{338,104}</string>
            </dict>
            <key>news/gongxidb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{760,236}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{760,236}}</string>
                <key>sourceSize</key>
                <string>{762,238}</string>
            </dict>
            <key>news/gongxik.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,370},{138,138}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>news/shijiandb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{218,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,34}}</string>
                <key>sourceSize</key>
                <string>{218,34}</string>
            </dict>
            <key>news/yichak.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,608},{142,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,66}}</string>
                <key>sourceSize</key>
                <string>{142,66}</string>
            </dict>
            <key>news/youjian_tb.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,608},{84,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{84,92}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>news.png</string>
            <key>size</key>
            <string>{942,702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc943f4b281e6bc7080a960a763f672b:66f397b2a1a1f6cc119c35a28b080ef6:4c6964ea6f8bd9e50652b42a7c57962c$</string>
            <key>textureFileName</key>
            <string>news.png</string>
        </dict>
    </dict>
</plist>
