<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JZ_TB_fangkuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{87,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,99}}</string>
                <key>sourceSize</key>
                <string>{87,99}</string>
            </dict>
            <key>JZ_TB_heise.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,35},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>JZ_TB_heitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{89,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,93}}</string>
                <key>sourceSize</key>
                <string>{89,93}</string>
            </dict>
            <key>JZ_TB_ht.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,395},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>JZ_TB_jdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{157,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,163}}</string>
                <key>sourceSize</key>
                <string>{157,163}</string>
            </dict>
            <key>JZ_TB_meihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,302},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>JZ_tips_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{745,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{745,18}}</string>
                <key>sourceSize</key>
                <string>{745,18}</string>
            </dict>
            <key>JZ_tips_dk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{106,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,212}}</string>
                <key>sourceSize</key>
                <string>{106,212}</string>
            </dict>
            <key>JZ_wz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,31}}</string>
                <key>sourceSize</key>
                <string>{227,31}</string>
            </dict>
            <key>JZ_wz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,35},{6,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,5}}</string>
                <key>sourceSize</key>
                <string>{6,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiazai.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1abc9d459a28ae518d3395a2d907c28:1/1$</string>
            <key>textureFileName</key>
            <string>jiazai.png</string>
        </dict>
    </dict>
</plist>
