<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiujijin_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{871,502}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{871,502}}</string>
                <key>sourceSize</key>
                <string>{883,508}</string>
            </dict>
            <key>jiujijin_tuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{300,208}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{300,208}}</string>
                <key>sourceSize</key>
                <string>{302,212}</string>
            </dict>
            <key>lingjiujijinla.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,506},{481,199}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{481,199}}</string>
                <key>sourceSize</key>
                <string>{487,201}</string>
            </dict>
            <key>pochan.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2},{377,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,34}}</string>
                <key>sourceSize</key>
                <string>{377,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiujijin.png</string>
            <key>size</key>
            <string>{911,716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73a603c3880d5dca0ac922de8fd4b6f8:4f805bef89fc4588c259f8fbc8ef4eb2:50011245a85dd1232db039406013e6a5$</string>
            <key>textureFileName</key>
            <string>jiujijin.png</string>
        </dict>
    </dict>
</plist>
