<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_yulechangerjigongyong_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,1713},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>_yulechangerjigongyong_bg_2_youxiajiatiehua.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,1422},{289,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,272}}</string>
                <key>sourceSize</key>
                <string>{289,272}</string>
            </dict>
            <key>anniu_bairen2_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,949},{210,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,78}}</string>
                <key>sourceSize</key>
                <string>{210,78}</string>
            </dict>
            <key>anniu_guizeshengfu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,924},{295,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,60}}</string>
                <key>sourceSize</key>
                <string>{295,60}</string>
            </dict>
            <key>anniu_guizeshengfu_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1960},{155,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,40}}</string>
                <key>sourceSize</key>
                <string>{155,40}</string>
            </dict>
            <key>anniu_guizeshengfu_guize_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,1865},{159,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,51}}</string>
                <key>sourceSize</key>
                <string>{159,51}</string>
            </dict>
            <key>anniu_guizeshengfu_shengfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1918},{158,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,40}}</string>
                <key>sourceSize</key>
                <string>{158,40}</string>
            </dict>
            <key>anniu_guizeshengfu_shengfu_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1221},{165,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,50}}</string>
                <key>sourceSize</key>
                <string>{165,50}</string>
            </dict>
            <key>anniu_zi_shangzhaung.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,949},{148,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,37}}</string>
                <key>sourceSize</key>
                <string>{148,37}</string>
            </dict>
            <key>bairenchang_zhongjianshuoming_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1221},{150,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,42}}</string>
                <key>sourceSize</key>
                <string>{150,42}</string>
            </dict>
            <key>guizeshengfu_biaoti_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{496,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,94}}</string>
                <key>sourceSize</key>
                <string>{496,94}</string>
            </dict>
            <key>jiangchikaijiangde_dayingjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1713},{149,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,85}}</string>
                <key>sourceSize</key>
                <string>{149,85}</string>
            </dict>
            <key>jiangchikaijiangde_jiangchijiangjing_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{945,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{945,118}}</string>
                <key>sourceSize</key>
                <string>{945,118}</string>
            </dict>
            <key>jiangchikaijiangde_jjingbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1864},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>jiangchikaijiangde_touxiang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1217},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>jiangchikaijiangde_zhongjian_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{920,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{920,156}}</string>
                <key>sourceSize</key>
                <string>{920,156}</string>
            </dict>
            <key>shangzhuangliebiao_mingzi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1099},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>shangzhuangliebiao_zhongjianxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{487,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,2}}</string>
                <key>sourceSize</key>
                <string>{487,2}</string>
            </dict>
            <key>yulechang_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1161},{54,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,92}}</string>
                <key>sourceSize</key>
                <string>{54,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bairencaichi.png</string>
            <key>size</key>
            <string>{280,2002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2da33f942a776de475dbf8612ca1e178:6deb011c5c5b8e543637c102cd3f5277:9ba144d30271c201aa9969b4ea5a4db2$</string>
            <key>textureFileName</key>
            <string>bairencaichi.png</string>
        </dict>
    </dict>
</plist>
