<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BRNN_HDT_DK.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,424},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,44}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>BRNN_JC_JCKJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{399,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,110}}</string>
                <key>sourceSize</key>
                <string>{399,110}</string>
            </dict>
            <key>BRNN_JC_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{360,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,53}}</string>
                <key>sourceSize</key>
                <string>{360,53}</string>
            </dict>
            <key>BRNN_JC_dk_guangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,325},{131,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,47}}</string>
                <key>sourceSize</key>
                <string>{131,47}</string>
            </dict>
            <key>BRNN_TX_heheda.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{420,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,420}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>anniu_bairen_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,424},{68,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>guize_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{836,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{836,170}}</string>
                <key>sourceSize</key>
                <string>{836,170}</string>
            </dict>
            <key>guize_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{836,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{836,149}}</string>
                <key>sourceSize</key>
                <string>{836,149}</string>
            </dict>
            <key>jiangchikaijiangde_touxiang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,424},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>noset.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,325},{129,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{129,43}}</string>
                <key>sourceSize</key>
                <string>{131,43}</string>
            </dict>
            <key>wanjialiebiao_frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,325},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wanjialiebiao_wanjia_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,325},{178,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,130}}</string>
                <key>sourceSize</key>
                <string>{180,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dn_bairen.png</string>
            <key>size</key>
            <string>{1262,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7396f67382110287d1cbc037c8cc55e:335e3c950f1b40d692427d47316efba3:315bb49932afe8ea6c9421118b2031a9$</string>
            <key>textureFileName</key>
            <string>dn_bairen.png</string>
        </dict>
    </dict>
</plist>
