<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BRNN_DM_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1070},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>BRNN_DM_tx_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,762},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>BRNN_HDT_NK.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{760,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,37}}</string>
                <key>sourceSize</key>
                <string>{760,37}</string>
            </dict>
            <key>BRNN_JCKJ_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1036},{105,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,27}}</string>
                <key>sourceSize</key>
                <string>{105,27}</string>
            </dict>
            <key>BRNN_JC_JCKJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1070},{399,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,110}}</string>
                <key>sourceSize</key>
                <string>{399,110}</string>
            </dict>
            <key>BRNN_JC_dk_guangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,821},{129,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{129,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>BRNN_JC_tjbq.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,821},{65,133}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,133}}</string>
                <key>sourceSize</key>
                <string>{67,135}</string>
            </dict>
            <key>BRNN_NX_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,718},{181,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,42}}</string>
                <key>sourceSize</key>
                <string>{181,42}</string>
            </dict>
            <key>BRNN_SZLB_list_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1013},{97,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,77}}</string>
                <key>sourceSize</key>
                <string>{97,77}</string>
            </dict>
            <key>BRNN_SZLB_list_dk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,737},{65,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,53}}</string>
                <key>sourceSize</key>
                <string>{65,53}</string>
            </dict>
            <key>BRNN_TB_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1036},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>BRNN_TB_zx.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,821},{77,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,94}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>BRNN_TIPS_DK.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1065},{97,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,64}}</string>
                <key>sourceSize</key>
                <string>{99,64}</string>
            </dict>
            <key>BRNN_WJLB_rsdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,305},{706,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{706,55}}</string>
                <key>sourceSize</key>
                <string>{722,55}</string>
            </dict>
            <key>BRNN_ZS_fu.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1285},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>BRNN_ZS_huase1.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,900},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>BRNN_ZS_huase2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,975},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>BRNN_ZS_huase3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1277},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>BRNN_ZS_huase4.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1285},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>BRNN_ZS_huase5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,821},{131,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,125}}</string>
                <key>sourceSize</key>
                <string>{131,125}</string>
            </dict>
            <key>BRNN_ZS_huase6.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,954},{111,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,117}}</string>
                <key>sourceSize</key>
                <string>{111,117}</string>
            </dict>
            <key>BRNN_ZS_huase7.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,958},{107,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,125}}</string>
                <key>sourceSize</key>
                <string>{107,127}</string>
            </dict>
            <key>BRNN_ZS_huase8.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,821},{93,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,127}}</string>
                <key>sourceSize</key>
                <string>{95,127}</string>
            </dict>
            <key>BRNN_ZS_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1036},{59,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,25}}</string>
                <key>sourceSize</key>
                <string>{59,25}</string>
            </dict>
            <key>BRNN_ZS_jiantou_fk.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,762},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>BRNN_ZS_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1285},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>BRNN_btn_guanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1182},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>BRNN_btn_zhuijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{112,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{112,50}}</string>
                <key>sourceSize</key>
                <string>{114,50}</string>
            </dict>
            <key>BRNN_gold_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,116},{187,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{187,48}}</string>
                <key>sourceSize</key>
                <string>{189,50}</string>
            </dict>
            <key>BRNN_jc_dk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{968,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{968,162}}</string>
                <key>sourceSize</key>
                <string>{968,162}</string>
            </dict>
            <key>BRNN_jc_fgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,536},{10,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,123}}</string>
                <key>sourceSize</key>
                <string>{10,123}</string>
            </dict>
            <key>BRNN_jc_gzdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{703,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{703,173}}</string>
                <key>sourceSize</key>
                <string>{703,173}</string>
            </dict>
            <key>BRNN_wz_jckj0.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1208},{273,75}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{273,75}}</string>
                <key>sourceSize</key>
                <string>{281,77}</string>
            </dict>
            <key>BRNN_wz_sfzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,575},{160,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,48}}</string>
                <key>sourceSize</key>
                <string>{160,48}</string>
            </dict>
            <key>BRNN_wz_szlb.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,821},{135,36}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,19},{135,36}}</string>
                <key>sourceSize</key>
                <string>{187,80}</string>
            </dict>
            <key>BRNN_wz_szlb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1131},{275,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{275,75}}</string>
                <key>sourceSize</key>
                <string>{281,77}</string>
            </dict>
            <key>BRNN_wz_wysz.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,762},{133,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,38}}</string>
                <key>sourceSize</key>
                <string>{133,38}</string>
            </dict>
            <key>BRNN_xiazhu_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1085},{70,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,41}}</string>
                <key>sourceSize</key>
                <string>{70,41}</string>
            </dict>
            <key>BRNN_zhuijia_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1885},{497,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{497,135}}</string>
                <key>sourceSize</key>
                <string>{511,135}</string>
            </dict>
            <key>BRNN_zj_guangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,804},{234,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{234,264}}</string>
                <key>sourceSize</key>
                <string>{236,266}</string>
            </dict>
            <key>anniu_chouma_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1112},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>anniu_chouma_huanglv.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,916},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>anniu_chouma_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,916},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>anniu_chouma_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1157},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>anniu_chouma_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1182},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>bairen_bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{1062,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1062,87}}</string>
                <key>sourceSize</key>
                <string>{1062,87}</string>
            </dict>
            <key>bairen_bottom_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{709,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{709,69}}</string>
                <key>sourceSize</key>
                <string>{709,69}</string>
            </dict>
            <key>bairen_vip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,821},{76,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,89}}</string>
                <key>sourceSize</key>
                <string>{76,89}</string>
            </dict>
            <key>bairen_xiazhutishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,536},{180,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,181}}</string>
                <key>sourceSize</key>
                <string>{180,181}</string>
            </dict>
            <key>bairenmajiang_duimianwangjia_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{964,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{964,118}}</string>
                <key>sourceSize</key>
                <string>{964,118}</string>
            </dict>
            <key>huase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{962,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{962,248}}</string>
                <key>sourceSize</key>
                <string>{962,248}</string>
            </dict>
            <key>shenfuzoushi_yuanxingxiamian.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,536},{30,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,5}}</string>
                <key>sourceSize</key>
                <string>{30,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dn_bairenroom.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a25cc4e922ef14ee7554976a10c3b9c:3743f360220e32f5b7df3286187f876a:39d76702030cd4a5bc2a84b4a39b1753$</string>
            <key>textureFileName</key>
            <string>dn_bairenroom.png</string>
        </dict>
    </dict>
</plist>
