<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fnt_bairenchang_jiesuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,99},{42,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,94}}</string>
                <key>sourceSize</key>
                <string>{42,94}</string>
            </dict>
            <key>fnt_bairenchang_jiesuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{73,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,95}}</string>
                <key>sourceSize</key>
                <string>{73,95}</string>
            </dict>
            <key>fnt_bairenchang_jiesuan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,143},{64,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,98}}</string>
                <key>sourceSize</key>
                <string>{64,98}</string>
            </dict>
            <key>fnt_bairenchang_jiesuan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,294},{79,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,98}}</string>
                <key>sourceSize</key>
                <string>{79,98}</string>
            </dict>
            <key>fnt_bairenchang_jiesuan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,146},{72,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,98}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
            <key>fnt_bairenchang_jiesuan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,243},{74,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,98}}</string>
                <key>sourceSize</key>
                <string>{74,98}</string>
            </dict>
            <key>fnt_bairenchang_jiesuan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,146},{77,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,95}}</string>
                <key>sourceSize</key>
                <string>{77,95}</string>
            </dict>
            <key>fnt_bairenchang_jiesuan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,2},{69,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,95}}</string>
                <key>sourceSize</key>
                <string>{69,95}</string>
            </dict>
            <key>fnt_bairenchang_jiesuan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,220},{69,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,97}}</string>
                <key>sourceSize</key>
                <string>{69,97}</string>
            </dict>
            <key>fnt_bairenchang_jiesuan_bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,375},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,99}}</string>
                <key>sourceSize</key>
                <string>{101,99}</string>
            </dict>
            <key>fnt_bairenchang_jiesuan_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,391},{68,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>fnt_bairenchang_jiesuan_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,253},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>fnt_bairenchang_jiesuan_si.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,420},{103,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,79}}</string>
                <key>sourceSize</key>
                <string>{103,79}</string>
            </dict>
            <key>fnt_bairenchang_jiesuan_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,157},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>fnt_bairenchang_jiesuan_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,319},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>fnt_bairenchang_jiesuan_zha.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,243},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>fnt_bairenchang_jiesuan_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,343},{65,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,78}}</string>
                <key>sourceSize</key>
                <string>{65,78}</string>
            </dict>
            <key>tx_bairenchang_baozi_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{567,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,290}}</string>
                <key>sourceSize</key>
                <string>{567,290}</string>
            </dict>
            <key>tx_bairenchang_baozi_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,2},{153,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,133}}</string>
                <key>sourceSize</key>
                <string>{153,133}</string>
            </dict>
            <key>tx_bairenchang_jeisuan_dain_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,157},{86,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{86,94}</string>
            </dict>
            <key>tx_bairenchang_jeisuan_dain_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,395},{68,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>tx_bairenchang_jeisuan_di_honshe01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,294},{220,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,81}}</string>
                <key>sourceSize</key>
                <string>{220,81}</string>
            </dict>
            <key>tx_bairenchang_jeisuan_di_honshe02.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{142,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,140}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>tx_bairenchang_jeisuan_di_honshe03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{260,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,124}}</string>
                <key>sourceSize</key>
                <string>{260,124}</string>
            </dict>
            <key>tx_bairenchang_jeisuan_di_lanshe.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,357},{142,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,140}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>tx_bairenchang_jeisuan_di_lanshe01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{193,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,71}}</string>
                <key>sourceSize</key>
                <string>{193,71}</string>
            </dict>
            <key>tx_bairenchang_jeisuan_zhauzi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,319},{70,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,82}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>tx_bairenchang_jeisuan_zhauzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,255},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>tx_bairenchang_jeisuan_zhauzi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,377},{106,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,118}}</string>
                <key>sourceSize</key>
                <string>{106,118}</string>
            </dict>
            <key>tx_bairenchang_jeisuan_zhauzi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,377},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tx_bairenchang_jeisuan_zhauzi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,377},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_bairenchang_jeisuan.png</string>
            <key>size</key>
            <string>{1001,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a568e514fa34f8f7c2b978ab59b2e956:5e0eeb3dfe1606872011d1139dbdc5a9:f444856d60e47b96a40d6814ea5364bd$</string>
            <key>textureFileName</key>
            <string>tx_bairenchang_jeisuan.png</string>
        </dict>
    </dict>
</plist>
