<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameframe/bg_bottom_bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,104},{256,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,53}}</string>
                <key>sourceSize</key>
                <string>{256,53}</string>
            </dict>
            <key>gameframe/bg_bottom_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,159},{256,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,53}}</string>
                <key>sourceSize</key>
                <string>{256,53}</string>
            </dict>
            <key>gameframe/btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,261},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>gameframe/btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,214},{230,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,45}}</string>
                <key>sourceSize</key>
                <string>{230,45}</string>
            </dict>
            <key>gameframe/btn_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,119},{166,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,72}}</string>
                <key>sourceSize</key>
                <string>{166,72}</string>
            </dict>
            <key>gameframe/btn_speak.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,318},{80,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,53}}</string>
                <key>sourceSize</key>
                <string>{80,53}</string>
            </dict>
            <key>gameframe/gamegrame_spake_spake_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,287},{126,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,110}}</string>
                <key>sourceSize</key>
                <string>{126,110}</string>
            </dict>
            <key>gameframe/ico_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,287},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>gameframe/icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{50,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>gameframe/icon_remcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{260,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,308}}</string>
                <key>sourceSize</key>
                <string>{260,308}</string>
            </dict>
            <key>gameframe/icon_zuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,61},{56,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,49}}</string>
                <key>sourceSize</key>
                <string>{56,49}</string>
            </dict>
            <key>gameframe/remcard_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,100}}</string>
                <key>sourceSize</key>
                <string>{540,100}</string>
            </dict>
            <key>gameframe/spake_btn_depressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{80,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,93}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>gameframe/spake_btn_proud.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,429},{80,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,93}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>gameframe/spake_btn_ridicule.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,429},{80,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,93}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>gameframe/spake_btn_urge.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,415},{80,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,93}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>gameframe/userinfo_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,374},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>gameframe/userinfo_nofind.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,415},{87,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,75}}</string>
                <key>sourceSize</key>
                <string>{87,75}</string>
            </dict>
            <key>gameframe/userinfo_talk.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,261},{111,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,73}}</string>
                <key>sourceSize</key>
                <string>{111,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameframe.png</string>
            <key>size</key>
            <string>{596,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a290351c17c1cdb8ff27e523ad0cb47c:6752b94b3b188f0387fd6b748a80b7a2:06d2e0aed10df56b9f1de908521f094d$</string>
            <key>textureFileName</key>
            <string>gameframe.png</string>
        </dict>
    </dict>
</plist>
