<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>denglu_logo_di01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,907},{110,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,105}}</string>
                <key>sourceSize</key>
                <string>{110,105}</string>
            </dict>
            <key>denglu_logo_di02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,287},{116,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,130}}</string>
                <key>sourceSize</key>
                <string>{116,130}</string>
            </dict>
            <key>denglu_logo_honzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,817},{84,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,92}}</string>
                <key>sourceSize</key>
                <string>{84,92}</string>
            </dict>
            <key>denglu_logo_shaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,751},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>denglu_logo_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,2},{283,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,100}}</string>
                <key>sourceSize</key>
                <string>{283,100}</string>
            </dict>
            <key>guang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,799},{223,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,223}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>guang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{418,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,415}}</string>
                <key>sourceSize</key>
                <string>{418,415}</string>
            </dict>
            <key>guang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,720},{436,217}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,40},{436,217}}</string>
                <key>sourceSize</key>
                <string>{532,273}</string>
            </dict>
            <key>majiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,554},{303,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,252}}</string>
                <key>sourceSize</key>
                <string>{303,252}</string>
            </dict>
            <key>majiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,808},{190,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,212}}</string>
                <key>sourceSize</key>
                <string>{190,212}</string>
            </dict>
            <key>renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{867,716}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,111},{867,716}}</string>
                <key>sourceSize</key>
                <string>{867,912}</string>
            </dict>
            <key>renwu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{417,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,298}}</string>
                <key>sourceSize</key>
                <string>{417,298}</string>
            </dict>
            <key>renwu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,554},{354,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,243}}</string>
                <key>sourceSize</key>
                <string>{354,243}</string>
            </dict>
            <key>renwu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,419},{322,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,330}}</string>
                <key>sourceSize</key>
                <string>{322,330}</string>
            </dict>
            <key>renwu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,623},{192,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,165}}</string>
                <key>sourceSize</key>
                <string>{192,165}</string>
            </dict>
            <key>renwu05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,751},{212,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,156}}</string>
                <key>sourceSize</key>
                <string>{212,156}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,911},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>toufa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{623,550}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{623,550}}</string>
                <key>sourceSize</key>
                <string>{647,552}</string>
            </dict>
            <key>toufa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,909},{65,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,182}}</string>
                <key>sourceSize</key>
                <string>{65,182}</string>
            </dict>
            <key>toufa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,939},{211,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,68}}</string>
                <key>sourceSize</key>
                <string>{211,68}</string>
            </dict>
            <key>toufa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,939},{177,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,69}}</string>
                <key>sourceSize</key>
                <string>{177,69}</string>
            </dict>
            <key>toufa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,817},{126,88}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,88}}</string>
                <key>sourceSize</key>
                <string>{146,88}</string>
            </dict>
            <key>toufa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,808},{212,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,201}}</string>
                <key>sourceSize</key>
                <string>{212,201}</string>
            </dict>
            <key>toufa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,419},{202,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,152}}</string>
                <key>sourceSize</key>
                <string>{202,152}</string>
            </dict>
            <key>xiongbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,799},{225,110}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,110}}</string>
                <key>sourceSize</key>
                <string>{225,114}</string>
            </dict>
            <key>yanjing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,751},{64,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>yanjing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,419},{61,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,33}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_denglu_rewnu.png</string>
            <key>size</key>
            <string>{2036,1026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63f68ab480d604186eb531c3deb52853:6b7d289a826c8ca96365ec59824cb20b:7b4ee599c14e60b0b466312960ebfccf$</string>
            <key>textureFileName</key>
            <string>tx_denglu_rewnu.png</string>
        </dict>
    </dict>
</plist>
