<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login/DLZC_btn_shangla.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,122},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>login/DLZC_btn_xiala.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,122},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>login/GX_JDT_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{829,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{829,109}}</string>
                <key>sourceSize</key>
                <string>{829,109}</string>
            </dict>
            <key>login/GX_JDT_jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{761,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,36},{761,37}}</string>
                <key>sourceSize</key>
                <string>{829,109}</string>
            </dict>
            <key>login/GX_wz_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,112},{440,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,48}}</string>
                <key>sourceSize</key>
                <string>{440,48}</string>
            </dict>
            <key>login/btn_green_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{312,108}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{312,108}}</string>
                <key>sourceSize</key>
                <string>{314,120}</string>
            </dict>
            <key>login/btn_org_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2},{310,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{310,118}}</string>
                <key>sourceSize</key>
                <string>{314,120}</string>
            </dict>
            <key>login/heised.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,2},{98,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,302}}</string>
                <key>sourceSize</key>
                <string>{98,302}</string>
            </dict>
            <key>login/qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,56},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>login/shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,122},{40,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,52}}</string>
                <key>sourceSize</key>
                <string>{40,52}</string>
            </dict>
            <key>login/shoujidl_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,112},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>login/shoujidl_xialadb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,2},{110,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,106}}</string>
                <key>sourceSize</key>
                <string>{110,106}</string>
            </dict>
            <key>login/shuruk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,110},{112,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,60}}</string>
                <key>sourceSize</key>
                <string>{112,60}</string>
            </dict>
            <key>login/tishiyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{1094,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1094,22}}</string>
                <key>sourceSize</key>
                <string>{1094,22}</string>
            </dict>
            <key>login/weixindltb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,2},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,52}}</string>
                <key>sourceSize</key>
                <string>{68,52}</string>
            </dict>
            <key>login/youke.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,122},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>login/zhuce.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,113},{148,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,26}}</string>
                <key>sourceSize</key>
                <string>{148,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1966,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3775f7314c1d2d5fa16bbb916c7d05eb:84ae59a0590aef55611567c6dc40e0fb:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
