<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>denglu_majiang_guangxiao01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,922},{247,195}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,195}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,930},{245,187}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{245,187}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,372},{245,183}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{245,183}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{247,183}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{247,183}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,832},{249,181}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{249,181}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,555},{249,179}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{249,179}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{251,183}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{251,183}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,251},{247,175}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{247,175}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,302},{251,173}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{251,173}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,2},{247,175}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{247,175}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,927},{233,179}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{233,179}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,557},{237,183}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{237,183}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,742},{237,183}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{237,183}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,195},{241,175}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{241,175}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,302},{263,173}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{263,173}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,567},{263,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{263,173}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,806},{245,179}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{245,179}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,557},{239,187}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{239,187}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,2},{243,191}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{243,191}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,902},{245,193}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{245,193}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{304,202}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{304,202}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,310},{304,210}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{304,210}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{308,214}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,214}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,216}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{308,216}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{308,216}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{308,216}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,622},{306,212}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{306,212}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,614},{302,206}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{302,206}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,612},{300,204}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{300,204}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{300,206}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{300,206}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,304},{298,208}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{298,208}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,616},{304,198}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{304,198}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{306,198}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{306,198}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,310},{306,198}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{306,198}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{306,192}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{306,192}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,308},{302,192}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{302,192}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{298,194}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{298,194}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,604},{296,196}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{296,196}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,918},{300,196}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{300,196}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,308},{304,196}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{304,196}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
            <key>denglu_majiang_guangxiao02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{304,196}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{304,196}}</string>
                <key>sourceSize</key>
                <string>{310,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_denglu_majiang_light.png</string>
            <key>size</key>
            <string>{2028,1119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a22ae5c1a2374fea961dcb969054b62:1171cac77420f50789430e0f59b5c4fc:986dc1ed8f33dda4390ba0b1f43d4097$</string>
            <key>textureFileName</key>
            <string>tx_denglu_majiang_light.png</string>
        </dict>
    </dict>
</plist>
