<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_yiqi_denglu_majiang_light_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,446},{442,174}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{442,174}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{442,186}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{442,186}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,194}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{442,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,194}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{442,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,194}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{442,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,194}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,2},{418,162}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{418,162}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,642},{420,162}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{420,162}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,642},{442,162}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{442,162}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2},{442,172}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{442,172}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,446},{442,174}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{442,174}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{442,186}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{442,186}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,446},{442,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,194}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{442,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,194}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{442,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,194}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,446},{442,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,194}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,622},{418,162}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{418,162}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,2},{420,162}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{420,162}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,642},{442,162}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{442,162}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>tx_yiqi_denglu_majiang_light_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2},{442,172}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{442,172}}</string>
                <key>sourceSize</key>
                <string>{442,194}</string>
            </dict>
            <key>yiqi_denglu_majiang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{167,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,128}}</string>
                <key>sourceSize</key>
                <string>{167,128}</string>
            </dict>
            <key>yiqi_denglu_majiang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,422},{113,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,94}}</string>
                <key>sourceSize</key>
                <string>{113,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_yiqi_denglu_majiang_light.png</string>
            <key>size</key>
            <string>{2034,811}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90bc8735c558fc9f014a82284380afa2:7ef958ca743ef9eeacf19a7794ee97e4:e82bfb7805534e4341cf9a13c7a14160$</string>
            <key>textureFileName</key>
            <string>tx_yiqi_denglu_majiang_light.png</string>
        </dict>
    </dict>
</plist>
