<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>set/SZJM_tubiao_dianhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,747},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>set/SZ_TB_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,533},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>set/SZ_btn_danxuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,367},{117,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,49}}</string>
                <key>sourceSize</key>
                <string>{117,49}</string>
            </dict>
            <key>set/SZ_btn_danxuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,418},{111,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{111,41}}</string>
                <key>sourceSize</key>
                <string>{117,49}</string>
            </dict>
            <key>set/SZ_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,418},{2,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,344}}</string>
                <key>sourceSize</key>
                <string>{2,344}</string>
            </dict>
            <key>set/guanyulogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,567},{178,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,36}}</string>
                <key>sourceSize</key>
                <string>{178,36}</string>
            </dict>
            <key>set/guanyuwenzidb.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{165,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,363}}</string>
                <key>sourceSize</key>
                <string>{165,363}</string>
            </dict>
            <key>set/noLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{972,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{972,474}}</string>
                <key>sourceSize</key>
                <string>{972,474}</string>
            </dict>
            <key>set/yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,498},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,43}</string>
            </dict>
            <key>set/yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,461},{105,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{105,35}}</string>
                <key>sourceSize</key>
                <string>{105,43}</string>
            </dict>
            <key>set/yuyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,470},{95,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{95,41}}</string>
                <key>sourceSize</key>
                <string>{105,43}</string>
            </dict>
            <key>set/zhendong.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,367},{101,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,43}}</string>
                <key>sourceSize</key>
                <string>{105,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>set.png</string>
            <key>size</key>
            <string>{645,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9c6277cac3a5f9f8d2d29094999a5a3:935c5e353800f43c5b224a015c422d33:52cd0e5b9fd801e6fb85a74f9274f820$</string>
            <key>textureFileName</key>
            <string>set.png</string>
        </dict>
    </dict>
</plist>
