<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_shangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,392},{107,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,55}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>anniu_wjlb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,2},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>anniu_xiazhu_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,261},{121,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,129}}</string>
                <key>sourceSize</key>
                <string>{121,129}</string>
            </dict>
            <key>anniu_xiazhu_deepgreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,261},{121,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,129}}</string>
                <key>sourceSize</key>
                <string>{121,129}</string>
            </dict>
            <key>anniu_xiazhu_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,261},{121,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,129}}</string>
                <key>sourceSize</key>
                <string>{121,129}</string>
            </dict>
            <key>anniu_xiazhu_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,261},{121,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,129}}</string>
                <key>sourceSize</key>
                <string>{121,129}</string>
            </dict>
            <key>anniu_xiazhu_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,261},{120,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,129}}</string>
                <key>sourceSize</key>
                <string>{120,129}</string>
            </dict>
            <key>anniu_xuya.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,261},{141,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,73}}</string>
                <key>sourceSize</key>
                <string>{141,73}</string>
            </dict>
            <key>anniu_zuoxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,53},{75,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,44}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>choumaNum_100_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,2},{50,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>choumaNum_100_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,356},{66,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{66,27}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>choumaNum_100_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,54},{42,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{42,25}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>choumaNum_100_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,53},{48,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{48,25}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>choumaNum_100_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{56,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{56,27}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>choumaNum_500_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,60},{54,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{54,27}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>choumaNum_500_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,356},{72,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,27}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>choumaNum_500_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{48,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{48,25}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>choumaNum_500_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,103},{62,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{62,27}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>choumaNum_500_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,103},{62,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{62,27}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{257,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,256}}</string>
                <key>sourceSize</key>
                <string>{257,256}</string>
            </dict>
            <key>ebg_meiinv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,404},{74,104}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{74,104}}</string>
                <key>sourceSize</key>
                <string>{76,108}</string>
            </dict>
            <key>erba_gang_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,170},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fapaishijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,392},{111,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,31}}</string>
                <key>sourceSize</key>
                <string>{111,31}</string>
            </dict>
            <key>kaipaishijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,392},{111,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,31}}</string>
                <key>sourceSize</key>
                <string>{111,31}</string>
            </dict>
            <key>naozhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,261},{79,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>shun.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{257,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,256}}</string>
                <key>sourceSize</key>
                <string>{257,256}</string>
            </dict>
            <key>text_sz_erbagang.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,103},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,27}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>text_szlb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,28},{92,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,23}}</string>
                <key>sourceSize</key>
                <string>{92,23}</string>
            </dict>
            <key>tian.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{257,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,256}}</string>
                <key>sourceSize</key>
                <string>{257,256}</string>
            </dict>
            <key>xiazhu_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,392},{1029,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1029,95}}</string>
                <key>sourceSize</key>
                <string>{1029,95}</string>
            </dict>
            <key>xiazhu_diban_mengban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,2},{626,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,73}}</string>
                <key>sourceSize</key>
                <string>{626,73}</string>
            </dict>
            <key>xiazhushijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,392},{111,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,31}}</string>
                <key>sourceSize</key>
                <string>{111,31}</string>
            </dict>
            <key>zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{244,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,48}}</string>
                <key>sourceSize</key>
                <string>{244,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dn_erbagang.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89fd90a2ab8b03abe7a4836dcb903699:a52acad113b03f7294040e9c931bdbe8:7bbbb96b130a31b35aa345ee6720017c$</string>
            <key>textureFileName</key>
            <string>dn_erbagang.png</string>
        </dict>
    </dict>
</plist>
