<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>erbagang_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{836,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{836,332}}</string>
                <key>sourceSize</key>
                <string>{836,332}</string>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{233,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{233,2}}</string>
                <key>sourceSize</key>
                <string>{249,2}</string>
            </dict>
            <key>img_dimen.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{86,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,60}}</string>
                <key>sourceSize</key>
                <string>{90,62}</string>
            </dict>
            <key>img_fu.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,115},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,49}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>img_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,64},{52,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{52,49}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>img_shunmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,64},{80,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{80,58}}</string>
                <key>sourceSize</key>
                <string>{84,62}</string>
            </dict>
            <key>img_tianmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{83,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{83,60}}</string>
                <key>sourceSize</key>
                <string>{85,62}</string>
            </dict>
            <key>lishijilu_dahqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,64},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>trend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{308,481}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,481}}</string>
                <key>sourceSize</key>
                <string>{314,481}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ebgtrend.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85a5f0b66660fd82ec7693403141b63f:a53a7a05a11693cc3569dc12f4434416:bcce625fa1c2a954fffc0ca9082d2923$</string>
            <key>textureFileName</key>
            <string>ebgtrend.png</string>
        </dict>
    </dict>
</plist>
