<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_erbagang_dayingjia_mingzidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,481},{64,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,169}}</string>
                <key>sourceSize</key>
                <string>{64,169}</string>
            </dict>
            <key>tx_erbagang_dayingjia_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,309},{219,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,98}}</string>
                <key>sourceSize</key>
                <string>{219,98}</string>
            </dict>
            <key>tx_erbagang_dianshu_di_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,1041},{74,82}}</string>
                <key>offset</key>
                <string>{-85,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{244,82}</string>
            </dict>
            <key>tx_erbagang_dianshu_di_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,689},{116,82}}</string>
                <key>offset</key>
                <string>{-64,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,82}}</string>
                <key>sourceSize</key>
                <string>{244,82}</string>
            </dict>
            <key>tx_erbagang_dianshu_di_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,441},{158,82}}</string>
                <key>offset</key>
                <string>{-43,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,82}}</string>
                <key>sourceSize</key>
                <string>{244,82}</string>
            </dict>
            <key>tx_erbagang_dianshu_di_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,481},{202,82}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,82}}</string>
                <key>sourceSize</key>
                <string>{244,82}</string>
            </dict>
            <key>tx_erbagang_dianshu_di_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,225},{244,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,82}}</string>
                <key>sourceSize</key>
                <string>{244,82}</string>
            </dict>
            <key>tx_erbagang_gaungguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,687},{90,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,58}}</string>
                <key>sourceSize</key>
                <string>{90,58}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,2},{461,94}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{461,94}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{477,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,102}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,608},{435,102}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{435,102}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,685},{441,98}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{441,98}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,646},{439,98}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{439,98}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,687},{443,98}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{443,98}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{435,98}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{435,98}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,646},{437,98}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{437,98}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{441,98}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{441,98}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{475,96}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,96}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,2},{461,94}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{461,94}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{477,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,102}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{435,102}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{435,102}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{441,98}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{441,98}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,646},{439,98}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{439,98}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,687},{443,98}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{443,98}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,574},{435,98}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{435,98}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{437,98}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{437,98}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,646},{441,98}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{441,98}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tishi_liuguang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{475,96}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,96}}</string>
                <key>sourceSize</key>
                <string>{477,102}</string>
            </dict>
            <key>tx_erbagang_tonchi_dibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{795,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,188}}</string>
                <key>sourceSize</key>
                <string>{795,188}</string>
            </dict>
            <key>tx_erbagang_tonchi_laba01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,439},{128,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,63}</string>
            </dict>
            <key>tx_erbagang_tonchi_laba02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,1026},{99,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,112}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>tx_erbagang_tonchi_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,674},{452,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,165}}</string>
                <key>sourceSize</key>
                <string>{452,165}</string>
            </dict>
            <key>tx_erbagang_tonpei_dibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{795,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,188}}</string>
                <key>sourceSize</key>
                <string>{795,188}</string>
            </dict>
            <key>tx_erbagang_tonpei_laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,445},{161,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,98}}</string>
                <key>sourceSize</key>
                <string>{161,98}</string>
            </dict>
            <key>tx_erbagang_tonpei_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,479},{461,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,165}}</string>
                <key>sourceSize</key>
                <string>{461,165}</string>
            </dict>
            <key>tx_erbagang_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,2},{221,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,244}}</string>
                <key>sourceSize</key>
                <string>{221,244}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_1dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1045},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_2dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,807},{116,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,82}}</string>
                <key>sourceSize</key>
                <string>{116,82}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_3dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,1026},{104,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_4dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,925},{114,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,82}}</string>
                <key>sourceSize</key>
                <string>{114,82}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_5dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,662},{107,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,82}}</string>
                <key>sourceSize</key>
                <string>{107,82}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_6dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,689},{113,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,82}}</string>
                <key>sourceSize</key>
                <string>{113,82}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_7dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,925},{99,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,82}}</string>
                <key>sourceSize</key>
                <string>{99,82}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_8dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,804},{111,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,82}}</string>
                <key>sourceSize</key>
                <string>{111,82}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_9dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,1026},{101,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,82}}</string>
                <key>sourceSize</key>
                <string>{101,82}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_baozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,433},{122,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,83}}</string>
                <key>sourceSize</key>
                <string>{122,83}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_jinbaozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,481},{191,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,84}}</string>
                <key>sourceSize</key>
                <string>{191,84}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_lighttishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,799},{328,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,328}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_maidinlishou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{330,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,115}}</string>
                <key>sourceSize</key>
                <string>{330,115}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_meidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,439},{133,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,82}}</string>
                <key>sourceSize</key>
                <string>{133,82}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_naozhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,569},{91,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,107}}</string>
                <key>sourceSize</key>
                <string>{91,107}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_qingxiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,646},{439,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,122}}</string>
                <key>sourceSize</key>
                <string>{439,122}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_tiangang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,1045},{141,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,83}}</string>
                <key>sourceSize</key>
                <string>{141,83}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_tishi_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{683,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,262}}</string>
                <key>sourceSize</key>
                <string>{683,262}</string>
            </dict>
            <key>tx_erbagang_xiaoguo_xiayiju.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{429,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,124}}</string>
                <key>sourceSize</key>
                <string>{429,124}</string>
            </dict>
            <key>tx_zzle_kaipai_hongzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,409},{218,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,278}}</string>
                <key>sourceSize</key>
                <string>{218,278}</string>
            </dict>
            <key>tx_zzle_kaipai_lvzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,746},{218,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,278}}</string>
                <key>sourceSize</key>
                <string>{218,278}</string>
            </dict>
            <key>xiazhushijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,445},{111,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,31}}</string>
                <key>sourceSize</key>
                <string>{111,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_erbagang_xiaoguo.png</string>
            <key>size</key>
            <string>{2033,1132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b9a42e24345afa5d9a5ba706de1e824:e9c217d0767c8fca60f8ab1529594e48:38dc5ce5dc6327cf6c265c6f839f8df4$</string>
            <key>textureFileName</key>
            <string>tx_erbagang_xiaoguo.png</string>
        </dict>
    </dict>
</plist>
