<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_erbagang_baozi_bazilight.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1282},{366,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,236}}</string>
                <key>sourceSize</key>
                <string>{366,236}</string>
            </dict>
            <key>tx_erbagang_baozi_jinbaozi_guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1482},{407,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,402}}</string>
                <key>sourceSize</key>
                <string>{407,402}</string>
            </dict>
            <key>tx_erbagang_baozi_jinbaozi_tupian.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,912},{568,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,361}}</string>
                <key>sourceSize</key>
                <string>{568,361}</string>
            </dict>
            <key>tx_erbagang_baozi_zhuazi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{1126,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1126,110}}</string>
                <key>sourceSize</key>
                <string>{1126,110}</string>
            </dict>
            <key>tx_erbagang_baozi_zhuazi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{1046,108}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{1046,108}}</string>
                <key>sourceSize</key>
                <string>{1126,110}</string>
            </dict>
            <key>tx_erbagang_baozi_zhuazi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{960,106}}</string>
                <key>offset</key>
                <string>{-81,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{960,106}}</string>
                <key>sourceSize</key>
                <string>{1126,110}</string>
            </dict>
            <key>tx_erbagang_baozi_zhuazi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{864,104}}</string>
                <key>offset</key>
                <string>{-127,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{864,104}}</string>
                <key>sourceSize</key>
                <string>{1126,110}</string>
            </dict>
            <key>tx_erbagang_baozi_zhuazi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,832},{760,102}}</string>
                <key>offset</key>
                <string>{-176,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{760,102}}</string>
                <key>sourceSize</key>
                <string>{1126,110}</string>
            </dict>
            <key>tx_erbagang_baozi_zhuazi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1886},{652,100}}</string>
                <key>offset</key>
                <string>{-229,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{652,100}}</string>
                <key>sourceSize</key>
                <string>{1126,110}</string>
            </dict>
            <key>tx_erbagang_baozi_zhuazi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,912},{534,96}}</string>
                <key>offset</key>
                <string>{-286,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{534,96}}</string>
                <key>sourceSize</key>
                <string>{1126,110}</string>
            </dict>
            <key>tx_erbagang_baozi_zhuazi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,425},{394,88}}</string>
                <key>offset</key>
                <string>{-355,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{394,88}}</string>
                <key>sourceSize</key>
                <string>{1126,110}</string>
            </dict>
            <key>tx_erbagang_baozi_zhuazi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1272},{244,72}}</string>
                <key>offset</key>
                <string>{-428,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,31},{244,72}}</string>
                <key>sourceSize</key>
                <string>{1126,110}</string>
            </dict>
            <key>tx_erbagang_baozi_zhuazi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,95},{66,34}}</string>
                <key>offset</key>
                <string>{-509,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,66},{66,34}}</string>
                <key>sourceSize</key>
                <string>{1126,110}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1991},{238,46}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{238,46}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1275},{266,56}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,34},{266,56}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1276},{270,60}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,32},{270,60}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,780},{290,66}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{290,66}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,780},{298,70}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{298,70}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,340},{300,74}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{300,74}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,780},{298,78}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,24},{298,78}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,780},{292,78}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,27},{292,78}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,694},{286,84}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{286,84}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,688},{256,90}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,20},{256,90}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,1080},{190,92}}</string>
                <key>offset</key>
                <string>{-25,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,20},{190,92}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1080},{194,98}}</string>
                <key>offset</key>
                <string>{-26,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,17},{194,98}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1548},{178,100}}</string>
                <key>offset</key>
                <string>{-35,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,17},{178,100}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1939},{200,104}}</string>
                <key>offset</key>
                <string>{-27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{200,104}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1650},{190,108}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,14},{190,108}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,1232},{206,114}}</string>
                <key>offset</key>
                <string>{-27,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,11},{206,114}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,1232},{208,112}}</string>
                <key>offset</key>
                <string>{-28,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{208,112}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,1110},{210,120}}</string>
                <key>offset</key>
                <string>{-28,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{210,120}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,780},{212,122}}</string>
                <key>offset</key>
                <string>{-28,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,7},{212,122}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,780},{212,126}}</string>
                <key>offset</key>
                <string>{-28,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{212,126}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,556},{214,130}}</string>
                <key>offset</key>
                <string>{-28,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{214,130}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,994},{216,114}}</string>
                <key>offset</key>
                <string>{-29,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{216,114}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1431},{216,132}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{216,132}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,114},{216,138}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{216,138}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_dianshu_light_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,416},{216,138}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{216,138}}</string>
                <key>sourceSize</key>
                <string>{314,138}</string>
            </dict>
            <key>tx_erbagang_gaungxiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,425},{443,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,405}}</string>
                <key>sourceSize</key>
                <string>{443,405}</string>
            </dict>
            <key>tx_erbagang_gaungxiao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,416},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>tx_erbagang_guangquan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1650},{335,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,339}}</string>
                <key>sourceSize</key>
                <string>{335,339}</string>
            </dict>
            <key>tx_erbagang_guangxiao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{487,485}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,485}}</string>
                <key>sourceSize</key>
                <string>{487,485}</string>
            </dict>
            <key>tx_erbagang_guangxiao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,832},{597,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,271}}</string>
                <key>sourceSize</key>
                <string>{597,271}</string>
            </dict>
            <key>tx_erbagang_guangxiao05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,1442},{139,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,161}}</string>
                <key>sourceSize</key>
                <string>{139,161}</string>
            </dict>
            <key>tx_erbagang_jinbaozi_wenzilight.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1448},{430,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,189}}</string>
                <key>sourceSize</key>
                <string>{430,189}</string>
            </dict>
            <key>tx_erbagang_jinbi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,832},{68,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>tx_erbagang_jinbi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1992},{51,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,34}}</string>
                <key>sourceSize</key>
                <string>{51,34}</string>
            </dict>
            <key>tx_erbagang_jinbi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,163},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>tx_erbagang_jinbi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1448},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>tx_erbagang_kaipai_pb.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,317},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>tx_erbagang_kaipai_xuanzhaung00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1778},{66,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{66,93}}</string>
                <key>sourceSize</key>
                <string>{68,107}</string>
            </dict>
            <key>tx_erbagang_kaipai_xuanzhaung01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,1612},{56,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{56,107}}</string>
                <key>sourceSize</key>
                <string>{68,107}</string>
            </dict>
            <key>tx_erbagang_kaipai_xuanzhaung02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,95},{58,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,107}}</string>
                <key>sourceSize</key>
                <string>{68,107}</string>
            </dict>
            <key>tx_erbagang_kaipai_xuanzhaung03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,994},{68,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{68,95}}</string>
                <key>sourceSize</key>
                <string>{68,107}</string>
            </dict>
            <key>tx_erbagang_kaipai_xuanzhaung04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,597},{64,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{64,89}}</string>
                <key>sourceSize</key>
                <string>{68,107}</string>
            </dict>
            <key>tx_erbagang_lieheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{400,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,110}}</string>
                <key>sourceSize</key>
                <string>{400,110}</string>
            </dict>
            <key>tx_erbagang_shaizhong_dipang.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1649},{288,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,179}}</string>
                <key>sourceSize</key>
                <string>{288,179}</string>
            </dict>
            <key>tx_erbagang_shaizhong_gaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,114},{224,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,317}}</string>
                <key>sourceSize</key>
                <string>{224,317}</string>
            </dict>
            <key>tx_erbagang_tongshaguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,91}}</string>
                <key>sourceSize</key>
                <string>{1280,91}</string>
            </dict>
            <key>tx_erbagang_tonpeiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,821},{459,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,162}}</string>
                <key>sourceSize</key>
                <string>{459,162}</string>
            </dict>
            <key>tx_erbagang_yanwu_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,430},{45,97}}</string>
                <key>offset</key>
                <string>{-2,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{45,97}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,1896},{47,111}}</string>
                <key>offset</key>
                <string>{-1,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{47,111}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1991},{45,119}}</string>
                <key>offset</key>
                <string>{-2,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{45,119}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1569},{49,127}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{49,127}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,332},{45,139}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{45,139}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,546},{49,153}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{49,153}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,379},{49,161}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{49,161}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,1437},{57,173}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{57,173}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,204},{57,183}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{57,183}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1988},{55,203}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{55,203}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1988},{55,203}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{55,203}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1988},{55,215}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{55,215}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1226},{57,209}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{57,209}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,207},{57,207}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{57,207}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1650},{57,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{57,187}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1074},{53,199}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{53,199}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,207},{53,205}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{53,205}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1842},{55,201}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{55,201}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1842},{55,191}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,29},{55,191}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1839},{57,191}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,34},{57,191}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,1805},{57,177}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{57,177}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,1620},{57,183}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,41},{57,183}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,1620},{51,181}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,43},{51,181}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1803},{53,177}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,44},{53,177}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,1721},{49,173}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,50},{49,173}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_erbagang_yanwu_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,1992},{51,169}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,57},{51,169}}</string>
                <key>sourceSize</key>
                <string>{61,227}</string>
            </dict>
            <key>tx_yulechang_shaizi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,1734},{112,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,127}}</string>
                <key>sourceSize</key>
                <string>{114,127}</string>
            </dict>
            <key>tx_yulechang_shaizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,1863},{112,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{112,127}}</string>
                <key>sourceSize</key>
                <string>{114,127}</string>
            </dict>
            <key>tx_yulechang_shaizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,1440},{114,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,127}}</string>
                <key>sourceSize</key>
                <string>{114,127}</string>
            </dict>
            <key>tx_yulechang_shaizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,1605},{114,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,127}}</string>
                <key>sourceSize</key>
                <string>{114,127}</string>
            </dict>
            <key>tx_yulechang_shaizi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,430},{114,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,127}}</string>
                <key>sourceSize</key>
                <string>{114,127}</string>
            </dict>
            <key>tx_yulechang_shaizi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,1110},{114,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,125}}</string>
                <key>sourceSize</key>
                <string>{114,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_erbagang_pai.png</string>
            <key>size</key>
            <string>{1698,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af1a6e8b41f3d1050fae0e0066c3344f:82715923716cf8a4c359f93524cb37aa:02cb167849d730d30ff2a59510e48b27$</string>
            <key>textureFileName</key>
            <string>tx_erbagang_pai.png</string>
        </dict>
    </dict>
</plist>
