<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat/LB_TB_xitong.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{76,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,37}}</string>
                <key>sourceSize</key>
                <string>{76,37}</string>
            </dict>
            <key>chat/LB_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,41}}</string>
                <key>sourceSize</key>
                <string>{232,41}</string>
            </dict>
            <key>chat/LB_txdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,171},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>chat/LB_txk.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,171},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>chat/LB_wjfs_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,41},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>chat/LB_xtfs_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,106},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{123,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae6c5a16fc9f764823105387f4efa96e:92ed5d4b728e0b1d7162e7992ac9ae8c:560f0423db1a1e46e68995a55a406f35$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
