<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>free/MFJB_biaoqian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,142},{142,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,66}}</string>
                <key>sourceSize</key>
                <string>{142,66}</string>
            </dict>
            <key>free/MFJB_biaoqian_yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,142},{142,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,66}}</string>
                <key>sourceSize</key>
                <string>{142,66}</string>
            </dict>
            <key>free/MFJB_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{938,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{938,138}}</string>
                <key>sourceSize</key>
                <string>{938,138}</string>
            </dict>
            <key>free/MFJB_tubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,142},{88,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{88,88}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>free/login.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,142},{106,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{106,106}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>free/pcbz.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,142},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{88,88}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>free/phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,142},{112,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{112,92}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>free/sctx.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,142},{86,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,39},{86,86}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>free/wcrw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{110,98}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,37},{110,98}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>free/xgnc.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,142},{88,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,33},{88,96}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>free.png</string>
            <key>size</key>
            <string>{970,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f1595fc1e7a6e72bf2d0f6f301d1e06$</string>
            <key>textureFileName</key>
            <string>free.png</string>
        </dict>
    </dict>
</plist>
