<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SJNZ_WZ_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,115},{59,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,26}}</string>
                <key>sourceSize</key>
                <string>{59,26}</string>
            </dict>
            <key>SJNZ_ZS_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,58},{87,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,253}}</string>
                <key>sourceSize</key>
                <string>{87,253}</string>
            </dict>
            <key>SJNZ_ZS_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,147},{70,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,2}}</string>
                <key>sourceSize</key>
                <string>{70,2}</string>
            </dict>
            <key>SJNZ_ZS_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{315,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,12}}</string>
                <key>sourceSize</key>
                <string>{315,12}</string>
            </dict>
            <key>SJNZ_ZS_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,141},{2,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,60}}</string>
                <key>sourceSize</key>
                <string>{2,60}</string>
            </dict>
            <key>SJNZ_ZS_nk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,2},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>SJNZ_ZS_nk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,2},{78,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,132}}</string>
                <key>sourceSize</key>
                <string>{78,132}</string>
            </dict>
            <key>SJNZ_ZS_qiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,66},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>SJNZ_ZS_qiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,66},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>SJNZ_ZS_qiu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,66},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>SJNZ_btn_xk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,2},{254,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,62}}</string>
                <key>sourceSize</key>
                <string>{254,62}</string>
            </dict>
            <key>SJNZ_btn_xk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{494,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{494,92}}</string>
                <key>sourceSize</key>
                <string>{496,94}</string>
            </dict>
            <key>SJNZ_btn_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,66},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>SJNZ_fazai_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,16},{169,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,136}}</string>
                <key>sourceSize</key>
                <string>{169,136}</string>
            </dict>
            <key>SJNZ_fazai_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,2},{167,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{167,138}}</string>
                <key>sourceSize</key>
                <string>{167,140}</string>
            </dict>
            <key>SJNZ_jiantouzhishi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,58},{59,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,25}}</string>
                <key>sourceSize</key>
                <string>{59,25}</string>
            </dict>
            <key>SJNZ_jiantouzhishi_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,119},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>SJNZ_tuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,98},{93,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,15}}</string>
                <key>sourceSize</key>
                <string>{93,15}</string>
            </dict>
            <key>SJNZ_zuixinzhangji_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,16},{113,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{113,133}</string>
            </dict>
            <key>guize_3_shangjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{776,54}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,5},{776,54}}</string>
                <key>sourceSize</key>
                <string>{920,64}</string>
            </dict>
            <key>shuye_tietu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,16},{41,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,24}}</string>
                <key>sourceSize</key>
                <string>{43,24}</string>
            </dict>
            <key>wanjialiebiao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dn_trends.png</string>
            <key>size</key>
            <string>{1850,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59925439c697644856c11ac90ace6d08:e2ac87473df1f2100f259376bb2fff86:692a6eb95a9790ecf2ba3e7e90cb3c77$</string>
            <key>textureFileName</key>
            <string>dn_trends.png</string>
        </dict>
    </dict>
</plist>
