<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newuser_sevenday_sign/bottomlabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,178},{97,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,23}}</string>
                <key>sourceSize</key>
                <string>{97,23}</string>
            </dict>
            <key>newuser_sevenday_sign/db.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{814,598}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{814,598}}</string>
                <key>sourceSize</key>
                <string>{844,628}</string>
            </dict>
            <key>newuser_sevenday_sign/mengban.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,203},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>newuser_sevenday_sign/sevenday_sign_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{770,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,154}}</string>
                <key>sourceSize</key>
                <string>{770,154}</string>
            </dict>
            <key>newuser_sevenday_sign/sevenday_sign_mengban2.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,602},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>newuser_sevenday_sign/wupindb.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{158,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,174}}</string>
                <key>sourceSize</key>
                <string>{158,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newuser_sevenday_sign.png</string>
            <key>size</key>
            <string>{978,758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bf532601fcca2965a4ffeaf8c2ab908:b28488a3217ec7c58920ddec65f68a88:d5960356cba86e4899b87d860710bcd8$</string>
            <key>textureFileName</key>
            <string>newuser_sevenday_sign.png</string>
        </dict>
    </dict>
</plist>
