<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>user/WJXX_DJ_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{448,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{448,28}}</string>
                <key>sourceSize</key>
                <string>{450,30}</string>
            </dict>
            <key>user/WJXX_DJ_dikuangdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{450,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,30}}</string>
                <key>sourceSize</key>
                <string>{450,30}</string>
            </dict>
            <key>user/WJXX_GHTX_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{231,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,27}}</string>
                <key>sourceSize</key>
                <string>{231,27}</string>
            </dict>
            <key>user/WJXX_TB_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>user/WJXX_TB_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>user/WJXX_btn_danxuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>user/WJXX_btn_danxuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{32,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{32,32}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>user/WJXX_btn_jhvipgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{59,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,36}}</string>
                <key>sourceSize</key>
                <string>{61,36}</string>
            </dict>
            <key>user/WJXX_shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{80,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>user/WJXX_txk_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,54},{227,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,226}}</string>
                <key>sourceSize</key>
                <string>{227,226}</string>
            </dict>
            <key>user/fenlanx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{678,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,2}}</string>
                <key>sourceSize</key>
                <string>{678,2}</string>
            </dict>
            <key>user/jihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{135,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{135,41}}</string>
                <key>sourceSize</key>
                <string>{137,41}</string>
            </dict>
            <key>user/neirongdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{694,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,456}}</string>
                <key>sourceSize</key>
                <string>{694,456}</string>
            </dict>
            <key>user/qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{218,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,92}}</string>
                <key>sourceSize</key>
                <string>{218,92}</string>
            </dict>
            <key>user/zhanjidb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{652,144}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,144}}</string>
                <key>sourceSize</key>
                <string>{658,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>user.png</string>
            <key>size</key>
            <string>{698,952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c15d511806b0b922f8f5a22e4c8fd70:1b78e7e4da06918a698dec0843bddba9:7e150e0b0db755046d220adcff554d41$</string>
            <key>textureFileName</key>
            <string>user.png</string>
        </dict>
    </dict>
</plist>
