<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liuguang/anniu_liuguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,199},{23,17}}</string>
                <key>offset</key>
                <string>{-130,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{23,17}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,76},{45,25}}</string>
                <key>offset</key>
                <string>{-122,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{45,25}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,39},{65,29}}</string>
                <key>offset</key>
                <string>{-113,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{65,29}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,219},{83,33}}</string>
                <key>offset</key>
                <string>{-104,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{83,33}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,39},{101,35}}</string>
                <key>offset</key>
                <string>{-95,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{101,35}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,182},{123,35}}</string>
                <key>offset</key>
                <string>{-84,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{123,35}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,39},{141,37}}</string>
                <key>offset</key>
                <string>{-75,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{141,37}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,76},{159,39}}</string>
                <key>offset</key>
                <string>{-66,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,39}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{179,37}}</string>
                <key>offset</key>
                <string>{-56,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{179,37}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{195,39}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,39}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{215,39}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,39}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{233,37}}</string>
                <key>offset</key>
                <string>{-28,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{233,37}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,2},{249,37}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{249,37}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,219},{265,33}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{265,33}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{265,35}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{265,35}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,37}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{251,37}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{233,37}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{233,37}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{215,37}}</string>
                <key>offset</key>
                <string>{37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,1},{215,37}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{195,37}}</string>
                <key>offset</key>
                <string>{47,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,1},{195,37}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{179,39}}</string>
                <key>offset</key>
                <string>{55,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,0},{179,39}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,39},{161,37}}</string>
                <key>offset</key>
                <string>{65,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,2},{161,37}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,39},{141,37}}</string>
                <key>offset</key>
                <string>{74,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,2},{141,37}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,130},{121,35}}</string>
                <key>offset</key>
                <string>{84,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,4},{121,35}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,183},{103,33}}</string>
                <key>offset</key>
                <string>{93,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,5},{103,33}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,219},{85,33}}</string>
                <key>offset</key>
                <string>{102,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,5},{85,33}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,70},{63,31}}</string>
                <key>offset</key>
                <string>{112,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,7},{63,31}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,103},{45,25}}</string>
                <key>offset</key>
                <string>{120,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,12},{45,25}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
            <key>liuguang/anniu_liuguang_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{23,19}}</string>
                <key>offset</key>
                <string>{129,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,16},{23,19}}</string>
                <key>sourceSize</key>
                <string>{291,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anniu_liuguang.png</string>
            <key>size</key>
            <string>{690,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3af5e6d726627dad8328d5caa5fc26c:ef3345c50aa86f9b85765d1056d74bed:616d8426761809aa132eaff0cbc84668$</string>
            <key>textureFileName</key>
            <string>anniu_liuguang.png</string>
        </dict>
    </dict>
</plist>
