<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>majiang_shuimo/majiang_shuimo_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{194,289}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,18},{194,289}}</string>
                <key>sourceSize</key>
                <string>{252,329}</string>
            </dict>
            <key>majiang_shuimo/majiang_shuimo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{186,311}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,10},{186,311}}</string>
                <key>sourceSize</key>
                <string>{252,329}</string>
            </dict>
            <key>majiang_shuimo/majiang_shuimo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,378},{214,281}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{214,281}}</string>
                <key>sourceSize</key>
                <string>{252,329}</string>
            </dict>
            <key>majiang_shuimo/majiang_shuimo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{226,293}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{226,293}}</string>
                <key>sourceSize</key>
                <string>{252,329}</string>
            </dict>
            <key>majiang_shuimo/majiang_shuimo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,661},{246,327}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{246,327}}</string>
                <key>sourceSize</key>
                <string>{252,329}</string>
            </dict>
            <key>majiang_shuimo/majiang_shuimo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{186,233}}</string>
                <key>offset</key>
                <string>{33,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,1},{186,233}}</string>
                <key>sourceSize</key>
                <string>{252,329}</string>
            </dict>
            <key>majiang_shuimo/majiang_shuimo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,190},{186,249}}</string>
                <key>offset</key>
                <string>{30,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,2},{186,249}}</string>
                <key>sourceSize</key>
                <string>{252,329}</string>
            </dict>
            <key>majiang_shuimo/majiang_shuimo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,181}}</string>
                <key>offset</key>
                <string>{30,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,0},{190,181}}</string>
                <key>sourceSize</key>
                <string>{252,329}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_shuimo.png</string>
            <key>size</key>
            <string>{509,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1acb77e36dfb555cd6888ec744d7e9f8:d43389d020aafc1ea76f5247d36cc4fa:929361bd93d0d6f856e6f8a9023139cf$</string>
            <key>textureFileName</key>
            <string>majiang_shuimo.png</string>
        </dict>
    </dict>
</plist>
