<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijinliuguang/majiang_beijing_light00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{185,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{185,219}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{185,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{185,217}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{185,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{185,217}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{187,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{187,217}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light04.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{187,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{187,215}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{187,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{187,213}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light06.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{187,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{187,213}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light07.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,221},{187,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{187,211}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light08.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,440},{185,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{185,209}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light09.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,651},{185,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{185,209}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light10.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,219},{185,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{185,215}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light11.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,404},{183,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{183,219}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light12.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,434},{183,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{183,219}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light13.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,221},{181,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{181,221}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light14.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,625},{181,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{181,221}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light15.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,655},{179,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{179,221}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light16.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,655},{179,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{179,221}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light17.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,217},{177,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{177,221}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light18.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,436},{181,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{181,219}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>beijinliuguang/majiang_beijing_light19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{187,219}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_beijing_light.png</string>
            <key>size</key>
            <string>{970,878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be59d2c6b3a1f71cc25989f41f8bf368:413396f35e515774ea9e4b01a5307de4:d32751741136a41bc7016530d9879547$</string>
            <key>textureFileName</key>
            <string>majiang_beijing_light.png</string>
        </dict>
    </dict>
</plist>
