<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>new_labadb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{639,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,42}}</string>
                <key>sourceSize</key>
                <string>{639,42}</string>
            </dict>
            <key>new_qipao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,46},{180,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,70}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>new_qipao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{180,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,70}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>new_shuruk.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,46},{112,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,60}}</string>
                <key>sourceSize</key>
                <string>{112,60}</string>
            </dict>
            <key>new_tiumingdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,46},{168,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,364}}</string>
                <key>sourceSize</key>
                <string>{168,364}</string>
            </dict>
            <key>new_wanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,108},{106,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,60}}</string>
                <key>sourceSize</key>
                <string>{106,60}</string>
            </dict>
            <key>new_xitong.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,108},{106,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,60}}</string>
                <key>sourceSize</key>
                <string>{106,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newlaba.png</string>
            <key>size</key>
            <string>{643,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66c97f078a315220344b207d40f89e35$</string>
            <key>textureFileName</key>
            <string>newlaba.png</string>
        </dict>
    </dict>
</plist>
