<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_anniu_huangshe_light_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,250},{207,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{207,204}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{203,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{203,210}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{199,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{199,212}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,799},{195,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{195,210}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,403},{189,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{189,208}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,613},{201,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{201,206}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{209,204}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,2},{209,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{209,200}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,821},{207,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{207,196}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,816},{205,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{205,190}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,407},{203,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{203,204}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,2},{201,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{201,210}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,204},{197,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{197,212}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,821},{193,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{193,210}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,204},{191,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{191,208}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,456},{205,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{205,206}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{211,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{211,204}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{213,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{213,200}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,403},{211,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{211,196}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_huangshe_light_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,604},{209,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{209,190}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>tx_anniu_lanshe_light_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,397},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>tx_anniu_lvshe_light_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,407},{205,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{205,204}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{203,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{203,210}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,206},{199,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{199,210}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,407},{195,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{195,210}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,593},{189,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{189,208}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,613},{199,206}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{199,206}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,613},{207,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{207,202}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,203},{207,198}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{207,198}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,397},{207,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{207,194}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,816},{205,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{205,190}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,817},{201,202}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{201,202}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,206},{199,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{199,210}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,604},{195,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{195,210}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,803},{207,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{207,190}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,204},{191,208}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{191,208}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,663},{205,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{205,206}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{211,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{211,202}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,2},{211,200}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{211,200}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,601},{211,196}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{211,196}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_lvshe_light_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,803},{207,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{207,190}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>tx_anniu_youxi_light_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,246}}</string>
                <key>sourceSize</key>
                <string>{246,246}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_anniu_light_xiaoguo01.png</string>
            <key>size</key>
            <string>{1833,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1f53a74c5f532bd128a4d463db0a4db:7a48e36fec04fbaa985c10507862e8ed:239c0bca9ffa4763eb1eb188be5d5686$</string>
            <key>textureFileName</key>
            <string>tx_anniu_light_xiaoguo01.png</string>
        </dict>
    </dict>
</plist>
