<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_chi_meihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,338},{108,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,133}}</string>
                <key>sourceSize</key>
                <string>{108,133}</string>
            </dict>
            <key>anniu_chi_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,347},{135,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,116}}</string>
                <key>sourceSize</key>
                <string>{135,116}</string>
            </dict>
            <key>anniu_gang_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,546},{130,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,136}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>anniu_guo_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,578},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>anniu_guohu_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{103,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,96}}</string>
                <key>sourceSize</key>
                <string>{103,96}</string>
            </dict>
            <key>anniu_guohu_wenzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,585},{95,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,116}}</string>
                <key>sourceSize</key>
                <string>{95,116}</string>
            </dict>
            <key>anniu_honshe_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,186},{142,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,150}}</string>
                <key>sourceSize</key>
                <string>{142,150}</string>
            </dict>
            <key>anniu_hu_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,448},{124,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,119}}</string>
                <key>sourceSize</key>
                <string>{124,119}</string>
            </dict>
            <key>anniu_huangshe_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{139,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,145}}</string>
                <key>sourceSize</key>
                <string>{139,145}</string>
            </dict>
            <key>anniu_jingshe_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,186},{145,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,154}}</string>
                <key>sourceSize</key>
                <string>{145,154}</string>
            </dict>
            <key>anniu_lanshe_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,569},{108,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,114}}</string>
                <key>sourceSize</key>
                <string>{108,114}</string>
            </dict>
            <key>anniu_lvshe_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,149},{139,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,145}}</string>
                <key>sourceSize</key>
                <string>{139,145}</string>
            </dict>
            <key>anniu_peng_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,465},{147,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,121}}</string>
                <key>sourceSize</key>
                <string>{147,121}</string>
            </dict>
            <key>anniu_quxiao_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,526},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>anniu_ting_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{142,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,127}}</string>
                <key>sourceSize</key>
                <string>{142,127}</string>
            </dict>
            <key>tx_youxi_chi_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,195},{186,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,165}}</string>
                <key>sourceSize</key>
                <string>{186,165}</string>
            </dict>
            <key>tx_youxi_gang_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,362},{182,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,172}}</string>
                <key>sourceSize</key>
                <string>{182,172}</string>
            </dict>
            <key>tx_youxi_guohu_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,159}}</string>
                <key>sourceSize</key>
                <string>{366,159}</string>
            </dict>
            <key>tx_youxi_guohu_duifangpochan.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,296},{136,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,49}}</string>
                <key>sourceSize</key>
                <string>{136,49}</string>
            </dict>
            <key>tx_youxi_guohu_wenzi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,578},{104,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,154}}</string>
                <key>sourceSize</key>
                <string>{104,154}</string>
            </dict>
            <key>tx_youxi_guohu_wenzi_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,604},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>tx_youxi_guohu_wenzi_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,588},{65,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,81}}</string>
                <key>sourceSize</key>
                <string>{65,81}</string>
            </dict>
            <key>tx_youxi_guohu_wenzi_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,588},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>tx_youxi_honshe_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{201,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,208}}</string>
                <key>sourceSize</key>
                <string>{201,208}</string>
            </dict>
            <key>tx_youxi_hu_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{182,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,175}}</string>
                <key>sourceSize</key>
                <string>{182,175}</string>
            </dict>
            <key>tx_youxi_huohu_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{213,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,178}}</string>
                <key>sourceSize</key>
                <string>{213,178}</string>
            </dict>
            <key>tx_youxi_lanshe_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,368},{201,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,208}}</string>
                <key>sourceSize</key>
                <string>{201,208}</string>
            </dict>
            <key>tx_youxi_peng_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,342},{182,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,149}}</string>
                <key>sourceSize</key>
                <string>{182,149}</string>
            </dict>
            <key>tx_youxi_ting_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{166,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,191}}</string>
                <key>sourceSize</key>
                <string>{166,191}</string>
            </dict>
            <key>tx_youxi_zimo_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,212},{201,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,154}}</string>
                <key>sourceSize</key>
                <string>{201,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_anniu_light_xiaoguo.png</string>
            <key>size</key>
            <string>{986,684}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a587a63b1243368833eeea72929d1448:21b49fcdd305ef22b69844b3ab6d42fd:d478a55111b268e4bb53c411259bfeba$</string>
            <key>textureFileName</key>
            <string>tx_anniu_light_xiaoguo.png</string>
        </dict>
    </dict>
</plist>
