<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>datin_libao_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,209}}</string>
                <key>sourceSize</key>
                <string>{220,209}</string>
            </dict>
            <key>datin_tubiao_baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,440},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>datin_tubiao_baoxiang_light_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{94,83}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{94,83}}</string>
                <key>sourceSize</key>
                <string>{136,117}</string>
            </dict>
            <key>datin_tubiao_baoxiang_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,438},{112,95}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{112,95}}</string>
                <key>sourceSize</key>
                <string>{136,117}</string>
            </dict>
            <key>datin_tubiao_baoxiang_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,335},{124,101}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{124,101}}</string>
                <key>sourceSize</key>
                <string>{136,117}</string>
            </dict>
            <key>datin_tubiao_baoxiang_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,230},{130,103}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{130,103}}</string>
                <key>sourceSize</key>
                <string>{136,117}</string>
            </dict>
            <key>datin_tubiao_baoxiang_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,117},{136,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{136,105}}</string>
                <key>sourceSize</key>
                <string>{136,117}</string>
            </dict>
            <key>datin_tubiao_baoxiang_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,224},{136,109}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{136,109}}</string>
                <key>sourceSize</key>
                <string>{136,117}</string>
            </dict>
            <key>datin_tubiao_baoxiang_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{136,113}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{136,113}}</string>
                <key>sourceSize</key>
                <string>{136,117}</string>
            </dict>
            <key>datin_tubiao_baoxiang_light_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{136,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,117}}</string>
                <key>sourceSize</key>
                <string>{136,117}</string>
            </dict>
            <key>datin_tubiao_baoxiang_light_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{132,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{132,115}}</string>
                <key>sourceSize</key>
                <string>{136,117}</string>
            </dict>
            <key>datin_tubiao_baoxiang_light_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{128,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{128,113}}</string>
                <key>sourceSize</key>
                <string>{136,117}</string>
            </dict>
            <key>datin_tubiao_baoxiang_light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,117},{124,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{124,111}}</string>
                <key>sourceSize</key>
                <string>{136,117}</string>
            </dict>
            <key>datin_tubiao_baoxiang_light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,335},{116,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{116,109}}</string>
                <key>sourceSize</key>
                <string>{136,117}</string>
            </dict>
            <key>datin_tubiao_baoxiang_light_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,335},{108,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{108,103}}</string>
                <key>sourceSize</key>
                <string>{136,117}</string>
            </dict>
            <key>datin_tubiao_baoxiang_light_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,446},{94,95}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{94,95}}</string>
                <key>sourceSize</key>
                <string>{136,117}</string>
            </dict>
            <key>datin_tubiao_baoxiang_light_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,213},{78,81}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{78,81}}</string>
                <key>sourceSize</key>
                <string>{136,117}</string>
            </dict>
            <key>datin_tubiao_baoxiang_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,446},{95,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,30}}</string>
                <key>sourceSize</key>
                <string>{95,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_datin_tubiao_shouconlibao.png</string>
            <key>size</key>
            <string>{492,544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2300bc8d018b60f81a5b1be9a7403b8f:9fdc3d587e40d02ed31a62d0b887e8ee:d4f2352de14308c0e7ff3ee186151287$</string>
            <key>textureFileName</key>
            <string>tx_datin_tubiao_shouconlibao.png</string>
        </dict>
    </dict>
</plist>
