<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_jiesuan_fu_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1284},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>tx_jiesuan_sheng_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1346},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>tx_jiesuan_teshu_bu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,612}}</string>
                <key>sourceSize</key>
                <string>{1280,612}</string>
            </dict>
            <key>tx_jiesuan_teshu_bu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{1280,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,612}}</string>
                <key>sourceSize</key>
                <string>{1280,612}</string>
            </dict>
            <key>tx_jiesuan_teshu_lan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1526},{600,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,222}}</string>
                <key>sourceSize</key>
                <string>{600,222}</string>
            </dict>
            <key>tx_jiesuan_teshu_lan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1526},{600,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,241}}</string>
                <key>sourceSize</key>
                <string>{600,241}</string>
            </dict>
            <key>tx_jiesuan_teshu_lan_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1750},{500,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,2}}</string>
                <key>sourceSize</key>
                <string>{500,2}</string>
            </dict>
            <key>tx_jiesuan_teshu_lan_ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1754},{500,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,2}}</string>
                <key>sourceSize</key>
                <string>{500,2}</string>
            </dict>
            <key>tx_jiesuan_teshu_tiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{748,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{748,119}}</string>
                <key>sourceSize</key>
                <string>{748,119}</string>
            </dict>
            <key>tx_jiesuan_teshu_tiao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1405},{748,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{748,119}}</string>
                <key>sourceSize</key>
                <string>{748,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_jiesuan_teshu.png</string>
            <key>size</key>
            <string>{1230,1769}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35b583b4bf150854d7fcdaf5500f9241:afe93f57784bf5dc623e25152bb5d9cc:272aec9d425acbafc637fe2d2295fe50$</string>
            <key>textureFileName</key>
            <string>tx_jiesuan_teshu.png</string>
        </dict>
    </dict>
</plist>
