<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>texiao_jiesuan_putong_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1074,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1074,501}}</string>
                <key>sourceSize</key>
                <string>{1074,501}</string>
            </dict>
            <key>tx_jiesuan_putong_diban01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{1062,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1062,183}}</string>
                <key>sourceSize</key>
                <string>{1062,183}</string>
            </dict>
            <key>tx_jiesuan_putong_diban02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{1062,175}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{1062,175}}</string>
                <key>sourceSize</key>
                <string>{1062,183}</string>
            </dict>
            <key>tx_jiesuan_putong_fu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,420},{121,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,158}}</string>
                <key>sourceSize</key>
                <string>{121,158}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,410},{95,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,157}}</string>
                <key>sourceSize</key>
                <string>{95,157}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2},{151,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,207}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,211},{151,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,207}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,211},{151,205}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,205}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,2},{151,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,207}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,543},{151,203}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,203}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,2},{151,205}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,205}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,418},{151,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{151,203}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,623},{151,199}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{151,199}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,621},{149,197}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{149,197}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,820},{149,195}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{149,195}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,774},{149,199}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{149,199}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,776},{149,199}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{149,199}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,207},{149,201}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{149,201}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,2},{149,203}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,203}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,621},{151,201}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,209},{151,205}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{151,205}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,2},{151,205}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{151,205}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,416},{151,203}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{151,203}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,416},{151,203}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{151,203}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_honchou_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,209},{151,205}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,205}}</string>
                <key>sourceSize</key>
                <string>{151,207}</string>
            </dict>
            <key>tx_jiesuan_putong_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{1106,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1106,136}}</string>
                <key>sourceSize</key>
                <string>{1106,136}</string>
            </dict>
            <key>tx_jiesuan_putong_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,776},{169,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,157}}</string>
                <key>sourceSize</key>
                <string>{169,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_jiesuan_putong.png</string>
            <key>size</key>
            <string>{1842,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfeb4c7c2ca909f7880c5203543d68a6:2278e412c0212fa974608b15c27e474a:c0e1881b5ee120704223ebaf03caaaac$</string>
            <key>textureFileName</key>
            <string>tx_jiesuan_putong.png</string>
        </dict>
    </dict>
</plist>
