<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_jubaopeng_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{602,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,184}}</string>
                <key>sourceSize</key>
                <string>{602,184}</string>
            </dict>
            <key>tx_jubaopeng_dayuanpang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{577,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,577}}</string>
                <key>sourceSize</key>
                <string>{577,577}</string>
            </dict>
            <key>tx_jubaopeng_fuka.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1306},{79,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,55}}</string>
                <key>sourceSize</key>
                <string>{79,55}</string>
            </dict>
            <key>tx_jubaopeng_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1234},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>tx_jubaopeng_guohu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,948},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>tx_jubaopeng_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,306},{66,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,59}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
            <key>tx_jubaopeng_jinbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,227},{77,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,74}}</string>
                <key>sourceSize</key>
                <string>{77,74}</string>
            </dict>
            <key>tx_jubaopeng_jubaopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2},{85,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,76}}</string>
                <key>sourceSize</key>
                <string>{85,76}</string>
            </dict>
            <key>tx_jubaopeng_shouzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1192},{117,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,112}}</string>
                <key>sourceSize</key>
                <string>{117,112}</string>
            </dict>
            <key>tx_jubaopeng_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{369,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,96}}</string>
                <key>sourceSize</key>
                <string>{369,96}</string>
            </dict>
            <key>tx_jubaopeng_tip_cishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1344},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>tx_jubaopeng_tip_yipochan.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,89},{136,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,49}}</string>
                <key>sourceSize</key>
                <string>{136,49}</string>
            </dict>
            <key>tx_jubaopeng_xiaoyuanpang.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1036},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>tx_jubaopeng_xingui.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,373},{285,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,86}}</string>
                <key>sourceSize</key>
                <string>{285,86}</string>
            </dict>
            <key>tx_jubaopeng_xingui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,373},{285,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,86}}</string>
                <key>sourceSize</key>
                <string>{285,86}</string>
            </dict>
            <key>tx_jubaopeng_xiucai.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,661},{285,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,86}}</string>
                <key>sourceSize</key>
                <string>{285,86}</string>
            </dict>
            <key>tx_jubaopeng_xiucai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,660},{285,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,86}}</string>
                <key>sourceSize</key>
                <string>{285,86}</string>
            </dict>
            <key>tx_jubaopeng_zhizheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,661},{202,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,373}}</string>
                <key>sourceSize</key>
                <string>{202,373}</string>
            </dict>
            <key>tx_jubaopeng_zhuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1036},{156,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,170}}</string>
                <key>sourceSize</key>
                <string>{156,170}</string>
            </dict>
            <key>tx_jubaopeng_zhuangyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1380},{285,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,86}}</string>
                <key>sourceSize</key>
                <string>{285,86}</string>
            </dict>
            <key>tx_jubaopeng_zhuangyuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,947},{285,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,86}}</string>
                <key>sourceSize</key>
                <string>{285,86}</string>
            </dict>
            <key>tx_jubaopeng_zhuangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1208},{156,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,170}}</string>
                <key>sourceSize</key>
                <string>{156,170}</string>
            </dict>
            <key>tx_jubaopeng_zhuanpan_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{835,657}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,657}}</string>
                <key>sourceSize</key>
                <string>{835,657}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_jubaopeng_xiaoguo.png</string>
            <key>size</key>
            <string>{1015,1468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4620213e84940abe0028620b75af14f:fa151288de57eb2a301bd16e98af9e42:b573e5af50dc0de2db77a71d4e6a6dc1$</string>
            <key>textureFileName</key>
            <string>tx_jubaopeng_xiaoguo.png</string>
        </dict>
    </dict>
</plist>
