<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_majiang_pai_lvguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,128},{77,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,109}}</string>
                <key>sourceSize</key>
                <string>{77,109}</string>
            </dict>
            <key>tx_majiang_pai_lvguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{317,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,110}}</string>
                <key>sourceSize</key>
                <string>{317,110}</string>
            </dict>
            <key>tx_majiang_pai_shaoguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,224},{20,28}}</string>
                <key>offset</key>
                <string>{-31,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{82,114}</string>
            </dict>
            <key>tx_majiang_pai_shaoguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,178},{34,48}}</string>
                <key>offset</key>
                <string>{-24,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{82,114}</string>
            </dict>
            <key>tx_majiang_pai_shaoguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,178},{48,70}}</string>
                <key>offset</key>
                <string>{-17,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{82,114}</string>
            </dict>
            <key>tx_majiang_pai_shaoguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,66},{60,90}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,90}}</string>
                <key>sourceSize</key>
                <string>{82,114}</string>
            </dict>
            <key>tx_majiang_pai_shaoguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,114},{74,108}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,108}}</string>
                <key>sourceSize</key>
                <string>{82,114}</string>
            </dict>
            <key>tx_majiang_pai_shaoguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,114}}</string>
                <key>sourceSize</key>
                <string>{82,114}</string>
            </dict>
            <key>tx_majiang_pai_shaoguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{82,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,114}}</string>
                <key>sourceSize</key>
                <string>{82,114}</string>
            </dict>
            <key>tx_majiang_pai_shaoguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,114}}</string>
                <key>sourceSize</key>
                <string>{82,114}</string>
            </dict>
            <key>tx_majiang_pai_shaoguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,118},{82,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,114}}</string>
                <key>sourceSize</key>
                <string>{82,114}</string>
            </dict>
            <key>tx_majiang_pai_shaoguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{82,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,114}}</string>
                <key>sourceSize</key>
                <string>{82,114}</string>
            </dict>
            <key>tx_majiang_pai_shaoguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,118},{82,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,114}}</string>
                <key>sourceSize</key>
                <string>{82,114}</string>
            </dict>
            <key>tx_majiang_pai_shaoguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,128},{82,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,114}}</string>
                <key>sourceSize</key>
                <string>{82,114}</string>
            </dict>
            <key>tx_majiang_pai_shaoguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,128},{76,110}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{76,110}}</string>
                <key>sourceSize</key>
                <string>{82,114}</string>
            </dict>
            <key>tx_majiang_pai_shaoguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{62,92}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{62,92}}</string>
                <key>sourceSize</key>
                <string>{82,114}</string>
            </dict>
            <key>tx_majiang_pai_shaoguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,128},{48,72}}</string>
                <key>offset</key>
                <string>{16,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,42},{48,72}}</string>
                <key>sourceSize</key>
                <string>{82,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_majiang_pai_light.png</string>
            <key>size</key>
            <string>{667,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e806897fe4733a2040b771a89b5d68b7:b5a8d5c89c7c79c6a3b7964e11e9fa9b:d6b8e777a4184d960723d9c92189b84e$</string>
            <key>textureFileName</key>
            <string>tx_majiang_pai_light.png</string>
        </dict>
    </dict>
</plist>
