<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>renwu_shang_naodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,332}}</string>
                <key>sourceSize</key>
                <string>{286,332}</string>
            </dict>
            <key>renwu_shang_toufa01.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,225},{147,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,125}}</string>
                <key>sourceSize</key>
                <string>{147,125}</string>
            </dict>
            <key>renwu_shang_toufa02.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,215},{99,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,139}}</string>
                <key>sourceSize</key>
                <string>{99,139}</string>
            </dict>
            <key>renwu_shang_toufa03.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,104},{109,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,124}}</string>
                <key>sourceSize</key>
                <string>{109,124}</string>
            </dict>
            <key>renwu_shang_toufa04.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,240},{36,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,56}}</string>
                <key>sourceSize</key>
                <string>{36,56}</string>
            </dict>
            <key>renwu_shang_toufa05.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,175},{63,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,42}}</string>
                <key>sourceSize</key>
                <string>{63,42}</string>
            </dict>
            <key>renwu_shang_yanjing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,104},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,38}}</string>
                <key>sourceSize</key>
                <string>{50,38}</string>
            </dict>
            <key>renwu_shang_yanjing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,144},{47,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,29}}</string>
                <key>sourceSize</key>
                <string>{47,29}</string>
            </dict>
            <key>renwu_xia_pigu.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{223,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,258}}</string>
                <key>sourceSize</key>
                <string>{223,258}</string>
            </dict>
            <key>renwu_you_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,249},{109,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,161}}</string>
                <key>sourceSize</key>
                <string>{109,161}</string>
            </dict>
            <key>renwu_you_shoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,262},{72,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,126}}</string>
                <key>sourceSize</key>
                <string>{72,126}</string>
            </dict>
            <key>renwu_zhong_duzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,262},{134,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,73}}</string>
                <key>sourceSize</key>
                <string>{134,73}</string>
            </dict>
            <key>renwu_zhong_xiong_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{178,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,245}}</string>
                <key>sourceSize</key>
                <string>{178,245}</string>
            </dict>
            <key>renwu_zuo_shoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{100,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,174}}</string>
                <key>sourceSize</key>
                <string>{100,174}</string>
            </dict>
            <key>renwu_zuo_shouwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{221,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,140}}</string>
                <key>sourceSize</key>
                <string>{221,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_renwu_donzuo.png</string>
            <key>size</key>
            <string>{1017,360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:457d30b752d7aa9f348e7cfa654dbc90:d7f657ccde6900a556b3884585ee4008:816f05a5af08c8646136cfa4b84b6f59$</string>
            <key>textureFileName</key>
            <string>tx_renwu_donzuo.png</string>
        </dict>
    </dict>
</plist>
