<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>touxiangguang_touxiang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,536},{156,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{156,166}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,178},{156,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{156,170}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{154,174}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{152,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{152,176}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{150,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{150,176}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{148,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{148,178}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,182},{146,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{146,178}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,356},{144,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{144,178}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,530},{140,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{140,178}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,704},{146,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{146,176}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{150,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{150,176}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{154,174}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{154,172}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{154,172}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{156,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{156,170}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,174},{156,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{156,168}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,362},{156,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{156,166}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,710},{156,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{156,164}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,344},{156,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{156,160}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,506},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>touxiangguang_touxiang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,664},{156,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{156,150}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_touxiang_light.png</string>
            <key>size</key>
            <string>{622,886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dd898f67440b829910edfa9a2dc17b1:c1adb8520135862b23b37bf41319e2be:4d4c88d7351ca81d3182d47ef0dba128$</string>
            <key>textureFileName</key>
            <string>tx_touxiang_light.png</string>
        </dict>
    </dict>
</plist>
