<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_hu_liuguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1446},{282,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,272}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1720},{280,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{280,270}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,260},{280,270}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{280,270}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,532},{280,266}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{280,266}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,800},{278,264}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{278,264}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1066},{278,262}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{278,262}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1330},{276,260}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{276,260}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1592},{276,258}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{276,258}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,260},{272,256}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{272,256}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,534},{270,256}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{270,256}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,792},{266,254}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{266,254}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1264},{262,250}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{262,250}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1516},{258,246}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{258,246}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1764},{254,242}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{254,242}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1516},{248,236}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{248,236}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1264},{240,228}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{240,228}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1766},{232,218}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{232,218}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,800},{220,204}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,33},{220,204}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_hu_liuguang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1022},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,44},{200,184}}</string>
                <key>sourceSize</key>
                <string>{282,272}</string>
            </dict>
            <key>tx_zimo_liuguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,264}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{322,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{322,262}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{322,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{322,260}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{320,258}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{320,258}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{320,256}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{320,256}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{318,254}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{318,254}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{316,252}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{316,252}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{314,250}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{314,250}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{312,248}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{312,248}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1550},{310,246}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{310,246}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,264},{306,244}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{306,244}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,510},{302,240}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{302,240}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,752},{298,238}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{298,238}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1798},{294,232}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{294,232}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,992},{290,228}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{290,228}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1222},{284,222}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{284,222}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1048},{276,214}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{276,214}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,534},{264,202}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,32},{264,202}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>tx_zimo_liuguang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,256},{244,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,40},{244,184}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_youxi_jieshu_gaungxiao.png</string>
            <key>size</key>
            <string>{1388,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1d2b3ed5f9b674977270c61fb8afdc9:d95cb186e4b7c73ec5a31611f5cef967:c693a3a83549bc347f9071b58503d39b$</string>
            <key>textureFileName</key>
            <string>tx_youxi_jieshu_gaungxiao.png</string>
        </dict>
    </dict>
</plist>
