<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_youxi_gangshanghua_di_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1529},{409,153}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{409,153}}</string>
                <key>sourceSize</key>
                <string>{447,153}</string>
            </dict>
            <key>tx_youxi_gangshanghua_di_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1215},{427,153}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{427,153}}</string>
                <key>sourceSize</key>
                <string>{447,153}</string>
            </dict>
            <key>tx_youxi_gangshanghua_di_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{439,153}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{439,153}}</string>
                <key>sourceSize</key>
                <string>{447,153}</string>
            </dict>
            <key>tx_youxi_gangshanghua_di_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1060},{445,153}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{445,153}}</string>
                <key>sourceSize</key>
                <string>{447,153}</string>
            </dict>
            <key>tx_youxi_gangshanghua_di_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,186},{447,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,153}}</string>
                <key>sourceSize</key>
                <string>{447,153}</string>
            </dict>
            <key>tx_youxi_gangshanghua_di_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,777},{447,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,153}}</string>
                <key>sourceSize</key>
                <string>{447,153}</string>
            </dict>
            <key>tx_youxi_gangshanghua_di_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{447,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,153}}</string>
                <key>sourceSize</key>
                <string>{447,153}</string>
            </dict>
            <key>tx_youxi_gangshanghua_di_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,905},{447,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,153}}</string>
                <key>sourceSize</key>
                <string>{447,153}</string>
            </dict>
            <key>tx_youxi_gangshanghua_di_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1087},{447,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,153}}</string>
                <key>sourceSize</key>
                <string>{447,153}</string>
            </dict>
            <key>tx_youxi_gangshanghua_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1930},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>tx_youxi_gangshanghua_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1397},{426,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,130}}</string>
                <key>sourceSize</key>
                <string>{426,130}</string>
            </dict>
            <key>tx_youxi_gangshanghua_wenzi_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{639,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,180}}</string>
                <key>sourceSize</key>
                <string>{639,180}</string>
            </dict>
            <key>tx_youxi_gangshanghua_yezi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1546},{295,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,111}}</string>
                <key>sourceSize</key>
                <string>{295,111}</string>
            </dict>
            <key>tx_youxi_gangshanghua_yezi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1287},{191,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,59}}</string>
                <key>sourceSize</key>
                <string>{191,59}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,244},{108,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,72}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,354},{108,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,72}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,464},{108,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,72}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,574},{108,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,72}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,684},{108,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,72}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1684},{106,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{106,70}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,904},{106,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,72}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1012},{104,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{104,72}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1118},{104,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{104,72}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,794},{108,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,72}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1901},{110,60}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1969},{108,62}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,62}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1864},{106,64}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,64}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1930},{106,64}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,64}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,721},{108,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,66}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1901},{108,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,66}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1208},{110,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,68}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,992},{110,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1064},{110,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_bowen_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1136},{110,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>tx_youxi_haidiyue_di_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,831},{159,110}}</string>
                <key>offset</key>
                <string>{158,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{316,59},{159,110}}</string>
                <key>sourceSize</key>
                <string>{475,186}</string>
            </dict>
            <key>tx_youxi_haidiyue_di_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1659},{203,114}}</string>
                <key>offset</key>
                <string>{136,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,55},{203,114}}</string>
                <key>sourceSize</key>
                <string>{475,186}</string>
            </dict>
            <key>tx_youxi_haidiyue_di_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1753},{253,116}}</string>
                <key>offset</key>
                <string>{111,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,55},{253,116}}</string>
                <key>sourceSize</key>
                <string>{475,186}</string>
            </dict>
            <key>tx_youxi_haidiyue_di_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1370},{305,174}}</string>
                <key>offset</key>
                <string>{85,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,0},{305,174}}</string>
                <key>sourceSize</key>
                <string>{475,186}</string>
            </dict>
            <key>tx_youxi_haidiyue_di_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1370},{349,178}}</string>
                <key>offset</key>
                <string>{63,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,0},{349,178}}</string>
                <key>sourceSize</key>
                <string>{475,186}</string>
            </dict>
            <key>tx_youxi_haidiyue_di_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1348},{403,180}}</string>
                <key>offset</key>
                <string>{36,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{403,180}}</string>
                <key>sourceSize</key>
                <string>{475,186}</string>
            </dict>
            <key>tx_youxi_haidiyue_di_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{461,182}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{461,182}}</string>
                <key>sourceSize</key>
                <string>{475,186}</string>
            </dict>
            <key>tx_youxi_haidiyue_di_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,341},{475,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,186}}</string>
                <key>sourceSize</key>
                <string>{475,186}</string>
            </dict>
            <key>tx_youxi_haidiyue_di_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,529},{475,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,186}}</string>
                <key>sourceSize</key>
                <string>{475,186}</string>
            </dict>
            <key>tx_youxi_haidiyue_di_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,717},{475,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,186}}</string>
                <key>sourceSize</key>
                <string>{475,186}</string>
            </dict>
            <key>tx_youxi_haidiyue_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1721},{178,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,172}}</string>
                <key>sourceSize</key>
                <string>{178,172}</string>
            </dict>
            <key>tx_youxi_haidiyue_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{559,535}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,535}}</string>
                <key>sourceSize</key>
                <string>{559,535}</string>
            </dict>
            <key>tx_youxi_haidiyue_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1659},{384,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,146}}</string>
                <key>sourceSize</key>
                <string>{384,146}</string>
            </dict>
            <key>tx_youxi_haidiyue_yueliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1684},{355,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,355}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>tx_youxi_liuju_guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{491,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,54}}</string>
                <key>sourceSize</key>
                <string>{491,54}</string>
            </dict>
            <key>tx_youxi_liuju_hua01.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1224},{72,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,61}}</string>
                <key>sourceSize</key>
                <string>{72,61}</string>
            </dict>
            <key>tx_youxi_liuju_hua02.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,184},{76,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,58}}</string>
                <key>sourceSize</key>
                <string>{76,58}</string>
            </dict>
            <key>tx_youxi_liuju_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1792},{233,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,147}}</string>
                <key>sourceSize</key>
                <string>{233,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_youxi_teshu_paixing.png</string>
            <key>size</key>
            <string>{1114,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e0934192471c86768496ddb11f5a557:5175b9936a032486dfb0fc574402e8c7:ba3dd590d6dae132e1ed9a3843e952a7$</string>
            <key>textureFileName</key>
            <string>tx_youxi_teshu_paixing.png</string>
        </dict>
    </dict>
</plist>
