<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ERJSLX_CHR_DA_QI_XING.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1043},{279,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,124}}</string>
                <key>sourceSize</key>
                <string>{281,124}</string>
            </dict>
            <key>ERJSLX_CHR_DA_SAN_YUAN.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,734},{307,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{307,124}}</string>
                <key>sourceSize</key>
                <string>{309,124}</string>
            </dict>
            <key>ERJSLX_CHR_DA_SI_XI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1535},{290,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{290,144}}</string>
                <key>sourceSize</key>
                <string>{292,146}</string>
            </dict>
            <key>ERJSLX_CHR_DA_YU_WU.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1552},{274,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{274,138}}</string>
                <key>sourceSize</key>
                <string>{276,138}</string>
            </dict>
            <key>ERJSLX_CHR_DI_HU.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,973},{227,129}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{227,129}}</string>
                <key>sourceSize</key>
                <string>{229,131}</string>
            </dict>
            <key>ERJSLX_CHR_HUN_YAO_JIU.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,685},{285,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{285,121}}</string>
                <key>sourceSize</key>
                <string>{287,121}</string>
            </dict>
            <key>ERJSLX_CHR_HUN_YI_SE.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1262},{293,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{293,132}}</string>
                <key>sourceSize</key>
                <string>{295,132}</string>
            </dict>
            <key>ERJSLX_CHR_JIU_LIAN_BAO_DENG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{418,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{418,140}}</string>
                <key>sourceSize</key>
                <string>{420,142}</string>
            </dict>
            <key>ERJSLX_CHR_LIAN_QI_DUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,415},{330,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,136}}</string>
                <key>sourceSize</key>
                <string>{332,136}</string>
            </dict>
            <key>ERJSLX_CHR_PENG_PENG_HU.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,146},{358,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{358,129}}</string>
                <key>sourceSize</key>
                <string>{360,129}</string>
            </dict>
            <key>ERJSLX_CHR_QING_LONG.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1827},{195,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{195,140}}</string>
                <key>sourceSize</key>
                <string>{197,140}</string>
            </dict>
            <key>ERJSLX_CHR_QING_YI_SE.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1393},{292,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{292,140}}</string>
                <key>sourceSize</key>
                <string>{294,140}</string>
            </dict>
            <key>ERJSLX_CHR_QI_DUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,685},{312,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,138}}</string>
                <key>sourceSize</key>
                <string>{312,138}</string>
            </dict>
            <key>ERJSLX_CHR_QUAN_HUA.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1202},{225,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,145}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>ERJSLX_CHR_QUAN_QIU_REN.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,553},{326,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{326,130}}</string>
                <key>sourceSize</key>
                <string>{328,132}</string>
            </dict>
            <key>ERJSLX_CHR_REN_HU.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1804},{218,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,131}}</string>
                <key>sourceSize</key>
                <string>{220,131}</string>
            </dict>
            <key>ERJSLX_CHR_SAN_AN_KE.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1670},{276,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,132}}</string>
                <key>sourceSize</key>
                <string>{276,132}</string>
            </dict>
            <key>ERJSLX_CHR_SAN_FENG_KE.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{320,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{320,126}}</string>
                <key>sourceSize</key>
                <string>{322,126}</string>
            </dict>
            <key>ERJSLX_CHR_SAN_GANG.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1804},{213,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{213,124}}</string>
                <key>sourceSize</key>
                <string>{215,126}</string>
            </dict>
            <key>ERJSLX_CHR_SAN_YUAN_QI_DUI_ZI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{508,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{508,138}}</string>
                <key>sourceSize</key>
                <string>{510,138}</string>
            </dict>
            <key>ERJSLX_CHR_SHUANG_AN_GANG.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,2},{339,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,142}}</string>
                <key>sourceSize</key>
                <string>{339,142}</string>
            </dict>
            <key>ERJSLX_CHR_SHUANG_JIAN_KE.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1259},{294,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,132}}</string>
                <key>sourceSize</key>
                <string>{294,132}</string>
            </dict>
            <key>ERJSLX_CHR_SI_AN_KE.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{303,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,146}}</string>
                <key>sourceSize</key>
                <string>{305,146}</string>
            </dict>
            <key>ERJSLX_CHR_SI_GANG.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1324},{226,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{226,124}}</string>
                <key>sourceSize</key>
                <string>{228,126}</string>
            </dict>
            <key>ERJSLX_CHR_SI_XI_QI_DUI_ZI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{519,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{519,142}}</string>
                <key>sourceSize</key>
                <string>{521,142}</string>
            </dict>
            <key>ERJSLX_CHR_SI_ZI_KE.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,973},{308,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{308,146}}</string>
                <key>sourceSize</key>
                <string>{310,146}</string>
            </dict>
            <key>ERJSLX_CHR_TIAN_HU.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1804},{203,129}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{203,129}}</string>
                <key>sourceSize</key>
                <string>{205,131}</string>
            </dict>
            <key>ERJSLX_CHR_TIAN_TING.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1828},{186,142}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,142}}</string>
                <key>sourceSize</key>
                <string>{188,144}</string>
            </dict>
            <key>ERJSLX_CHR_XIAO_SAN_FENG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{330,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{330,126}}</string>
                <key>sourceSize</key>
                <string>{332,126}</string>
            </dict>
            <key>ERJSLX_CHR_XIAO_SAN_YUAN.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,415},{317,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{317,124}}</string>
                <key>sourceSize</key>
                <string>{319,124}</string>
            </dict>
            <key>ERJSLX_CHR_XIAO_SI_XI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{312,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{312,144}}</string>
                <key>sourceSize</key>
                <string>{314,146}</string>
            </dict>
            <key>ERJSLX_CHR_XIAO_YU_WU.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1121},{297,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{297,139}}</string>
                <key>sourceSize</key>
                <string>{301,139}</string>
            </dict>
            <key>ERJSLX_CHR_YI_SE_SAN_BU_GAO.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1429},{284,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{284,148}}</string>
                <key>sourceSize</key>
                <string>{286,148}</string>
            </dict>
            <key>ERJSLX_CHR_YI_SE_SAN_JIE_GAO.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{308,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{308,146}}</string>
                <key>sourceSize</key>
                <string>{310,146}</string>
            </dict>
            <key>ERJSLX_CHR_YI_SE_SAN_TONG_SHUN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1126},{295,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{295,131}}</string>
                <key>sourceSize</key>
                <string>{297,133}</string>
            </dict>
            <key>ERJSLX_CHR_YI_SE_SHUANG_LONG_HUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,277},{335,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{335,136}}</string>
                <key>sourceSize</key>
                <string>{337,138}</string>
            </dict>
            <key>ERJSLX_CHR_YI_SE_SI_BU_GAO.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1396},{292,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{292,138}}</string>
                <key>sourceSize</key>
                <string>{294,138}</string>
            </dict>
            <key>ERJSLX_CHR_YI_SE_SI_JIE_GAO.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,825},{310,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{310,146}}</string>
                <key>sourceSize</key>
                <string>{312,146}</string>
            </dict>
            <key>ERJSLX_CHR_YI_SE_SI_TONG_SHUN.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1536},{290,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{290,132}}</string>
                <key>sourceSize</key>
                <string>{292,132}</string>
            </dict>
            <key>ERJSLX_CHR_ZI_YI_SE.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1681},{284,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{284,144}}</string>
                <key>sourceSize</key>
                <string>{286,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_youxi_teshupaixing_wenzi.png</string>
            <key>size</key>
            <string>{880,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cec0bc5c44ab4f0d0ca628dcf7d6323f$</string>
            <key>textureFileName</key>
            <string>tx_youxi_teshupaixing_wenzi.png</string>
        </dict>
    </dict>
</plist>
