<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_chi_sine_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1339},{866,609}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{866,609}}</string>
                <key>sourceSize</key>
                <string>{866,609}</string>
            </dict>
            <key>tx_gang_sine_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{963,645}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{963,645}}</string>
                <key>sourceSize</key>
                <string>{963,645}</string>
            </dict>
            <key>tx_guohu_sine_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,2},{849,627}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{849,627}}</string>
                <key>sourceSize</key>
                <string>{849,627}</string>
            </dict>
            <key>tx_hu_sine_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,1225},{662,635}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,635}}</string>
                <key>sourceSize</key>
                <string>{662,635}</string>
            </dict>
            <key>tx_peng_sine_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,631},{847,592}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{847,592}}</string>
                <key>sourceSize</key>
                <string>{847,592}</string>
            </dict>
            <key>tx_ting_sine_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{825,688}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{825,688}}</string>
                <key>sourceSize</key>
                <string>{825,688}</string>
            </dict>
            <key>tx_zimo_sine_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1225},{751,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,511}}</string>
                <key>sourceSize</key>
                <string>{751,511}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_youxi_wenzi_light.png</string>
            <key>size</key>
            <string>{2020,1978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9391f9a384d500ec003e63defcd14b9e:6012a18d7747496adbf53cb39b475e2d:daa4a7d4bb5d287208408e51ba4c17a3$</string>
            <key>textureFileName</key>
            <string>tx_youxi_wenzi_light.png</string>
        </dict>
    </dict>
</plist>
