<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_chi_liuguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,1031},{211,164}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{211,164}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>tx_chi_liuguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,239},{221,186}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{221,186}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>tx_chi_liuguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,462},{223,200}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{223,200}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>tx_chi_liuguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,462},{225,210}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{225,210}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>tx_chi_liuguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,461},{227,216}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{227,216}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>tx_chi_liuguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,674},{227,220}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{227,220}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>tx_chi_liuguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,685},{229,222}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{229,222}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>tx_chi_liuguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,432},{231,222}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{231,222}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>tx_chi_liuguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,450},{233,222}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{233,222}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>tx_chi_liuguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,237},{223,220}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{223,220}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>tx_chi_liuguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1332},{215,216}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{215,216}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>tx_chi_liuguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1423},{203,212}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{203,212}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>tx_chi_liuguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1762},{191,206}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{191,206}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>tx_chi_liuguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1781},{179,200}}</string>
                <key>offset</key>
                <string>{-26,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{179,200}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>tx_chi_liuguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,1439},{169,192}}</string>
                <key>offset</key>
                <string>{-28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{169,192}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>tx_chi_liuguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,655},{153,180}}</string>
                <key>offset</key>
                <string>{-29,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{153,180}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>tx_gang_liuguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1332},{214,192}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{214,192}}</string>
                <key>sourceSize</key>
                <string>{238,216}</string>
            </dict>
            <key>tx_gang_liuguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,235},{224,206}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{224,206}}</string>
                <key>sourceSize</key>
                <string>{238,216}</string>
            </dict>
            <key>tx_gang_liuguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1197},{224,212}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{224,212}}</string>
                <key>sourceSize</key>
                <string>{238,216}</string>
            </dict>
            <key>tx_gang_liuguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1114},{224,216}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{224,216}}</string>
                <key>sourceSize</key>
                <string>{238,216}</string>
            </dict>
            <key>tx_gang_liuguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1327},{224,216}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{224,216}}</string>
                <key>sourceSize</key>
                <string>{238,216}</string>
            </dict>
            <key>tx_gang_liuguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1331},{224,216}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{224,216}}</string>
                <key>sourceSize</key>
                <string>{238,216}</string>
            </dict>
            <key>tx_gang_liuguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,896},{226,214}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{226,214}}</string>
                <key>sourceSize</key>
                <string>{238,216}</string>
            </dict>
            <key>tx_gang_liuguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,900},{230,212}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{230,212}}</string>
                <key>sourceSize</key>
                <string>{238,216}</string>
            </dict>
            <key>tx_gang_liuguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,239},{234,212}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{234,212}}</string>
                <key>sourceSize</key>
                <string>{238,216}</string>
            </dict>
            <key>tx_gang_liuguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,1125},{228,204}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{228,204}}</string>
                <key>sourceSize</key>
                <string>{238,216}</string>
            </dict>
            <key>tx_gang_liuguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1545},{224,198}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{224,198}}</string>
                <key>sourceSize</key>
                <string>{238,216}</string>
            </dict>
            <key>tx_gang_liuguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,1247},{220,190}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{220,190}}</string>
                <key>sourceSize</key>
                <string>{238,216}</string>
            </dict>
            <key>tx_gang_liuguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1628},{216,182}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{216,182}}</string>
                <key>sourceSize</key>
                <string>{238,216}</string>
            </dict>
            <key>tx_gang_liuguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1439},{212,174}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{212,174}}</string>
                <key>sourceSize</key>
                <string>{238,216}</string>
            </dict>
            <key>tx_gang_liuguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1615},{206,164}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{206,164}}</string>
                <key>sourceSize</key>
                <string>{238,216}</string>
            </dict>
            <key>tx_gang_liuguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,837},{192,148}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,36},{192,148}}</string>
                <key>sourceSize</key>
                <string>{238,216}</string>
            </dict>
            <key>tx_guohu_liuguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1649},{251,207}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{251,207}}</string>
                <key>sourceSize</key>
                <string>{279,243}</string>
            </dict>
            <key>tx_guohu_liuguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{263,221}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{263,221}}</string>
                <key>sourceSize</key>
                <string>{279,243}</string>
            </dict>
            <key>tx_guohu_liuguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1197},{267,227}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{267,227}}</string>
                <key>sourceSize</key>
                <string>{279,243}</string>
            </dict>
            <key>tx_guohu_liuguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{271,231}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{271,231}}</string>
                <key>sourceSize</key>
                <string>{279,243}</string>
            </dict>
            <key>tx_guohu_liuguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{273,233}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{273,233}}</string>
                <key>sourceSize</key>
                <string>{279,243}</string>
            </dict>
            <key>tx_guohu_liuguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{275,235}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{275,235}}</string>
                <key>sourceSize</key>
                <string>{279,243}</string>
            </dict>
            <key>tx_guohu_liuguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{277,237}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{277,237}}</string>
                <key>sourceSize</key>
                <string>{279,243}</string>
            </dict>
            <key>tx_guohu_liuguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{279,239}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{279,239}}</string>
                <key>sourceSize</key>
                <string>{279,243}</string>
            </dict>
            <key>tx_guohu_liuguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{279,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,243}}</string>
                <key>sourceSize</key>
                <string>{279,243}</string>
            </dict>
            <key>tx_guohu_liuguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{277,241}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{277,241}}</string>
                <key>sourceSize</key>
                <string>{279,243}</string>
            </dict>
            <key>tx_guohu_liuguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,245},{275,239}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{275,239}}</string>
                <key>sourceSize</key>
                <string>{279,243}</string>
            </dict>
            <key>tx_guohu_liuguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{273,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{273,235}}</string>
                <key>sourceSize</key>
                <string>{279,243}</string>
            </dict>
            <key>tx_guohu_liuguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{269,231}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{269,231}}</string>
                <key>sourceSize</key>
                <string>{279,243}</string>
            </dict>
            <key>tx_guohu_liuguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,2},{263,227}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{263,227}}</string>
                <key>sourceSize</key>
                <string>{279,243}</string>
            </dict>
            <key>tx_guohu_liuguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{257,219}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{257,219}}</string>
                <key>sourceSize</key>
                <string>{279,243}</string>
            </dict>
            <key>tx_guohu_liuguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,223},{241,207}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{241,207}}</string>
                <key>sourceSize</key>
                <string>{279,243}</string>
            </dict>
            <key>tx_peng_liuguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,432},{221,158}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,30},{221,158}}</string>
                <key>sourceSize</key>
                <string>{233,210}</string>
            </dict>
            <key>tx_peng_liuguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1858},{229,170}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{229,170}}</string>
                <key>sourceSize</key>
                <string>{233,210}</string>
            </dict>
            <key>tx_peng_liuguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,656},{233,178}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{233,178}}</string>
                <key>sourceSize</key>
                <string>{233,210}</string>
            </dict>
            <key>tx_peng_liuguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,836},{233,192}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{233,192}}</string>
                <key>sourceSize</key>
                <string>{233,210}</string>
            </dict>
            <key>tx_peng_liuguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,727},{233,206}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,206}}</string>
                <key>sourceSize</key>
                <string>{233,210}</string>
            </dict>
            <key>tx_peng_liuguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,904},{231,208}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{231,208}}</string>
                <key>sourceSize</key>
                <string>{233,210}</string>
            </dict>
            <key>tx_peng_liuguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,907},{231,208}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,208}}</string>
                <key>sourceSize</key>
                <string>{233,210}</string>
            </dict>
            <key>tx_peng_liuguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,964},{229,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{229,208}}</string>
                <key>sourceSize</key>
                <string>{233,210}</string>
            </dict>
            <key>tx_peng_liuguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1117},{229,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{229,210}}</string>
                <key>sourceSize</key>
                <string>{233,210}</string>
            </dict>
            <key>tx_peng_liuguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1549},{221,208}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{221,208}}</string>
                <key>sourceSize</key>
                <string>{233,210}</string>
            </dict>
            <key>tx_peng_liuguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1759},{213,206}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{213,206}}</string>
                <key>sourceSize</key>
                <string>{233,210}</string>
            </dict>
            <key>tx_peng_liuguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,488},{207,202}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{207,202}}</string>
                <key>sourceSize</key>
                <string>{233,210}</string>
            </dict>
            <key>tx_peng_liuguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,1331},{199,196}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{199,196}}</string>
                <key>sourceSize</key>
                <string>{233,210}</string>
            </dict>
            <key>tx_peng_liuguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1735},{191,190}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{191,190}}</string>
                <key>sourceSize</key>
                <string>{233,210}</string>
            </dict>
            <key>tx_peng_liuguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,1633},{183,184}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{183,184}}</string>
                <key>sourceSize</key>
                <string>{233,210}</string>
            </dict>
            <key>tx_peng_liuguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,1247},{169,170}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{169,170}}</string>
                <key>sourceSize</key>
                <string>{233,210}</string>
            </dict>
            <key>tx_ting_liuguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1812},{187,216}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{187,216}}</string>
                <key>sourceSize</key>
                <string>{219,234}</string>
            </dict>
            <key>tx_ting_liuguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1549},{201,228}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{201,228}}</string>
                <key>sourceSize</key>
                <string>{219,234}</string>
            </dict>
            <key>tx_ting_liuguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,916},{207,230}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{207,230}}</string>
                <key>sourceSize</key>
                <string>{219,234}</string>
            </dict>
            <key>tx_ting_liuguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,687},{211,232}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{211,232}}</string>
                <key>sourceSize</key>
                <string>{219,234}</string>
            </dict>
            <key>tx_ting_liuguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,689},{213,232}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{213,232}}</string>
                <key>sourceSize</key>
                <string>{219,234}</string>
            </dict>
            <key>tx_ting_liuguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,1030},{215,230}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{215,230}}</string>
                <key>sourceSize</key>
                <string>{219,234}</string>
            </dict>
            <key>tx_ting_liuguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,690},{215,232}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{215,232}}</string>
                <key>sourceSize</key>
                <string>{219,234}</string>
            </dict>
            <key>tx_ting_liuguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,231},{217,232}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,232}}</string>
                <key>sourceSize</key>
                <string>{219,234}</string>
            </dict>
            <key>tx_ting_liuguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,453},{219,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,234}}</string>
                <key>sourceSize</key>
                <string>{219,234}</string>
            </dict>
            <key>tx_ting_liuguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1114},{215,230}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{215,230}}</string>
                <key>sourceSize</key>
                <string>{219,234}</string>
            </dict>
            <key>tx_ting_liuguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1112},{213,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{213,226}}</string>
                <key>sourceSize</key>
                <string>{219,234}</string>
            </dict>
            <key>tx_ting_liuguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1745},{209,220}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{209,220}}</string>
                <key>sourceSize</key>
                <string>{219,234}</string>
            </dict>
            <key>tx_ting_liuguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1752},{205,218}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{205,218}}</string>
                <key>sourceSize</key>
                <string>{219,234}</string>
            </dict>
            <key>tx_ting_liuguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1548},{199,212}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{199,212}}</string>
                <key>sourceSize</key>
                <string>{219,234}</string>
            </dict>
            <key>tx_ting_liuguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1529},{191,204}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{191,204}}</string>
                <key>sourceSize</key>
                <string>{219,234}</string>
            </dict>
            <key>tx_ting_liuguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,1819},{179,188}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,24},{179,188}}</string>
                <key>sourceSize</key>
                <string>{219,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_youxi_xiaoguo_liuguang.png</string>
            <key>size</key>
            <string>{2045,2031}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e9cc8ec6f8cdf45fb77baa7b513082c:0ed7050d7a44e85a01cf3aa9cd73cf15:3f1ccd6304a6ce2551f7980a4e824fc9$</string>
            <key>textureFileName</key>
            <string>tx_youxi_xiaoguo_liuguang.png</string>
        </dict>
    </dict>
</plist>
