<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_youxi_shaizi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,342},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>tx_youxi_shaizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,380},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>tx_youxi_shaizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,941},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>tx_youxi_shaizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,949},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>tx_youxi_shaizi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,867},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>tx_youxi_shaizi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,901},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>tx_youxi_shaizi_guangxiao_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,293}}</string>
                <key>sourceSize</key>
                <string>{233,293}</string>
            </dict>
            <key>tx_youxi_shaizi_guangxiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{233,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,293}}</string>
                <key>sourceSize</key>
                <string>{233,293}</string>
            </dict>
            <key>tx_youxi_shaizi_guangxiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{233,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,293}}</string>
                <key>sourceSize</key>
                <string>{233,293}</string>
            </dict>
            <key>tx_youxi_shaizi_guangxiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{233,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,293}}</string>
                <key>sourceSize</key>
                <string>{233,293}</string>
            </dict>
            <key>tx_youxi_shaizi_guangxiao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,297},{233,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,293}}</string>
                <key>sourceSize</key>
                <string>{233,293}</string>
            </dict>
            <key>tx_youxi_shaizi_guangxiao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{233,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,293}}</string>
                <key>sourceSize</key>
                <string>{233,293}</string>
            </dict>
            <key>tx_youxi_shaizi_guangxiao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,592},{195,237}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,56},{195,237}}</string>
                <key>sourceSize</key>
                <string>{233,293}</string>
            </dict>
            <key>tx_youxi_shaizi_guangxiao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,297},{195,237}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,56},{195,237}}</string>
                <key>sourceSize</key>
                <string>{233,293}</string>
            </dict>
            <key>tx_youxi_shaizi_guangxiao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,592},{195,237}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,56},{195,237}}</string>
                <key>sourceSize</key>
                <string>{233,293}</string>
            </dict>
            <key>tx_youxi_shaizi_guangxiao_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,831},{175,207}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,85},{175,207}}</string>
                <key>sourceSize</key>
                <string>{233,293}</string>
            </dict>
            <key>tx_youxi_shaizi_guangxiao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,831},{147,165}}</string>
                <key>offset</key>
                <string>{6,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,127},{147,165}}</string>
                <key>sourceSize</key>
                <string>{233,293}</string>
            </dict>
            <key>tx_youxi_shaizi_guangxiao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,963},{33,47}}</string>
                <key>offset</key>
                <string>{-7,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,216},{33,47}}</string>
                <key>sourceSize</key>
                <string>{233,293}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,951},{64,58}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{64,58}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{66,64}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,536},{54,64}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{54,64}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,887},{66,62}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,62}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,887},{66,60}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{66,60}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,365},{52,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{52,64}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,431},{62,60}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,60}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,495},{62,56}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{62,56}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,831},{50,64}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{50,64}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,553},{62,60}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{62,60}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,297},{66,50}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{66,50}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,953},{56,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{56,66}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,677},{58,62}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,897},{64,50}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{64,50}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,615},{62,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{62,60}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,761},{50,62}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{50,62}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,615},{60,42}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{60,42}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,701},{56,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{56,58}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,813},{52,62}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{52,62}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,136},{64,42}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{64,42}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,536},{54,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{54,62}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,202},{44,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{44,62}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,805},{38,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{38,62}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{48,66}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{48,66}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,536},{54,60}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{54,60}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,741},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{62,58}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,70},{64,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{64,48}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>tx_youxi_shaizi_xuanzhuang_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,659},{60,40}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{60,40}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>xl_shaizi_dange_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,983},{26,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{26,30}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>xl_shaizi_dange_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,975},{30,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>xl_shaizi_dange_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,266},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>xl_shaizi_dange_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,867},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,30}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>xl_shaizi_dange_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,921},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{28,30}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>xl_shaizi_dange_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,304},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>xl_shaizi_dange_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,869},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>xl_shaizi_dange_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,939},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>xl_shaizi_dange_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,953},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{26,26}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>xl_shaizi_dange_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,975},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>xl_shaizi_dange_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,905},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>xl_shaizi_dange_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,903},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>xl_shaizi_dange_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,949},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{28,30}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>xl_shaizi_dange_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,939},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>xl_shaizi_dange_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,975},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>xl_shaizi_dange_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,887},{32,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_youxi_shaizi.png</string>
            <key>size</key>
            <string>{757,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:658a8640f614e35d808d9221e8d32420:7cfb5551f8f1ca15c0ab2b36e5873fc2:38ca34082307f573b9b650c048104ca1$</string>
            <key>textureFileName</key>
            <string>tx_youxi_shaizi.png</string>
        </dict>
    </dict>
</plist>
