<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_youxi_hu_pai_gaungxiao02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1057},{204,371}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{204,371}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1524},{204,407}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{204,407}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,1504},{204,421}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{204,421}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1095},{204,427}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{204,427}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,626},{204,429}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{204,429}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,634},{204,431}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{204,431}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1122},{204,451}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{204,451}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1122},{204,455}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,455}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,652},{204,441}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{204,441}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,648},{200,439}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{200,439}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,642},{202,433}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{202,433}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1077},{204,425}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{204,425}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1089},{206,427}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{206,427}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1067},{204,419}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{204,419}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1518},{202,399}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,46},{202,399}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1488},{168,413}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{168,413}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1488},{170,363}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,63},{170,363}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1575},{168,361}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,66},{168,361}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,626},{168,159}}</string>
                <key>offset</key>
                <string>{3,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,267},{168,159}}</string>
                <key>sourceSize</key>
                <string>{210,455}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1579},{250,266}}</string>
                <key>offset</key>
                <string>{-3,195}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{250,266}}</string>
                <key>sourceSize</key>
                <string>{290,656}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,656},{274,464}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{274,464}}</string>
                <key>sourceSize</key>
                <string>{290,656}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,656}}</string>
                <key>sourceSize</key>
                <string>{290,656}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{290,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,656}}</string>
                <key>sourceSize</key>
                <string>{290,656}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{290,652}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,652}}</string>
                <key>sourceSize</key>
                <string>{290,656}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,656},{284,650}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{284,650}}</string>
                <key>sourceSize</key>
                <string>{290,656}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{280,648}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{280,648}}</string>
                <key>sourceSize</key>
                <string>{290,656}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{274,644}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{274,644}}</string>
                <key>sourceSize</key>
                <string>{290,656}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{268,638}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{268,638}}</string>
                <key>sourceSize</key>
                <string>{290,656}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,2},{258,630}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{258,630}}</string>
                <key>sourceSize</key>
                <string>{290,656}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,2},{248,622}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{248,622}}</string>
                <key>sourceSize</key>
                <string>{290,656}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1318},{232,612}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{232,612}}</string>
                <key>sourceSize</key>
                <string>{290,656}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1318},{206,604}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{206,604}}</string>
                <key>sourceSize</key>
                <string>{290,656}</string>
            </dict>
            <key>tx_youxi_hu_pai_gaungxiao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1308},{144,596}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{144,596}}</string>
                <key>sourceSize</key>
                <string>{290,656}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_youxi_hupai_jizhong.png</string>
            <key>size</key>
            <string>{2041,1938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ec23b8b1b344df80d241575e4685fc1:a76a226502e8d5c1a4f1cf65ec51218f:cb16bf4aa0ac5fd1cd3bdfc0397c83a4$</string>
            <key>textureFileName</key>
            <string>tx_youxi_hupai_jizhong.png</string>
        </dict>
    </dict>
</plist>
