<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_youxi_buhua_hua_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,450},{285,167}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,52},{285,167}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,450},{345,181}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,47},{345,181}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,601},{347,183}}</string>
                <key>offset</key>
                <string>{7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,47},{347,183}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,365},{349,183}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,49},{349,183}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,438},{351,181}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,51},{351,181}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,418},{355,181}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,51},{355,181}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,2},{361,181}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,51},{361,181}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{361,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,235}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{361,233}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{361,233}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{361,231}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{361,231}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{361,229}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{361,229}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,235},{361,227}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{361,227}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{361,225}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{361,225}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,464},{361,221}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{361,221}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,229},{361,219}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{361,219}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{361,217}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{361,217}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,221},{361,215}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{361,215}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,2},{359,209}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{359,209}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_buhua_hua_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,213},{357,203}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,27},{357,203}}</string>
                <key>sourceSize</key>
                <string>{361,235}</string>
            </dict>
            <key>tx_youxi_hubu_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,621},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>tx_youxi_hubu_wenzi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,621},{133,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,131}}</string>
                <key>sourceSize</key>
                <string>{133,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_youxi_buhua_xiaoguo.png</string>
            <key>size</key>
            <string>{1998,797}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe2e518d6f1eff5f71ae39c7d7c91cb7:4e41eea313f1c58f5788b11cfa6fc45c:cbbc6d3b1c25f7fbd05c1a18b5ce0858$</string>
            <key>textureFileName</key>
            <string>tx_youxi_buhua_xiaoguo.png</string>
        </dict>
    </dict>
</plist>
