<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_guangxiao_shuimo_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1014},{279,288}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,67},{279,288}}</string>
                <key>sourceSize</key>
                <string>{421,412}</string>
            </dict>
            <key>tx_guangxiao_shuimo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1575},{303,316}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,54},{303,316}}</string>
                <key>sourceSize</key>
                <string>{421,412}</string>
            </dict>
            <key>tx_guangxiao_shuimo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,353},{321,338}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,41},{321,338}}</string>
                <key>sourceSize</key>
                <string>{421,412}</string>
            </dict>
            <key>tx_guangxiao_shuimo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,372},{335,356}}</string>
                <key>offset</key>
                <string>{-24,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,33},{335,356}}</string>
                <key>sourceSize</key>
                <string>{421,412}</string>
            </dict>
            <key>tx_guangxiao_shuimo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{323,372}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{323,372}}</string>
                <key>sourceSize</key>
                <string>{421,412}</string>
            </dict>
            <key>tx_guangxiao_shuimo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1193},{341,380}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,16},{341,380}}</string>
                <key>sourceSize</key>
                <string>{421,412}</string>
            </dict>
            <key>tx_guangxiao_shuimo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,2},{357,368}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{357,368}}</string>
                <key>sourceSize</key>
                <string>{421,412}</string>
            </dict>
            <key>tx_guangxiao_shuimo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,811},{371,380}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{371,380}}</string>
                <key>sourceSize</key>
                <string>{421,412}</string>
            </dict>
            <key>tx_guangxiao_shuimo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,419},{383,390}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{383,390}}</string>
                <key>sourceSize</key>
                <string>{421,412}</string>
            </dict>
            <key>tx_guangxiao_shuimo_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1235},{393,400}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{393,400}}</string>
                <key>sourceSize</key>
                <string>{421,412}</string>
            </dict>
            <key>tx_guangxiao_shuimo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{403,288}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,115},{403,288}}</string>
                <key>sourceSize</key>
                <string>{421,412}</string>
            </dict>
            <key>tx_guangxiao_shuimo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{409,294}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,112},{409,294}}</string>
                <key>sourceSize</key>
                <string>{421,412}</string>
            </dict>
            <key>tx_guangxiao_shuimo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{415,300}}</string>
                <key>offset</key>
                <string>{-3,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,110},{415,300}}</string>
                <key>sourceSize</key>
                <string>{421,412}</string>
            </dict>
            <key>tx_guangxiao_shuimo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1223},{385,302}}</string>
                <key>offset</key>
                <string>{15,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,110},{385,302}}</string>
                <key>sourceSize</key>
                <string>{421,412}</string>
            </dict>
            <key>tx_guangxiao_shuimo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,830},{391,296}}</string>
                <key>offset</key>
                <string>{15,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,107},{391,296}}</string>
                <key>sourceSize</key>
                <string>{421,412}</string>
            </dict>
            <key>tx_lizi_modi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,1319},{207,217}}</string>
                <key>offset</key>
                <string>{-9,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,45},{207,217}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1637},{249,251}}</string>
                <key>offset</key>
                <string>{-15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{249,251}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1586},{271,271}}</string>
                <key>offset</key>
                <string>{-17,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{271,271}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,534},{293,229}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{293,229}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,765},{259,243}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,70},{259,243}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,2},{269,255}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,62},{269,255}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1319},{279,265}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,57},{279,265}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1637},{253,279}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,48},{253,279}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,273},{259,249}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,43},{259,249}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,765},{267,261}}</string>
                <key>offset</key>
                <string>{-15,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,37},{267,261}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1586},{275,271}}</string>
                <key>offset</key>
                <string>{-15,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,32},{275,271}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,1034},{283,285}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,25},{283,285}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,2},{233,295}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,20},{233,295}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,335},{241,309}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,13},{241,309}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,693},{247,319}}</string>
                <key>offset</key>
                <string>{17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,8},{247,319}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,2},{255,331}}</string>
                <key>offset</key>
                <string>{18,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,3},{255,331}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,730},{263,339}}</string>
                <key>offset</key>
                <string>{19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{263,339}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1487},{271,319}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,27},{271,319}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1156},{275,329}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,23},{275,329}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1610},{281,341}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,17},{281,341}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{261,349}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{261,349}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
            <key>tx_lizi_modi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1071},{215,83}}</string>
                <key>offset</key>
                <string>{-18,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,9},{215,83}}</string>
                <key>sourceSize</key>
                <string>{323,363}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_youxi_shuimo_light.png</string>
            <key>size</key>
            <string>{2001,1893}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29ee7f8fc04ce1ec8b2b8f25d8d3ba64:e75c66a35f2f3c539d2c20ded7401fcc:fd58152ac6999ad887b94e71334caa59$</string>
            <key>textureFileName</key>
            <string>tx_youxi_shuimo_light.png</string>
        </dict>
    </dict>
</plist>
