<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_yulechang_czwb_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,157},{278,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,112}}</string>
                <key>sourceSize</key>
                <string>{278,112}</string>
            </dict>
            <key>tx_yulechang_dyj_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{362,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,137}}</string>
                <key>sourceSize</key>
                <string>{362,137}</string>
            </dict>
            <key>tx_yulechang_fz_biaoqing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,157},{233,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,156}}</string>
                <key>sourceSize</key>
                <string>{233,156}</string>
            </dict>
            <key>tx_yulechang_fz_biaoqing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,397},{172,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,121}}</string>
                <key>sourceSize</key>
                <string>{172,121}</string>
            </dict>
            <key>tx_yulechang_fz_biaoqing03.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,635},{233,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,156}}</string>
                <key>sourceSize</key>
                <string>{233,156}</string>
            </dict>
            <key>tx_yulechang_fz_biaoqing04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,754},{93,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,69}}</string>
                <key>sourceSize</key>
                <string>{93,69}</string>
            </dict>
            <key>tx_yulechang_fz_biaoqing05.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,440},{261,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,281}}</string>
                <key>sourceSize</key>
                <string>{261,281}</string>
            </dict>
            <key>tx_yulechang_fz_biaoqing06.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,157},{268,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,281}}</string>
                <key>sourceSize</key>
                <string>{268,281}</string>
            </dict>
            <key>tx_yulechang_fz_biaoqing07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,714},{104,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,112}}</string>
                <key>sourceSize</key>
                <string>{104,112}</string>
            </dict>
            <key>tx_yulechang_fz_shoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,828},{79,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,61}}</string>
                <key>sourceSize</key>
                <string>{79,61}</string>
            </dict>
            <key>tx_yulechang_gaungxiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{631,631}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,631}}</string>
                <key>sourceSize</key>
                <string>{631,631}</string>
            </dict>
            <key>tx_yulechang_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,310},{179,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,139}}</string>
                <key>sourceSize</key>
                <string>{179,139}</string>
            </dict>
            <key>tx_yulechang_go01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,335},{51,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,138}}</string>
                <key>sourceSize</key>
                <string>{51,138}</string>
            </dict>
            <key>tx_yulechang_go02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,600},{91,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,138}}</string>
                <key>sourceSize</key>
                <string>{91,138}</string>
            </dict>
            <key>tx_yulechang_heidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2},{369,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,130}}</string>
                <key>sourceSize</key>
                <string>{369,130}</string>
            </dict>
            <key>tx_yulechang_heidi_shuimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,470},{141,145}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{141,145}}</string>
                <key>sourceSize</key>
                <string>{165,171}</string>
            </dict>
            <key>tx_yulechang_hondi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{447,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,153}}</string>
                <key>sourceSize</key>
                <string>{447,153}</string>
            </dict>
            <key>tx_yulechang_jiesuan_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,437},{301,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,166}}</string>
                <key>sourceSize</key>
                <string>{301,166}</string>
            </dict>
            <key>tx_yulechang_jiesuan_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,703},{190,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,208}}</string>
                <key>sourceSize</key>
                <string>{190,208}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,866},{189,30}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{189,30}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,832},{189,32}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{189,32}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2007,209},{193,34}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{193,34}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,676},{193,36}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{193,36}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,740},{195,38}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{195,38}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,895},{197,40}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{197,40}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,895},{201,40}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{201,40}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,672},{201,42}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{201,42}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,351},{203,44}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{203,44}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,887},{205,46}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{205,46}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{207,48}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{207,48}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,703},{207,50}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{207,50}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,564},{211,52}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{211,52}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,672},{211,52}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{211,52}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,693},{213,54}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{213,54}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,693},{213,54}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{213,54}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,755},{213,56}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{213,56}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,877},{213,56}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{213,56}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,618},{215,56}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{215,56}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,693},{217,58}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{217,58}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,879},{217,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{217,56}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,753},{217,58}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{217,58}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,631},{217,60}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{217,60}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,273},{219,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{219,60}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,392},{219,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{219,60}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,209},{219,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,62}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,813},{209,62}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{209,62}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,141},{209,64}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{209,64}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,498},{211,64}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{211,64}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jiesuan_lizi_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,813},{211,64}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{211,64}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>tx_yulechang_jinbi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,895},{39,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,22}}</string>
                <key>sourceSize</key>
                <string>{39,22}</string>
            </dict>
            <key>tx_yulechang_jinbi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,703},{28,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>tx_yulechang_kaiju_honfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,613},{156,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,57}}</string>
                <key>sourceSize</key>
                <string>{156,57}</string>
            </dict>
            <key>tx_yulechang_kaiju_lanfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,567},{158,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,62}}</string>
                <key>sourceSize</key>
                <string>{158,62}</string>
            </dict>
            <key>tx_yulechang_kaiju_muban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,475},{87,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,96}}</string>
                <key>sourceSize</key>
                <string>{87,96}</string>
            </dict>
            <key>tx_yulechang_kaiju_zhandan.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,776},{53,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,67}}</string>
                <key>sourceSize</key>
                <string>{53,67}</string>
            </dict>
            <key>tx_yulechang_shengli_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,573},{79,89}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,44},{79,89}}</string>
                <key>sourceSize</key>
                <string>{165,171}</string>
            </dict>
            <key>tx_yulechang_xzxyq-wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{414,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,109}}</string>
                <key>sourceSize</key>
                <string>{414,109}</string>
            </dict>
            <key>tx_yulechang_zdbs_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{472,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,139}}</string>
                <key>sourceSize</key>
                <string>{472,139}</string>
            </dict>
            <key>tx_yulechang_zhadan_baozha_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,825},{59,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,76},{59,62}}</string>
                <key>sourceSize</key>
                <string>{205,212}</string>
            </dict>
            <key>tx_yulechang_zhadan_baozha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,654},{91,98}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,61},{91,98}}</string>
                <key>sourceSize</key>
                <string>{205,212}</string>
            </dict>
            <key>tx_yulechang_zhadan_baozha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,714},{111,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,50},{111,116}}</string>
                <key>sourceSize</key>
                <string>{205,212}</string>
            </dict>
            <key>tx_yulechang_zhadan_baozha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,571},{125,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,41},{125,130}}</string>
                <key>sourceSize</key>
                <string>{205,212}</string>
            </dict>
            <key>tx_yulechang_zhadan_baozha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,451},{147,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,30},{147,152}}</string>
                <key>sourceSize</key>
                <string>{205,212}</string>
            </dict>
            <key>tx_yulechang_zhadan_baozha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,134},{169,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{169,174}}</string>
                <key>sourceSize</key>
                <string>{205,212}</string>
            </dict>
            <key>tx_yulechang_zhadan_baozha_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,740},{189,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{189,196}}</string>
                <key>sourceSize</key>
                <string>{205,212}</string>
            </dict>
            <key>tx_yulechang_zhadan_baozha_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,2},{205,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,212}}</string>
                <key>sourceSize</key>
                <string>{205,212}</string>
            </dict>
            <key>tx_yulechang_zhadan_baozha_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,141},{203,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{203,208}}</string>
                <key>sourceSize</key>
                <string>{205,212}</string>
            </dict>
            <key>tx_yulechang_zhadan_baozha_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,304},{155,164}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{155,164}}</string>
                <key>sourceSize</key>
                <string>{205,212}</string>
            </dict>
            <key>tx_yulechang_zhadan_baozha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,335},{161,166}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{161,166}}</string>
                <key>sourceSize</key>
                <string>{205,212}</string>
            </dict>
            <key>tx_yulechang_zhadan_baozha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,134},{165,168}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{165,168}}</string>
                <key>sourceSize</key>
                <string>{205,212}</string>
            </dict>
            <key>tx_yulechang_zhadan_baozha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,397},{165,168}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{165,168}}</string>
                <key>sourceSize</key>
                <string>{205,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_yulechang_he.png</string>
            <key>size</key>
            <string>{2043,937}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dee6fbb829204b36eb3913d78f87b1f9:1a9b2543a13ae8492696f3defac8a7d6:24c2c246df1c2040510828aeb3bb64cd$</string>
            <key>textureFileName</key>
            <string>tx_yulechang_he.png</string>
        </dict>
    </dict>
</plist>
