<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_youxi_light_zhishiqi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{116,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,126}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{122,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{122,118}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{74,64}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,28},{74,64}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,872},{32,66}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,9},{32,66}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,908},{32,66}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,8},{32,66}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,988},{32,68}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,7},{32,68}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{26,68}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,6},{26,68}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,908},{22,68}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,6},{22,68}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,940},{22,68}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,6},{22,68}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,916},{32,70}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{32,70}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,916},{32,68}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,6},{32,68}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,976},{32,44}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,30},{32,44}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,872},{34,46}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,27},{34,46}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,872},{34,48}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,26},{34,48}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{100,72}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{100,72}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,112},{104,72}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{104,72}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,798},{110,72}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{110,72}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,714},{110,82}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{110,82}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{110,82}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{110,82}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{110,84}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{110,84}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,624},{110,88}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{110,88}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{110,92}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{110,92}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,526},{110,96}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{110,96}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{110,98}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{110,98}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,186},{110,102}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{110,102}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{108,108}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{108,108}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,298},{112,112}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{112,112}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,412},{112,112}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{112,112}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>tx_youxi_light_zhishiqi_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{116,114}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{116,114}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_youxi_light_zhishiqi.png</string>
            <key>size</key>
            <string>{240,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79df5108c110ceda1a25e7c2b93c4ea6:1488d714511e7a47bb549783670e79ac:de38814b9f27d838c6b68fab5164b8a4$</string>
            <key>textureFileName</key>
            <string>tx_youxi_light_zhishiqi.png</string>
        </dict>
    </dict>
</plist>
