<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xyqd_linqu_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{377,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,377}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>xyqd_linqu_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,2},{700,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,365}}</string>
                <key>sourceSize</key>
                <string>{700,365}</string>
            </dict>
            <key>xyqd_linqu_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{736,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{736,474}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xyqd_lingqu_light.png</string>
            <key>size</key>
            <string>{1821,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7d5c97b19ee23b7b4792d3865a43aac:b357412052f51befd43b9e1277055fce:ca39a92b88750a0debdd218b47c595bb$</string>
            <key>textureFileName</key>
            <string>xyqd_lingqu_light.png</string>
        </dict>
    </dict>
</plist>
