<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,122},{108,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,26}}</string>
                <key>sourceSize</key>
                <string>{108,26}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,232},{108,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,26}}</string>
                <key>sourceSize</key>
                <string>{108,26}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,342},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,122},{300,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,26}}</string>
                <key>sourceSize</key>
                <string>{300,26}</string>
            </dict>
            <key>beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{760,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,436}}</string>
                <key>sourceSize</key>
                <string>{760,436}</string>
            </dict>
            <key>meiriljb.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,396},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>tianshudb.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,342},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,424},{319,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,14}}</string>
                <key>sourceSize</key>
                <string>{319,14}</string>
            </dict>
            <key>yuekabt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{740,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{740,118}}</string>
                <key>sourceSize</key>
                <string>{740,118}</string>
            </dict>
            <key>yuekabt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,122},{664,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,118}}</string>
                <key>sourceSize</key>
                <string>{664,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yueka.png</string>
            <key>size</key>
            <string>{1506,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a799f9be515ef15af8d6c38a1a9f5bdc:56a7ead104942814c43861e3fa5ca210:f9d521de5bc0db19166bcf92821562f3$</string>
            <key>textureFileName</key>
            <string>yueka.png</string>
        </dict>
    </dict>
</plist>
