<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exchange/DHJL_wenben.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,224}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{478,224}}</string>
                <key>sourceSize</key>
                <string>{488,228}</string>
            </dict>
            <key>exchange/DHJM-shiwuduihuan_ziyuandiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{198,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,38}}</string>
                <key>sourceSize</key>
                <string>{198,38}</string>
            </dict>
            <key>exchange/DHJM-shiwuduihuan_ziyuantubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>exchange/DHJM_shiwuduihuang_anniujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>exchange/DHJM_shiwuduihuang_shurukuangdiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>exchange/DHJM_shuwuduihuan_jiantuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>exchange/JPDH_BQ_jjdc.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>exchange/JPDH_BQ_kydh.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>exchange/JPDH_BQ_remen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>exchange/JPDH_JP_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,228},{254,338}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,338}}</string>
                <key>sourceSize</key>
                <string>{256,340}</string>
            </dict>
            <key>exchange/JPDH_TB_yd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,228},{202,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,296}}</string>
                <key>sourceSize</key>
                <string>{202,296}</string>
            </dict>
            <key>exchange/JPDH_TB_yd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,228},{202,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,296}}</string>
                <key>sourceSize</key>
                <string>{202,296}</string>
            </dict>
            <key>exchange/JPDH_TB_yd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,228},{202,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,296}}</string>
                <key>sourceSize</key>
                <string>{202,296}</string>
            </dict>
            <key>exchange/JPDH_btn_xiala.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,228},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>exchange/JPDH_dhjl_btdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{764,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{764,56}}</string>
                <key>sourceSize</key>
                <string>{764,56}</string>
            </dict>
            <key>exchange/JPDH_jdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,568},{160,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,16}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>exchange/JPDH_jdt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{160,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,16}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>exchange/JPDH_srk.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,626},{52,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>exchange/JPDH_yzm_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,626},{756,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{756,230}}</string>
                <key>sourceSize</key>
                <string>{756,232}</string>
            </dict>
            <key>exchange/SJNZ_gx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{83,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{83,31}}</string>
                <key>sourceSize</key>
                <string>{87,31}</string>
            </dict>
            <key>exchange/btn_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,858},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>exchange/exchangePlainBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,858},{130,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,54}}</string>
                <key>sourceSize</key>
                <string>{130,54}</string>
            </dict>
            <key>exchange/exchangePlainShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,858},{210,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,54}}</string>
                <key>sourceSize</key>
                <string>{210,54}</string>
            </dict>
            <key>exchange/fenlanx.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,858},{2,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,118}}</string>
                <key>sourceSize</key>
                <string>{2,118}</string>
            </dict>
            <key>exchange/genghuangduihuangma.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,858},{111,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,24}}</string>
                <key>sourceSize</key>
                <string>{111,24}</string>
            </dict>
            <key>exchange/shuruk.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,858},{390,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,60}}</string>
                <key>sourceSize</key>
                <string>{390,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exchange.png</string>
            <key>size</key>
            <string>{978,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:940c53ef600075cc15d04324e232ecea:10b8ceba6a3892733ce5072a824420e8:f579675e0bc555f257cbef147ad6f528$</string>
            <key>textureFileName</key>
            <string>exchange.png</string>
        </dict>
    </dict>
</plist>
