<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SC_TB_jiangpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,415},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,41},{74,80}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>SC_TB_jinb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,324},{102,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,40},{102,84}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>SC_TB_zisezuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,324},{98,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,44},{98,74}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>XYDCJ_CJ_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{1068,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1068,320}}</string>
                <key>sourceSize</key>
                <string>{1068,320}</string>
            </dict>
            <key>XYDCJ_JP_dk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,324},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>XYDCJ_btn_xk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,428},{177,63}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,63}}</string>
                <key>sourceSize</key>
                <string>{177,69}</string>
            </dict>
            <key>XYDCJ_btn_xk1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,220},{177,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,69}}</string>
                <key>sourceSize</key>
                <string>{177,69}</string>
            </dict>
            <key>XYDCJ_btn_xk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,424},{177,63}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,63}}</string>
                <key>sourceSize</key>
                <string>{177,69}</string>
            </dict>
            <key>XYDCJ_btn_xk2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,391},{177,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,69}}</string>
                <key>sourceSize</key>
                <string>{177,69}</string>
            </dict>
            <key>XYDCJ_deng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,428},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>XYDCJ_deng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,465},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>XYDCJ_deng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,220},{171,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,244}}</string>
                <key>sourceSize</key>
                <string>{171,244}</string>
            </dict>
            <key>choujiangzhi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{300,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,61}}</string>
                <key>sourceSize</key>
                <string>{300,61}</string>
            </dict>
            <key>choujiangzhi_shuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,32}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{480,32}}</string>
                <key>sourceSize</key>
                <string>{504,36}</string>
            </dict>
            <key>icon_choujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,324},{81,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,89}}</string>
                <key>sourceSize</key>
                <string>{81,89}</string>
            </dict>
            <key>img_effect_on_prize_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,324},{96,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{96,98}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>img_effect_on_prize_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,324},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{96,98}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>img_prize_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,324},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>img_progressbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,465},{276,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{276,25}}</string>
                <key>sourceSize</key>
                <string>{278,27}</string>
            </dict>
            <key>jindutiao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,436},{278,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,27}}</string>
                <key>sourceSize</key>
                <string>{278,27}</string>
            </dict>
            <key>mianfeichoujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,2},{638,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,216}}</string>
                <key>sourceSize</key>
                <string>{638,216}</string>
            </dict>
            <key>pukepai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,324},{159,228}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{159,228}}</string>
                <key>sourceSize</key>
                <string>{175,244}</string>
            </dict>
            <key>pukepai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,324},{159,228}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{159,228}}</string>
                <key>sourceSize</key>
                <string>{175,244}</string>
            </dict>
            <key>pukepai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,220},{169,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{169,238}}</string>
                <key>sourceSize</key>
                <string>{175,244}</string>
            </dict>
            <key>pukepai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,220},{175,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,244}}</string>
                <key>sourceSize</key>
                <string>{175,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>free_draw.png</string>
            <key>size</key>
            <string>{1836,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f50929ac1bf26b08bb8a1ac4eccabea5:83cabfbbbd4d313717f54cfb03ab4889:cb57275136fbd95fe4ef746be1e85980$</string>
            <key>textureFileName</key>
            <string>free_draw.png</string>
        </dict>
    </dict>
</plist>
