<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QDJM_baoxiang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,901},{66,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,25}}</string>
                <key>sourceSize</key>
                <string>{66,25}</string>
            </dict>
            <key>btn_chuji.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{359,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,394}}</string>
                <key>sourceSize</key>
                <string>{359,394}</string>
            </dict>
            <key>chigangpai_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,542},{221,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,112}}</string>
                <key>sourceSize</key>
                <string>{221,112}</string>
            </dict>
            <key>chigangpai_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1121},{66,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,87}}</string>
                <key>sourceSize</key>
                <string>{66,87}</string>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1903},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>hpmj_greenbt.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1284},{236,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,92}}</string>
                <key>sourceSize</key>
                <string>{236,92}</string>
            </dict>
            <key>hpmj_greenbt_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,765},{236,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,92}}</string>
                <key>sourceSize</key>
                <string>{236,92}</string>
            </dict>
            <key>jiesuan_fengxiang_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,920},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>kaishiyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1711},{170,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,48}}</string>
                <key>sourceSize</key>
                <string>{170,48}</string>
            </dict>
            <key>mj_DPJM_TB_KC.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,1712},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>mj_QDJM_baoxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,992},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>mj_QDJM_baoxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1056},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>mj_YXC_TB_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1892},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>mj_caidan_zhankai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,1790},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>mj_caidan_zhankai_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{543,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,720}}</string>
                <key>sourceSize</key>
                <string>{543,720}</string>
            </dict>
            <key>mj_gd_red_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,731},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>mj_gd_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,1868},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>mj_huoqujinbi_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1439},{67,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,26}}</string>
                <key>sourceSize</key>
                <string>{67,26}</string>
            </dict>
            <key>mj_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1581},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>mj_kaiju_benchangmenpiao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1719},{231,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,33}}</string>
                <key>sourceSize</key>
                <string>{231,33}</string>
            </dict>
            <key>mj_mj_caidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1153},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>mj_play_DPJM_tubiao_liaotiananniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1231},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>mj_shengyupai_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1465},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>mj_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,731},{168,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,71}}</string>
                <key>sourceSize</key>
                <string>{168,71}</string>
            </dict>
            <key>mj_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1309},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>mj_tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,750},{168,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,71}}</string>
                <key>sourceSize</key>
                <string>{168,71}</string>
            </dict>
            <key>mj_wanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,750},{168,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,71}}</string>
                <key>sourceSize</key>
                <string>{168,71}</string>
            </dict>
            <key>mj_wanjiatouxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1633},{77,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,94}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>mj_wifi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1113},{93,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,38}}</string>
                <key>sourceSize</key>
                <string>{93,38}</string>
            </dict>
            <key>mj_wifi_qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1915},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>mj_wifi_ruo.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2006},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>mj_wifi_zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1992},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>mj_xinhao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1910},{109,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,38}}</string>
                <key>sourceSize</key>
                <string>{109,38}</string>
            </dict>
            <key>mj_xinhao_qing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1631},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>mj_xinhao_ruo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1656},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>mj_xinhao_zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1681},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>new_daojishishuzi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,940},{80,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,55}}</string>
                <key>sourceSize</key>
                <string>{80,55}</string>
            </dict>
            <key>new_dizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,398},{217,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,142}}</string>
                <key>sourceSize</key>
                <string>{217,142}</string>
            </dict>
            <key>new_gd_red_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2006},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>new_huoqujinbi_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2021},{72,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,21}}</string>
                <key>sourceSize</key>
                <string>{72,21}</string>
            </dict>
            <key>new_img_desk_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,356}}</string>
                <key>sourceSize</key>
                <string>{1280,356}</string>
            </dict>
            <key>new_rush_base1.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1003},{186,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,122}}</string>
                <key>sourceSize</key>
                <string>{186,122}</string>
            </dict>
            <key>new_rush_base2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,461},{186,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,122}}</string>
                <key>sourceSize</key>
                <string>{186,122}</string>
            </dict>
            <key>new_rush_base3.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1191},{186,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,122}}</string>
                <key>sourceSize</key>
                <string>{186,122}</string>
            </dict>
            <key>new_rush_base4.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1315},{186,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,122}}</string>
                <key>sourceSize</key>
                <string>{186,122}</string>
            </dict>
            <key>new_rush_point1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1719},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,64}}</string>
                <key>sourceSize</key>
                <string>{182,64}</string>
            </dict>
            <key>new_rush_point1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,649},{99,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,122}}</string>
                <key>sourceSize</key>
                <string>{99,122}</string>
            </dict>
            <key>new_rush_point1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1711},{179,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,65}}</string>
                <key>sourceSize</key>
                <string>{179,65}</string>
            </dict>
            <key>new_rush_point1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1315},{97,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,122}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>new_rush_point2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1439},{187,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,68}}</string>
                <key>sourceSize</key>
                <string>{187,68}</string>
            </dict>
            <key>new_rush_point2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,992},{93,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,119}}</string>
                <key>sourceSize</key>
                <string>{93,119}</string>
            </dict>
            <key>new_rush_point2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,765},{173,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,64}}</string>
                <key>sourceSize</key>
                <string>{173,64}</string>
            </dict>
            <key>new_rush_point2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1712},{99,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,121}}</string>
                <key>sourceSize</key>
                <string>{99,121}</string>
            </dict>
            <key>new_rush_point3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1509},{183,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,66}}</string>
                <key>sourceSize</key>
                <string>{183,66}</string>
            </dict>
            <key>new_rush_point3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1509},{93,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,122}}</string>
                <key>sourceSize</key>
                <string>{93,122}</string>
            </dict>
            <key>new_rush_point3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1849},{169,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,59}}</string>
                <key>sourceSize</key>
                <string>{169,59}</string>
            </dict>
            <key>new_rush_point3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,997},{94,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,122}}</string>
                <key>sourceSize</key>
                <string>{94,122}</string>
            </dict>
            <key>new_rush_point4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,542},{187,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,122}}</string>
                <key>sourceSize</key>
                <string>{187,122}</string>
            </dict>
            <key>new_rush_point4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1509},{185,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,122}}</string>
                <key>sourceSize</key>
                <string>{185,122}</string>
            </dict>
            <key>new_rush_point4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1522},{187,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,122}}</string>
                <key>sourceSize</key>
                <string>{187,122}</string>
            </dict>
            <key>new_rush_point4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1910},{94,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,118}}</string>
                <key>sourceSize</key>
                <string>{94,118}</string>
            </dict>
            <key>quxiaotuoguan_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{1280,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,174}}</string>
                <key>sourceSize</key>
                <string>{1280,174}</string>
            </dict>
            <key>ting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{1280,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,174}}</string>
                <key>sourceSize</key>
                <string>{1280,174}</string>
            </dict>
            <key>tingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1696},{151,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,145}}</string>
                <key>sourceSize</key>
                <string>{151,145}</string>
            </dict>
            <key>tingpai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1387},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>tingpai_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1946},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>tingpai_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1189},{120,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,77}}</string>
                <key>sourceSize</key>
                <string>{120,77}</string>
            </dict>
            <key>tingpai_fan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1120},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>tingpai_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1835},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>tingpai_zhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,1120},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>tip_tingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1505},{74,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,39}}</string>
                <key>sourceSize</key>
                <string>{74,39}</string>
            </dict>
            <key>tip_tingpaitishixx.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1952},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>tx_moban.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1915},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>tx_moban2.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1946},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tx_mobanA.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1915},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>tx_mobanB.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1946},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tx_mobanC.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1439},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tx_mobanD.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,920},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>xl_zhuomian_wenzi_xingxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2006},{230,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,28}}</string>
                <key>sourceSize</key>
                <string>{230,28}</string>
            </dict>
            <key>zhengzaipipeizhong_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1284},{433,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,57}}</string>
                <key>sourceSize</key>
                <string>{433,57}</string>
            </dict>
            <key>zhunbeizhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,398},{158,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,61}}</string>
                <key>sourceSize</key>
                <string>{158,61}</string>
            </dict>
            <key>zhuomianyouximingcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2006},{258,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,25}}</string>
                <key>sourceSize</key>
                <string>{258,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_tableui.png</string>
            <key>size</key>
            <string>{1091,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81aaacc92ef1e805073bb0584c12ff19:eda16382f667a48c4d2c58ef09c1d940:0bdddb97a76bb605e2a6638110cc900f$</string>
            <key>textureFileName</key>
            <string>majiang_tableui.png</string>
        </dict>
    </dict>
</plist>
