<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>majingguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{84,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,117}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>majingguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{84,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,117}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>majingguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{84,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,117}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>majingguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{82,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,117}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>majingguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{82,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,117}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>majingguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{82,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,117}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>majingguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{82,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,117}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>majingguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{84,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,117}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>majingguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{84,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,117}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>majingguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,117}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>majingguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,2},{84,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,115}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>majingguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{84,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,115}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>majingguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{84,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,115}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>majingguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,2},{84,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,115}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>majingguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{84,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,115}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>majingguang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{84,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,115}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>majingguang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{84,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,115}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>majingguang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,117}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majingguang.png</string>
            <key>size</key>
            <string>{1542,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f62cdc224781405e5cf0cd9268d327a$</string>
            <key>textureFileName</key>
            <string>majingguang.png</string>
        </dict>
    </dict>
</plist>
