<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xl_youxi_guafeng_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,245}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,316},{312,243}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{312,243}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,630},{312,243}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{312,243}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{312,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,245}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,316},{312,243}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{312,243}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{312,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,245}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{312,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,245}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,316},{312,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,245}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,630},{312,241}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{312,241}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,316},{312,241}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{312,241}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,630},{312,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,245}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{312,243}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{312,243}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,2},{312,237}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{312,237}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,316},{312,243}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{312,243}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{312,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,245}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,2},{312,237}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{312,237}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,316},{312,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,245}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,630},{312,237}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{312,237}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,316},{312,235}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{312,235}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,2},{312,243}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{312,243}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,630},{312,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,245}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
            <key>xl_youxi_guafeng_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{312,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,245}}</string>
                <key>sourceSize</key>
                <string>{312,245}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_xl_youxi_guafeng.png</string>
            <key>size</key>
            <string>{1958,877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82a247080e7a358d7f5198a9681734b6:e9024416162287611ba038ea087aab33:2f2edb65915a7a1530d2cd053cc54a9d$</string>
            <key>textureFileName</key>
            <string>tx_xl_youxi_guafeng.png</string>
        </dict>
    </dict>
</plist>
