<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_xl_hua01.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,137},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{27,16}</string>
            </dict>
            <key>tx_xl_hua02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,991},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>tx_xl_jiesuan_chahuazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,515},{276,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,123}}</string>
                <key>sourceSize</key>
                <string>{276,123}</string>
            </dict>
            <key>tx_xl_jiesuan_duijujieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,137},{364,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,131}}</string>
                <key>sourceSize</key>
                <string>{364,131}</string>
            </dict>
            <key>tx_xl_jiesuan_huangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,878},{203,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,133}}</string>
                <key>sourceSize</key>
                <string>{203,133}</string>
            </dict>
            <key>tx_xl_jiesuan_hujiaozhaungyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,270},{349,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,116}}</string>
                <key>sourceSize</key>
                <string>{349,116}</string>
            </dict>
            <key>tx_xl_jiesuan_laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,515},{150,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,185}}</string>
                <key>sourceSize</key>
                <string>{150,185}</string>
            </dict>
            <key>tx_xl_jiesuan_qiangganghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{276,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,107}}</string>
                <key>sourceSize</key>
                <string>{276,107}</string>
            </dict>
            <key>tx_xl_jiesuan_shuzi_dihong.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,702},{193,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,71}}</string>
                <key>sourceSize</key>
                <string>{193,71}</string>
            </dict>
            <key>tx_xl_jiesuan_shuzi_dilan.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,775},{193,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,71}}</string>
                <key>sourceSize</key>
                <string>{193,71}</string>
            </dict>
            <key>tx_xl_jiesuan_tuishui.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,280},{109,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,64}}</string>
                <key>sourceSize</key>
                <string>{109,64}</string>
            </dict>
            <key>tx_xl_jiesuan_txhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,640},{271,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,117}}</string>
                <key>sourceSize</key>
                <string>{271,117}</string>
            </dict>
            <key>tx_xl_jiesuan_txlan.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,759},{270,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,117}}</string>
                <key>sourceSize</key>
                <string>{270,117}</string>
            </dict>
            <key>tx_xl_jiesuan_weiting.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,338},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>tx_xl_jiesuan_wenli_hongdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{382,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,133}}</string>
                <key>sourceSize</key>
                <string>{382,133}</string>
            </dict>
            <key>tx_xl_jiesuan_yipaoduoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{344,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,104}}</string>
                <key>sourceSize</key>
                <string>{344,104}</string>
            </dict>
            <key>xl_jiesuan_guangdian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,878},{153,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,143}}</string>
                <key>sourceSize</key>
                <string>{153,143}</string>
            </dict>
            <key>xl_jiesuan_huazhu_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,908},{81,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,51}}</string>
                <key>sourceSize</key>
                <string>{81,51}</string>
            </dict>
            <key>xl_jiesuan_huci_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,970},{124,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,51}}</string>
                <key>sourceSize</key>
                <string>{124,51}</string>
            </dict>
            <key>xl_jiesuan_jiemian_jinbikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,391},{204,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,58}}</string>
                <key>sourceSize</key>
                <string>{204,58}</string>
            </dict>
            <key>xl_jiesuan_jiemian_pochang.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,280},{77,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,56}}</string>
                <key>sourceSize</key>
                <string>{77,56}</string>
            </dict>
            <key>xl_jiesuan_jiemian_touxaingkang.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,775},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>xl_jiesuan_jiemian_wangjiakuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,388},{334,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,125}}</string>
                <key>sourceSize</key>
                <string>{334,125}</string>
            </dict>
            <key>xl_jiesuan_jiemian_zijikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{904,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{904,401}}</string>
                <key>sourceSize</key>
                <string>{904,401}</string>
            </dict>
            <key>xl_jiesuan_weiting_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,597},{79,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,51}}</string>
                <key>sourceSize</key>
                <string>{79,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_xl_jiesuan.png</string>
            <key>size</key>
            <string>{901,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da372f82d8735f4bd49f5c8b9e80ac41:0666d04b3ec0ba50a223203eab4844ce:ff9a6fa7f83395517655144505e711ef$</string>
            <key>textureFileName</key>
            <string>tx_xl_jiesuan.png</string>
        </dict>
    </dict>
</plist>
