<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_xl_chonzhizhong_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,361},{143,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,63}}</string>
                <key>sourceSize</key>
                <string>{143,63}</string>
            </dict>
            <key>tx_xl_jieshuanzhong_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,290},{147,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,69}}</string>
                <key>sourceSize</key>
                <string>{147,69}</string>
            </dict>
            <key>tx_xl_zhunbeizhong_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,361},{158,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,61}}</string>
                <key>sourceSize</key>
                <string>{158,61}</string>
            </dict>
            <key>xl_dinque_anniu_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{139,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,145}}</string>
                <key>sourceSize</key>
                <string>{139,145}</string>
            </dict>
            <key>xl_dinque_anniu_tiao_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,443},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>xl_dinque_anniu_tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2},{139,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,145}}</string>
                <key>sourceSize</key>
                <string>{139,145}</string>
            </dict>
            <key>xl_dinque_anniu_tong_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,357},{80,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,107}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>xl_dinque_anniu_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,149},{139,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,145}}</string>
                <key>sourceSize</key>
                <string>{139,145}</string>
            </dict>
            <key>xl_dinque_anniu_wan_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,253},{94,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,102}}</string>
                <key>sourceSize</key>
                <string>{94,102}</string>
            </dict>
            <key>xl_dinque_dinquezhong_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,230},{158,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,60}}</string>
                <key>sourceSize</key>
                <string>{158,60}</string>
            </dict>
            <key>xl_dinque_huanpai_jiantou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{60,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,226}}</string>
                <key>sourceSize</key>
                <string>{60,226}</string>
            </dict>
            <key>xl_dinque_huanpai_jiantou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{505,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,439}}</string>
                <key>sourceSize</key>
                <string>{505,439}</string>
            </dict>
            <key>xl_dinque_huanpai_tishi_heidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{394,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,139}}</string>
                <key>sourceSize</key>
                <string>{394,139}</string>
            </dict>
            <key>xl_dinque_huanpaizhong_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,390},{161,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,62}}</string>
                <key>sourceSize</key>
                <string>{161,62}</string>
            </dict>
            <key>xl_dinque_que_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,149},{96,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,102}}</string>
                <key>sourceSize</key>
                <string>{96,102}</string>
            </dict>
            <key>xl_dinque_que_tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,521},{72,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,102}}</string>
                <key>sourceSize</key>
                <string>{72,102}</string>
            </dict>
            <key>xl_dinque_que_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,506},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,96}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>xl_dinque_tishi_heidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{585,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,161}}</string>
                <key>sourceSize</key>
                <string>{585,161}</string>
            </dict>
            <key>xl_dinque_tubiao_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,553},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>xl_dinque_tubiao_tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,551},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>xl_dinque_tubiao_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,551},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>xl_dinque_xuanpaizhong_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,361},{158,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,63}}</string>
                <key>sourceSize</key>
                <string>{158,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_xl_dinque.png</string>
            <key>size</key>
            <string>{1016,604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d8b50f2ab1c3b6d7b6f9b8ac79ca26f:f7bda90dcb725116c97838161c5da5b2:677094eda5e1949741bdb3fa69194d94$</string>
            <key>textureFileName</key>
            <string>tx_xl_dinque.png</string>
        </dict>
    </dict>
</plist>
