<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xl_youxi_xiayu_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,283},{263,378}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{263,378}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{297,380}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,380}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{301,380}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{301,380}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,2},{305,310}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,93},{305,310}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,309},{281,296}}</string>
                <key>offset</key>
                <string>{-19,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,91},{281,296}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,688},{297,294}}</string>
                <key>offset</key>
                <string>{-11,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,93},{297,294}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,688},{295,292}}</string>
                <key>offset</key>
                <string>{-11,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,95},{295,292}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{267,370}}</string>
                <key>offset</key>
                <string>{-25,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,44},{267,370}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,301},{253,362}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,25},{253,362}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,388}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{259,388}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,2},{285,266}}</string>
                <key>offset</key>
                <string>{-7,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,121},{285,266}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,374},{277,312}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,75},{277,312}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,637},{257,328}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,69},{257,328}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,374},{261,334}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,53},{261,334}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,301},{265,334}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{265,334}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,663},{267,354}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{267,354}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{279,386}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{279,386}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{297,374}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{297,374}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,637},{303,244}}</string>
                <key>offset</key>
                <string>{6,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,143},{303,244}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
            <key>xl_youxi_xiayu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,665},{305,248}}</string>
                <key>offset</key>
                <string>{7,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,139},{305,248}}</string>
                <key>sourceSize</key>
                <string>{319,414}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_xl_youxi_xiayu.png</string>
            <key>size</key>
            <string>{2035,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c321c5ab72c81504dc58b5a23892ba0:591844db0a7c0f515ec245c0a93cd857:6aeebfa17ae7a6e7ac37d72c21b3e4fd$</string>
            <key>textureFileName</key>
            <string>tx_xl_youxi_xiayu.png</string>
        </dict>
    </dict>
</plist>
