<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xl_huanpai_pai_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{103,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,45}}</string>
                <key>sourceSize</key>
                <string>{103,45}</string>
            </dict>
            <key>xl_huanpai_pai_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{133,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,63}}</string>
                <key>sourceSize</key>
                <string>{133,63}</string>
            </dict>
            <key>xl_huanpai_pai_you.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,96}}</string>
                <key>sourceSize</key>
                <string>{68,96}</string>
            </dict>
            <key>xl_huanpai_pai_zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{68,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,96}}</string>
                <key>sourceSize</key>
                <string>{68,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_xl_huanpai_pai.png</string>
            <key>size</key>
            <string>{438,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:553f9d0abefd3a2c8f5d7f4f7e545e87:03faaff89dede97b6014ee2f4ac23103:8f6248d81b91f7632fa8976b1e0eecd9$</string>
            <key>textureFileName</key>
            <string>tx_xl_huanpai_pai.png</string>
        </dict>
    </dict>
</plist>
