<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daiyaojiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{285,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,138}}</string>
                <key>sourceSize</key>
                <string>{285,138}</string>
            </dict>
            <key>dihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,803},{213,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,131}}</string>
                <key>sourceSize</key>
                <string>{213,131}</string>
            </dict>
            <key>jiangjingoudiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{467,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,131}}</string>
                <key>sourceSize</key>
                <string>{467,131}</string>
            </dict>
            <key>jiangpeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,672},{219,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,129}}</string>
                <key>sourceSize</key>
                <string>{219,129}</string>
            </dict>
            <key>jingoudiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,540},{369,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,130}}</string>
                <key>sourceSize</key>
                <string>{369,130}</string>
            </dict>
            <key>longqidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,408},{333,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,130}}</string>
                <key>sourceSize</key>
                <string>{333,130}</string>
            </dict>
            <key>longqingqidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{429,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,132}}</string>
                <key>sourceSize</key>
                <string>{429,132}</string>
            </dict>
            <key>pengpenghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{320,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,130}}</string>
                <key>sourceSize</key>
                <string>{320,130}</string>
            </dict>
            <key>qidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,668},{239,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,130}}</string>
                <key>sourceSize</key>
                <string>{239,130}</string>
            </dict>
            <key>qingdidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,672},{318,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,131}}</string>
                <key>sourceSize</key>
                <string>{318,131}</string>
            </dict>
            <key>qingjingoudiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{453,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,132}}</string>
                <key>sourceSize</key>
                <string>{453,132}</string>
            </dict>
            <key>qingpeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,800},{202,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,132}}</string>
                <key>sourceSize</key>
                <string>{202,132}</string>
            </dict>
            <key>qingshibaluohan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,131}}</string>
                <key>sourceSize</key>
                <string>{484,131}</string>
            </dict>
            <key>qingyaojiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,275},{285,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,131}}</string>
                <key>sourceSize</key>
                <string>{285,131}</string>
            </dict>
            <key>qingyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,142},{297,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,131}}</string>
                <key>sourceSize</key>
                <string>{297,131}</string>
            </dict>
            <key>shibaluohan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{387,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,130}}</string>
                <key>sourceSize</key>
                <string>{387,130}</string>
            </dict>
            <key>tianhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,800},{208,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,131}}</string>
                <key>sourceSize</key>
                <string>{208,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xl_paixing_teshu_wenzi.png</string>
            <key>size</key>
            <string>{775,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bace59eed06ece22d430799bb96a8ba:462e5e5dea51eabd7fa7481d076072b3:aee29e2013c980a47f845a86135a5967$</string>
            <key>textureFileName</key>
            <string>xl_paixing_teshu_wenzi.png</string>
        </dict>
    </dict>
</plist>
