<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xl_tx_paixing_chahuzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,267},{158,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,72}}</string>
                <key>sourceSize</key>
                <string>{158,72}</string>
            </dict>
            <key>xl_tx_paixing_daijiuyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,2},{180,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,92}}</string>
                <key>sourceSize</key>
                <string>{180,92}</string>
            </dict>
            <key>xl_tx_paixing_dihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,155},{141,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,85}}</string>
                <key>sourceSize</key>
                <string>{141,85}</string>
            </dict>
            <key>xl_tx_paixing_duijujieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{263,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,91}}</string>
                <key>sourceSize</key>
                <string>{263,91}</string>
            </dict>
            <key>xl_tx_paixing_duijujieshu_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,184},{386,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,151}}</string>
                <key>sourceSize</key>
                <string>{386,151}</string>
            </dict>
            <key>xl_tx_paixing_gangshanghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2},{207,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,83}}</string>
                <key>sourceSize</key>
                <string>{207,83}</string>
            </dict>
            <key>xl_tx_paixing_heidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,2},{386,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,151}}</string>
                <key>sourceSize</key>
                <string>{386,151}</string>
            </dict>
            <key>xl_tx_paixing_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,210},{133,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,128}}</string>
                <key>sourceSize</key>
                <string>{133,128}</string>
            </dict>
            <key>xl_tx_paixing_hu_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,2},{144,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,145}}</string>
                <key>sourceSize</key>
                <string>{144,145}</string>
            </dict>
            <key>xl_tx_paixing_huangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,235},{146,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,97}}</string>
                <key>sourceSize</key>
                <string>{146,97}</string>
            </dict>
            <key>xl_tx_paixing_huazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,259},{115,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,73}}</string>
                <key>sourceSize</key>
                <string>{115,73}</string>
            </dict>
            <key>xl_tx_paixing_hujiaozhuangyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{278,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,84}}</string>
                <key>sourceSize</key>
                <string>{278,84}</string>
            </dict>
            <key>xl_tx_paixing_jiangpeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,149},{142,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,84}}</string>
                <key>sourceSize</key>
                <string>{142,84}</string>
            </dict>
            <key>xl_tx_paixing_jinggougou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{205,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,85}}</string>
                <key>sourceSize</key>
                <string>{205,85}</string>
            </dict>
            <key>xl_tx_paixing_jingjianggougou.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{269,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,86}}</string>
                <key>sourceSize</key>
                <string>{269,86}</string>
            </dict>
            <key>xl_tx_paixing_lonqidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{206,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,83}}</string>
                <key>sourceSize</key>
                <string>{206,83}</string>
            </dict>
            <key>xl_tx_paixing_lonqingqidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{257,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,84}}</string>
                <key>sourceSize</key>
                <string>{257,84}</string>
            </dict>
            <key>xl_tx_paixing_luohan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,199},{130,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,85}}</string>
                <key>sourceSize</key>
                <string>{130,85}</string>
            </dict>
            <key>xl_tx_paixing_pengpenghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{208,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,85}}</string>
                <key>sourceSize</key>
                <string>{208,85}</string>
            </dict>
            <key>xl_tx_paixing_qiangganghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{215,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,85}}</string>
                <key>sourceSize</key>
                <string>{215,85}</string>
            </dict>
            <key>xl_tx_paixing_qidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,235},{151,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,82}}</string>
                <key>sourceSize</key>
                <string>{151,82}</string>
            </dict>
            <key>xl_tx_paixing_qingjinggougou.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{255,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,85}}</string>
                <key>sourceSize</key>
                <string>{255,85}</string>
            </dict>
            <key>xl_tx_paixing_qingjiuyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,2},{177,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,84}}</string>
                <key>sourceSize</key>
                <string>{177,84}</string>
            </dict>
            <key>xl_tx_paixing_qingpeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,201},{134,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,84}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>xl_tx_paixing_qingqidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{197,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,84}}</string>
                <key>sourceSize</key>
                <string>{197,84}</string>
            </dict>
            <key>xl_tx_paixing_qingshibaluohan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,85}}</string>
                <key>sourceSize</key>
                <string>{282,85}</string>
            </dict>
            <key>xl_tx_paixing_qingyaojiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,2},{177,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,84}}</string>
                <key>sourceSize</key>
                <string>{177,84}</string>
            </dict>
            <key>xl_tx_paixing_qingyishe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{195,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,84}}</string>
                <key>sourceSize</key>
                <string>{195,84}</string>
            </dict>
            <key>xl_tx_paixing_renshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,273},{135,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,64}}</string>
                <key>sourceSize</key>
                <string>{135,64}</string>
            </dict>
            <key>xl_tx_paixing_shibaluohang.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,2},{231,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,84}}</string>
                <key>sourceSize</key>
                <string>{231,84}</string>
            </dict>
            <key>xl_tx_paixing_tuishui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,242},{120,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,67}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>xl_tx_paixing_weiting.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,261},{104,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,76}}</string>
                <key>sourceSize</key>
                <string>{104,76}</string>
            </dict>
            <key>xl_tx_paixing_yipaoduoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{261,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,84}}</string>
                <key>sourceSize</key>
                <string>{261,84}</string>
            </dict>
            <key>xl_tx_paixing_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,212},{179,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,127}}</string>
                <key>sourceSize</key>
                <string>{179,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xl_tx_paixing_xiaoguo.png</string>
            <key>size</key>
            <string>{2018,341}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2973b987b58ebd91105e6a3355e9551:236871d5d169ac25ba3d7902006eb43a:2acbd2fbe5fd8b42fcf52bdacfc8a3ee$</string>
            <key>textureFileName</key>
            <string>xl_tx_paixing_xiaoguo.png</string>
        </dict>
    </dict>
</plist>
