<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DT_btn_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,717},{129,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,61}}</string>
                <key>sourceSize</key>
                <string>{129,61}</string>
            </dict>
            <key>DT_btn_fankui.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,577},{121,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,59}}</string>
                <key>sourceSize</key>
                <string>{121,59}</string>
            </dict>
            <key>DT_btn_gengduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,732},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>DT_btn_gengduo_zhankaidb.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,641},{110,90}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{110,90}}</string>
                <key>sourceSize</key>
                <string>{116,94}</string>
            </dict>
            <key>DT_btn_haoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,724},{128,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,57}}</string>
                <key>sourceSize</key>
                <string>{128,57}</string>
            </dict>
            <key>DT_btn_huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,186},{68,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,94}}</string>
                <key>sourceSize</key>
                <string>{68,94}</string>
            </dict>
            <key>DT_btn_mianfei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,467},{125,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,60}}</string>
                <key>sourceSize</key>
                <string>{125,60}</string>
            </dict>
            <key>DT_btn_renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,313},{128,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,61}}</string>
                <key>sourceSize</key>
                <string>{128,61}</string>
            </dict>
            <key>DT_btn_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,732},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>DT_btn_xiaoxitishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,594},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>DT_btn_youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,732},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>ZJM_TB_HBGC.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,611},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>ZJM_TB_ZCJN.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,724},{77,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,66}}</string>
                <key>sourceSize</key>
                <string>{77,66}</string>
            </dict>
            <key>btn_erren.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,46},{195,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,156}}</string>
                <key>sourceSize</key>
                <string>{195,156}</string>
            </dict>
            <key>btn_haoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,467},{195,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,156}}</string>
                <key>sourceSize</key>
                <string>{195,156}</string>
            </dict>
            <key>btn_huopin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,482},{240,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,156}}</string>
                <key>sourceSize</key>
                <string>{240,156}</string>
            </dict>
            <key>btn_kuaisu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{342,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,110}}</string>
                <key>sourceSize</key>
                <string>{342,110}</string>
            </dict>
            <key>btn_xueliu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,257},{226,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,208}}</string>
                <key>sourceSize</key>
                <string>{226,208}</string>
            </dict>
            <key>btn_xueliu2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,263},{338,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,312}}</string>
                <key>sourceSize</key>
                <string>{338,312}</string>
            </dict>
            <key>btn_xueliu2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,86},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>btn_xueliu2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,638},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>btn_yulec2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,625},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>caidandb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1383,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{1383,82}}</string>
                <key>sourceSize</key>
                <string>{1383,88}</string>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,746},{50,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fenlanx.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,641},{2,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,62}}</string>
                <key>sourceSize</key>
                <string>{2,62}</string>
            </dict>
            <key>first_charge_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,673},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>fix_time_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,611},{130,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,133}</string>
            </dict>
            <key>labadb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,2},{602,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,42}}</string>
                <key>sourceSize</key>
                <string>{602,42}</string>
            </dict>
            <key>newYearActivityBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,625},{112,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,142}}</string>
                <key>sourceSize</key>
                <string>{112,142}</string>
            </dict>
            <key>onekey_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,717},{172,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,56}}</string>
                <key>sourceSize</key>
                <string>{172,56}</string>
            </dict>
            <key>paihangb2_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,263},{298,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,346}}</string>
                <key>sourceSize</key>
                <string>{298,346}</string>
            </dict>
            <key>paihangb2_liebiaodb.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,646},{275,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,69}}</string>
                <key>sourceSize</key>
                <string>{275,69}</string>
            </dict>
            <key>paihangb2_tab_caifu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,733},{71,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,31}}</string>
                <key>sourceSize</key>
                <string>{71,31}</string>
            </dict>
            <key>paihangb2_tab_caifu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{143,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,39}}</string>
                <key>sourceSize</key>
                <string>{143,39}</string>
            </dict>
            <key>paihangb2_tab_fuka1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,638},{71,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,30}}</string>
                <key>sourceSize</key>
                <string>{71,30}</string>
            </dict>
            <key>paihangb2_tab_fuka2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,758},{143,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,39}}</string>
                <key>sourceSize</key>
                <string>{143,39}</string>
            </dict>
            <key>paihangb_no1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,758},{43,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>paihangb_no2.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,727},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>paihangb_no3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,733},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>plaza_bottom_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{1280,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,79}}</string>
                <key>sourceSize</key>
                <string>{1280,79}</string>
            </dict>
            <key>plaza_guizu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,243},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>plaza_quick_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,46},{407,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,209}}</string>
                <key>sourceSize</key>
                <string>{407,209}</string>
            </dict>
            <key>plaza_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,641},{81,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,97}}</string>
                <key>sourceSize</key>
                <string>{81,97}</string>
            </dict>
            <key>plaza_top_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{1281,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1281,94}}</string>
                <key>sourceSize</key>
                <string>{1281,94}</string>
            </dict>
            <key>plaza_touxiangdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,727},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>poraitBtns_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{650,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,381}}</string>
                <key>sourceSize</key>
                <string>{650,381}</string>
            </dict>
            <key>quick_start_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,769},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{17,20}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>quick_start_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,577},{213,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,62}}</string>
                <key>sourceSize</key>
                <string>{213,62}</string>
            </dict>
            <key>quick_start_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,257},{395,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,223}}</string>
                <key>sourceSize</key>
                <string>{395,223}</string>
            </dict>
            <key>redpacket_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,711},{86,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,89}}</string>
                <key>sourceSize</key>
                <string>{86,89}</string>
            </dict>
            <key>touxiang_model.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,732},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>turn_activity_bd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,482},{260,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,248}}</string>
                <key>sourceSize</key>
                <string>{260,248}</string>
            </dict>
            <key>turn_indicator_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,467},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>turn_indicator_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,243},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>ziyuan_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,46},{191,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,35}}</string>
                <key>sourceSize</key>
                <string>{191,35}</string>
            </dict>
            <key>ziyuan_fuka.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,767},{30,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>ziyuan_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,673},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>ziyuan_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,743},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ziyuan_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,746},{50,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plaza.png</string>
            <key>size</key>
            <string>{1991,799}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:558dcd277af8469be28528532dcca4d6:25520092b337bb0de3519f8a8fbcf5db:e0806e90bb9996875a6dfb603b5efd84$</string>
            <key>textureFileName</key>
            <string>plaza.png</string>
        </dict>
    </dict>
</plist>
