<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_dating_anniu_light02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,410},{64,94}}</string>
                <key>offset</key>
                <string>{-153,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,748},{84,94}}</string>
                <key>offset</key>
                <string>{-143,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,744},{102,94}}</string>
                <key>offset</key>
                <string>{-134,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,288},{120,94}}</string>
                <key>offset</key>
                <string>{-125,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,318},{138,94}}</string>
                <key>offset</key>
                <string>{-116,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{158,94}}</string>
                <key>offset</key>
                <string>{-106,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{172,94}}</string>
                <key>offset</key>
                <string>{-95,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{172,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{172,94}}</string>
                <key>offset</key>
                <string>{-77,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{172,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{172,94}}</string>
                <key>offset</key>
                <string>{-59,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{172,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{172,94}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{172,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{172,94}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{172,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{172,94}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,0},{172,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{172,94}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,0},{172,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{170,94}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,0},{170,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,162},{170,94}}</string>
                <key>offset</key>
                <string>{53,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,0},{170,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,334},{170,94}}</string>
                <key>offset</key>
                <string>{71,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,0},{170,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,506},{170,94}}</string>
                <key>offset</key>
                <string>{90,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,0},{170,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,154},{162,94}}</string>
                <key>offset</key>
                <string>{104,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,0},{162,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,678},{142,94}}</string>
                <key>offset</key>
                <string>{114,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,0},{142,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,162},{124,94}}</string>
                <key>offset</key>
                <string>{123,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,0},{124,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,822},{106,94}}</string>
                <key>offset</key>
                <string>{132,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,0},{106,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light02_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,848},{88,94}}</string>
                <key>offset</key>
                <string>{141,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{370,94}</string>
            </dict>
            <key>tx_dating_anniu_light_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,938},{124,12}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,38},{124,12}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,952},{124,12}}</string>
                <key>offset</key>
                <string>{24,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,37},{124,12}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,872},{124,14}}</string>
                <key>offset</key>
                <string>{26,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,47},{124,14}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,848},{128,16}}</string>
                <key>offset</key>
                <string>{25,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,45},{128,16}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,991},{132,24}}</string>
                <key>offset</key>
                <string>{25,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,42},{132,24}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,872},{134,26}}</string>
                <key>offset</key>
                <string>{24,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,42},{134,26}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,162},{140,58}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,12},{140,58}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,304},{140,58}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,11},{140,58}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,602},{140,60}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,8},{140,60}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,567},{140,62}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,7},{140,62}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,446},{140,58}}</string>
                <key>offset</key>
                <string>{22,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,18},{140,58}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,602},{144,62}}</string>
                <key>offset</key>
                <string>{24,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,14},{144,62}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,80},{192,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{192,72}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{192,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{192,76}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{192,78}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{192,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{192,78}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{144,80}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{144,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,458},{142,80}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{142,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,588},{140,56}}</string>
                <key>offset</key>
                <string>{22,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{140,56}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,730},{140,56}}</string>
                <key>offset</key>
                <string>{21,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{140,56}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{138,28}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,28},{138,28}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_anniu_light_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,872},{136,26}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,28},{136,26}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>tx_dating_shouchong_tubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,844},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>tx_dating_shouchong_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,709},{48,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,29}}</string>
                <key>sourceSize</key>
                <string>{48,29}</string>
            </dict>
            <key>tx_dating_sshangcheng_gowuche.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,930},{107,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>tx_dating_sshangcheng_jiangtou.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,966},{23,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,40}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>tx_dating_sshangcheng_jiaobiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,476},{89,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,108}}</string>
                <key>sourceSize</key>
                <string>{89,108}</string>
            </dict>
            <key>tx_dating_sshangcheng_shenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,567},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>tx_dating_sshangcheng_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,930},{73,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,47}}</string>
                <key>sourceSize</key>
                <string>{73,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_dating_light.png</string>
            <key>size</key>
            <string>{524,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d22a16606221c97e94a494beb2430dba:7519f312bc0a6ef67a671d9a2582c6ff:9fa3b78d0609bae4ed592c0286068336$</string>
            <key>textureFileName</key>
            <string>tx_dating_light.png</string>
        </dict>
    </dict>
</plist>
