<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>intro_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{81,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,85}}</string>
                <key>sourceSize</key>
                <string>{81,85}</string>
            </dict>
            <key>introduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{629,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,720}}</string>
                <key>sourceSize</key>
                <string>{629,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dn_introduce.png</string>
            <key>size</key>
            <string>{807,633}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:773e671c171fd6909ae1714fe467690d:897f97018b8a7f884cc7489448e4b64a:c03ffa3f248270d6c0a63d5bb8b518d3$</string>
            <key>textureFileName</key>
            <string>dn_introduce.png</string>
        </dict>
    </dict>
</plist>
